{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Chemical Engineering</h1>

                </header>
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/EI/home">Home</a></li>
                                    <li><a href="/department/UG/EI/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/EI/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/EI/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/EI/activities">Activities</a></li>
                                    <li class="active"><a href="/department/UG/EI/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/EI/gallery">Photo Gallery</a></li>
                                </ul>
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->

                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">
                                        <h1 class="no-margin-top has-divider text-highlight">Student Achievements</h1>

                                        <div class="content container">
                                            <div class="page-wrapper">
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">
                                                            <ul class="custom-list-style medical">

                                                                <li><i class="fa fa-star"></i>Mr. Vinay Kumar Kulkarni of 5th semester presented a technical paper on “Brain Chips” in the National level paper presentation contest ANVESHANA-2012 organized by ISTE Student Chapter, STJIT, Ranebennur on 17th October 2012.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Vinay Kumar Kulkarni of 5th semester presented a technical paper on “Brain Chips” in the National level paper presentation contest ANVESHANA-2012 organized by ISTE Student Chapter, STJIT, Ranebennur on 17th October 2012.</li><br>
                                                                <li><i class="fa fa-star"></i>The Project titled "Combat Robot"(Seminar category) carried out by Akhilesh, Sindhu, Sudhanva and Sachith Raju, under the guidance of Prof. B M Jayadevappa has been selected for 35th series of KSCST Student Projects Programme-Seminar and Exhibition: 2011-2012 held on 13th and 14th July 2012 at Sri Dharmasthala Manjunatheshwara Institute of Technology, Ujire.</li><br>
                                                                <li><i class="fa fa-star"></i>The Project titled "Baby Incubator with Diagnosis"(Exhibition category) carried out by Megha Urs, Anupama, Tara and Pavani, under the guidance of Mrs.Deepashri K M has been selected for 35th series of KSCST Student Projects Programme-Seminar and Exhibition: 2011-2012 held on 13th and 14th July 2012 at Sri Dharmasthala Manjunatheshwara Institute of Technology, Ujire.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr.Vinay Kumar Kulkarni of 4th semester participated and secured 2nd place in SWADESH-2012. State level competition (Path Way) held at UBDTCE, Davangere on 27th April-2012.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr.Tapan Kumar Hegde of 6th semester participated and secured 2nd place in SWADESH-2012. State level competition (Quiz) held at UBDTCE, Davangere on 26th April-2012.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Tapan Kumar Hegde & Mr. Mahantesh D B of 6th semester presented a paper titled “Neuro Rehabilitation” in 5th National Level Paper Presentation, BME Explore organized by Biomedical department, BIET on 26th March 2012.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr.Mahantesh DB of 6th semester participated in events Pencil sketching, Night out Coding, IT quiz in Insignia-12, National Level Techno-Cultural Fest, conducted by SDMCET, Dharwad.</li><br>
                                                                <li><i class="fa fa-star"></i>Ms.Sandhya (event: folk dance) & Mr. Nandan (event: general quiz) of 6th semester participated in the VTU fest held at MSRIT, Bangalore from 10th to 12th March 2012.</li><br>
                                                                <li><i class="fa fa-star"></i>The Project titled "DEVINE-Device for Visually Impaired Navigating for Everywhere"(Exhibition category) carried out by Megha, Archana, Shobha and Ramya G R, under the guidance of Prof. B M Jayadevappa has been selected for 33rd series of KSCST Student Projects Programme-Seminar and Exhibition: 2009-2010 held on 6th & 7th August 2010 at SIET, Tumkur.</li><br>
                                                                <button type="button" class="btn btn-theme">See More</button>
                                                            </ul>


                                                        </article><!--//page-content-->
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page-->
                                        </div>
                                    </div>

                                <br>

                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">
                                        <h1 class="no-margin-top has-divider text-highlight">Staff Achievements</h1>

                                        <div class="content container">
                                            <div class="page-wrapper">
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Smt.Pushpalatha O, Asst. Prof, attended a workshop on “Deep dive faculty enablement program” conducted by Infosys, Bangalore from 28th Jan to 1st Feb 2012 at BIET, Davangere.</li><br>
                                                                <li><i class="fa fa-star"></i>Smt .Deepashri K M, Asst. Prof, attended a workshop on “high Impact Teaching Skills” under Mission 10X organized by Wipro, Bangalore from 28th may to 1st June 2012 held at BIET, Davangere.</li><br>
                                                                <li><i class="fa fa-star"></i>Prof B.M.Jayadevappa presented a paper titled “Pulse Rate Variability & spectral analysis of PPG Signal for assessment of cardiovascular systems” in the international conference on Bio-Medical Engineering (ICBME-2011) held at MIT, Manipal from 10th to 12th Dec 2011.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr S.Siddesh Kurki, instructor, was honoured by Vishwa Kannada Samrakshana Trust, Bangalore with “Vishwa Kannada Kanmani” award for the year 2010-2011 at Raghavendra Math Mantralaya on 3rd Dec 2011.</li><br>
                                                                <li><i class="fa fa-star"></i>Prof B.M.Jayadevappa attended the DST Cluster meet on Instrumentation Development for food processing & presented an pre-proposal seminar on project titled “Solar Energy based automatic food dryer” on 13th & 14th Oct 2011 held at Tejpur, Assam.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr S.Siddesh Kurki, instructor, was honoured by Samrudee trust Bangalore by presenting “Karnataka Ratna Dr Rajkumar” award for the year 2008-09 at Kannada Bhavana, Bangalore on 21/08/2009.</li><br>
                                                                <li><i class="fa fa-star"></i>Prof B.M.Jayadevappa, Smt. Deepashri K M & Ms Shama Sultana R were awarded as “Best Teacher” during 2007-08 for getting 100% results in the subjects taught on 5th may 2009.</li><br>
                                                                <li><i class="fa fa-star"></i> Mr. Kuldeep Kumar Tripati and Mr. Akarsh S A presented a paper entitled “Nanorobots” at National level Students‟ Symposium „Shodha 2014- 2015, held at REC, Hulkoti on 27-09-2014 and won 2nd place.</li><br>
                                                                <button type="button" class="btn btn-theme">See More</button>


                                                            </ul>


                                                        </article><!--//page-content-->
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page-->
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page-->
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}