{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** -->
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Electronics & Instrumentation Engineering</h1>

                </header>
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
                            <section class="widget">
                                <ul class="nav">
                                    <li class="active"><a href="/department/UG/EI/home">Home</a></li>
                                    <li><a href="/department/UG/EI/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/EI/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/EI/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/EI/activities">Activities</a></li>
                                    <li><a href="/department/UG/EI/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/EI/gallery">Photo Gallery</a></li>
                                </ul>
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">

                            <article class="welcome col-md-10 col-sm-8">
                                        <p><img class="img-responsive" src="assets/images/cse/cs.JPG" alt="" height="350px;" /></p>
                                        <div class="box">
                                                <p>The Department of Instrumentation Technology was started in the year 1991 with an intake of 30 students and renamed as Electronics and Instrumentation Engineering in the year 2012. Electronics and Instrumentation Engineering deals mainly with Electronics, Control system, Automation and Instrumentation subjects.</p>
                                                <p>The department has a total instructional area of 957 Sq. Meters. The department has qualified and experienced faculty and technically competent supporting staff on its role. Faculties are involved in active research work in the field of signal processing and presented/published papers in international/national conferences.</p>
                                                <p>The department is actively engaged in industry-institute interaction. The department forum conducts Lectures, Seminars, Training programs, Workshops and co curricular activities. The students are trained in personality development and Campus Connect program initiated and supported by Infosys limited, Bangalore. The department also organizes industrial visits to help students to update their knowledge.</p>



                                        </div>
                                    </article>

                        </div><!--//content-wrapper-->
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page-->
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}