{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** -->
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Electronics & Instrumentation Engineering</h1>

                </header>
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/EI/home">Home</a></li>
                                    <li class="active"><a href="/department/UG/EI/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/EI/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/EI/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/EI/activities">Activities</a></li>
                                    <li><a href="/department/UG/EI/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/EI/gallery">Photo Gallery</a></li>
                                </ul>
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->

                        <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="content container">
                                    <div class="page-wrapper">
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">
                                                    <h3 class="title" style="font-weight: 600">Vision</h3>
                                                    <p>To become a Center of Excellence by Focusing on Knowledge, Assimilation, Generation & Dissemination of Service to Humanity.</p>
                                                </article><!--//page-content-->

                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page-->
                            </div>
                            <br><br>
                            <div class="content container">
                                    <div class="page-wrapper">
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">
                                                    <h3 class="title" style="font-weight: 600">Mission</h3>
                                                    <p>Transform Students to Good Human Beings, Responsible Citizens, and Competent Professionals & Achieve Excellence in Teaching, Research & Service to the Society.</p>
                                                </article><!--//page-content-->

                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page-->
                            </div>

                        </div><!--//content-wrapper-->
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page-->
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}