{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Ranks</h1>
                    
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        
                        <div class="content-wrapper col-md-12 col-sm-11">  
                            <div class="page-row">
                                <h1 class="no-margin-top has-divider text-highlight">ANNUAL CONVOCATION LIST OF V.T.U RANK HOLDERS 2002-2011:</h1>
                                <div class="row">
                                    <div class="col-md-12 col-sm-11 ">
                                        <h3 class="has-divider text-highlight">2ND ANNUAL CONVOCATION LIST OF RANK HOLDERS THE YEAR 2001-2002</h3>   
                                        <div class="table-responsive">                      
                                            <table class="table table-boxed">
                                                <thead>
                                                    <tr>
                                                        <th>S.No.</th>
                                                        <th>Branch</th>
                                                        <th>Reg.No.</th>
                                                        <th>Student Name</th>
                                                        <th>Gender</th>
                                                        <th>Percentage</th>
                                                        <th>Rank</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>TX</td>
                                                        <td>4BD98TX030</td>
                                                        <td>Wasim Raza</td>
                                                        <td>M</td>
                                                        <td>84.057</td>
                                                        <td>First</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>TX</td>
                                                        <td>4BD98TX001</td>
                                                        <td>Adarsh</td>
                                                        <td>M</td>
                                                        <td>81.8</td>
                                                        <td>Second</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>TX</td>
                                                        <td>4BD98TX020</td>
                                                        <td>S.D.Anupama</td>
                                                        <td>F</td>
                                                        <td>81.028</td>
                                                        <td>Fourth</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>TX</td>
                                                        <td>4BD98TX016</td>
                                                        <td>Rajiv Shanker</td>
                                                        <td>M</td>
                                                        <td>79.314</td>
                                                        <td>Seventh</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>CH</td>
                                                        <td>4BD98CH013</td>
                                                        <td>Kshith Basav</td>
                                                        <td>M</td>
                                                        <td>84.8</td>
                                                        <td>Seventh</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>TX</td>
                                                        <td>4BD98TX033</td>
                                                        <td>Sudip Mishra</td>
                                                        <td>M</td>
                                                        <td>78.742</td>
                                                        <td>Eight</td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>TX</td>
                                                        <td>4BD98TX008</td>
                                                        <td>Lakshmi.S.P</td>
                                                        <td>F</td>
                                                        <td>78.714</td>
                                                        <td>Ninth</td>
                                                    </tr>
                                                </tbody>
                                            </table><!--//table-->
                                        </div><!--//table-responsive-->
                                    </div>
                                </div><!--//row--> 
                                
                                <br>

                                <div class="row">
                                    <div class="col-md-12 col-sm-11">
                                        <h3 class="has-divider text-highlight">3RD ANNUAL CONVOCATION LIST OF RANK HOLDERS THE YEAR 2002-2003</h3>   
                                        <div class="table-responsive">                      
                                            <table class="table table-boxed">
                                                <thead>
                                                    <tr>
                                                        <th>S.No.</th>
                                                        <th>Branch</th>
                                                        <th>Reg.No.</th>
                                                        <th>Student Name</th>
                                                        <th>Gender</th>
                                                        <th>Percentage</th>
                                                        <th>Rank</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>TX</td>
                                                        <td>4BD99TX026</td>
                                                        <td>Sathish Kumar.R.V</td>
                                                        <td>M</td>
                                                        <td>83.54</td>
                                                        <td>First</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>CH</td>
                                                        <td>4BD99CH011</td>
                                                        <td>Ravishekar.C</td>
                                                        <td>M</td>
                                                        <td>86.13</td>
                                                        <td>First</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>CV</td>
                                                        <td>4BD99CV009</td>
                                                        <td>Hpngekar Megharaj</td>
                                                        <td>M</td>
                                                        <td>83.79</td>
                                                        <td>Second</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>TX</td>
                                                        <td>4BD99TX024</td>
                                                        <td>Rashmi Singhal</td>
                                                        <td>F</td>
                                                        <td>81.68</td>
                                                        <td>Second</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>TX</td>
                                                        <td>4BD99TX016</td>
                                                        <td>Manjula.B</td>
                                                        <td>F</td>
                                                        <td>77.42</td>
                                                        <td>Fifth</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>TX</td>
                                                        <td>4BD99TX001</td>
                                                        <td>Ajay Kumar</td>
                                                        <td>M</td>
                                                        <td>76.20</td>
                                                        <td>Sixth</td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>IT</td>
                                                        <td>4BD99IT004</td>
                                                        <td>Divya.A.Gowdar</td>
                                                        <td>F</td>
                                                        <td>82.54</td>
                                                        <td>Sixth</td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>TX</td>
                                                        <td>4BD99TX005</td>               
                                                        <td>Asha.K.A</td>
                                                        <td>F</td>
                                                        <td>75.05</td>
                                                        <td>Seventh</td>
                                                    </tr>
                                                </tbody>
                                            </table><!--//table-->
                                        </div><!--//table-responsive-->
                                    </div>
                                </div><!--//row-->  
                                
                                <br>

                                <div class="row">
                                    <div class="col-md-12 col-sm-11">
                                        <h3 class="has-divider text-highlight">4TH ANNUAL CONVOCATION LIST OF RANK HOLDERS THE YEAR 2003-2004</h3>   
                                        <div class="table-responsive">                      
                                            <table class="table table-boxed">
                                                <thead>
                                                    <tr>
                                                        <th>S.No.</th>
                                                        <th>Branch</th>
                                                        <th>Reg.No.</th>
                                                        <th>Student Name</th>
                                                        <th>Gender</th>
                                                        <th>Percentage</th>
                                                        <th>Rank</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>TX</td>
                                                        <td>4BD00TX017</td>
                                                        <td>Ranjith Singh</td>
                                                        <td>M</td>
                                                        <td>83.91</td>
                                                        <td>First</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>TX</td>
                                                        <td>4BD01TX401</td>
                                                        <td>Basavaraj Angadi</td>
                                                        <td>M</td>
                                                        <td>83.25</td>
                                                        <td>Second</td>             
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>PG</td>
                                                        <td>4BD02MMD12 <br>(M.TECH MMD)</td>
                                                        <td>Nirguna.D.Joshi </td>
                                                        <td>M</td>
                                                        <td>85.75</td>
                                                        <td>Second</td>
                                                    </tr>
                                                    <tr>                 	
                                                        <td>4</td>
                                                        <td>PG</td>
                                                        <td>4BD02JTT02 <br>(M.TECH  JTT)</td>
                                                        <td>V. Kumar</td>
                                                        <td>M</td>
                                                        <td>80.1</td>
                                                        <td>Third</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>TX</td>
                                                        <td>4BD00TX012</td>
                                                        <td>Pavana.Y.J</td>
                                                        <td>M</td>
                                                        <td>79.82</td>
                                                        <td>Fourth</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>CV</td>
                                                        <td>4BD01CV400</td>
                                                        <td>Ramu Pundalik Gunagi</td>
                                                        <td>M</td>
                                                        <td>86.84</td>
                                                        <td>Fourth</td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>TX</td>
                                                        <td>4BD00TX016</td>
                                                        <td>Rajashekhara Ballary</td>
                                                        <td>M</td>
                                                        <td>77.48</td>
                                                        <td>Fifth</td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>CH</td>
                                                        <td>4BD00CH016</td>
                                                        <td>Ravikumar Abbigeri</td>
                                                        <td>M</td>
                                                        <td>82.16</td>
                                                        <td>Eighth</td>
                                                    </tr>
                                                </tbody>
                                            </table><!--//table-->
                                        </div><!--//table-responsive-->
                                    </div>
                                </div><!--//row-->   

                            </div><!--//page-row-->                                                                    
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

{% endblock %}