{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left" style="font-weight: 600">ANTI-RAGGING SQUAD</h1>
            </strong>
        </header>
        <div class="page-content col-md-12" style="text-align:justify">
            <div class="row page-row">       
                    <p class="has-divider">As per circular issued by Government of Karnataka, Bangalore and Visvesvaraya Technological University, the
                    Constitution of Anti-Ragging Squad Committee in the college and hostel for the academic year 2020-2021. Students and their parents can 
                    approach any member of the committee.
                    </p>
                <div class="table-responsive">
                    <table class="table table-striped table-boxed">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Name of the  Committee Member</th>
                                <th>Associated with</th>
                                <th>Profession</th>
                                <th>Department</th>
                                <th>Contact No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Dr. H.B. Aravinda</td>
                                <td>Chairman</td>
                                <td>Principal</td>
                                <td>Civil</td>
                                <td>9844061789</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Dr. S. Kumarappa</td>
                                <td>Member</td>
                                <td>Professor & Head</td>
                                <td>Mechanical</td>
                                <td>9341000364</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Dr. K.C. Devendrappa</td>
                                <td>Member</td>
                                <td>Professor</td>
                                <td>Mechanical</td>
                                <td>9844616304</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Dr. Sharana A.S.</td>
                                <td>Member</td>
                                <td>Associate Professor</td>
                                <td>Mechanical</td>
                                <td>9164490699</td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Dr. B. Poornima</td>
                                <td>Member</td>
                                <td>Professor & Head</td>
                                <td>IS&E</td>
                                <td>9844756458</td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Dr. Vinutha H.P.</td>
                                <td>Member</td>
                                <td>Associate Professor</td>
                                <td>IS&E</td>
                                <td>9964262478</td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>Mr. Karibasavaraju T.S.</td>
                                <td>Member</td>
                                <td>Assistant Professor</td>
                                <td>E&E</td>
                                <td>9945577364</td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>Dr. G.S. Sunitha</td>
                                <td>Member</td>
                                <td>Professor & Head</td>
                                <td>E&C</td>
                                <td>9480297822</td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>Dr. Chethana Prakash</td>
                                <td>Member</td>
                                <td>Professor</td>
                                <td>CS&E</td>
                                <td>9820527561</td>
                            </tr>
                            <tr>
                                <td>10.</td>
                                <td>Mr. Mallikarjuna S.B.</td>
                                <td>Member</td>
                                <td>Associate Professor</td>
                                <td>CS&E</td>
                                <td>9844109063</td>
                            </tr>
                            <tr>
                                <td>11.</td>
                                <td>Mr. S. Ravikumar</td>
                                <td>Member</td>
                                <td>Senior Engineer</td>
                                <td>Maintenance</td>
                                <td>9886611004</td>
                            </tr>
                            <tr>
                                <td>12.</td>
                                <td>Dr. Mamatha M.</td>
                                <td>Member</td>
                                <td>Assistant Professor</td>
                                <td>Chemical</td>
                                <td>9448415252</td>
                            </tr>
                            <tr>
                                <td>13.</td>
                                <td>Dr. Chandrashekhara S.M.</td>
                                <td>Member</td>
                                <td>Assistant Professor</td>
                                <td>Textile</td>
                                <td>9844422882</td>
                            </tr>
                            <tr>
                                <td>14.</td>
                                <td>Police Sub Inspector,<br>Vidyanagar Police<br>Station, Davangere</td>
                                <td>Member</td>
                                <td>Police Sub Inspector</td>
                                <td></td>
                                <td>8192262688</td>
                            </tr>
                            <tr>
                                <td>15.</td>
                                <td>Aditya Appannavar</td>
                                <td>Member</td>
                                <td>Student</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--//table-->
                </div>
                <!--//table-responsive-->
            </div>
            <!--//page-row-->            
        </div>
        <!--//page-content-->
       
        <header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left" style="font-weight: 600">ANTI-RAGGING COMMITTEE</h1>
            </strong>
        </header>
        <div class="page-content col-md-12" style="text-align:justify">
            <div class="row page-row">       
                    <p class="has-divider">As per circular issued by Government of Karnataka, Bangalore and Visvesvaraya Technological University, the
                    Anti-Ragging Committee is constituted for prohibition of ragging in the college for the academic year 2020-2021. Students and their 
                    parents can approach any member of the committee.
                    </p>
                <div class="table-responsive">
                    <table class="table table-striped table-boxed">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Name of the  Committee Member</th>
                                <th>Associated with</th>
                                <th>Profession</th>
                                <th>Department</th>
                                <th>Contact No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Dr. H.B. Aravinda</td>
                                <td>Chairman</td>
                                <td>Principal</td>
                                <td>Civil</td>
                                <td>9844061789</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Prof. Y. Vrushabhendrappa</td>
                                <td>Member</td>
                                <td>Director</td>
                                <td>Office</td>
                                <td>9448393144</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Dr. K.S. Basavarajappa</td>
                                <td>Member</td>
                                <td>Professor & Head</td>
                                <td>Mathematics</td>
                                <td>9844488220</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Dr. K. Sadashivappa</td>
                                <td>Member</td>
                                <td>Professor</td>
                                <td>Mechanical</td>
                                <td>9241425736</td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Dr. C.R. Nirmala</td>
                                <td>Member</td>
                                <td>Professor & Head</td>
                                <td>CS&E</td>
                                <td>9740770377</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--//table-->
                </div>
                <!--//table-responsive-->
            </div>
            <!--//page-row-->
            
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->

{% endblock %}