{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="heading-title pull-left" style="font-weight: 600">GRIEVANCE REDRESSAL COMMITTEE</h1>
            </strong>
        </header>
        <div class="page-content col-md-12" style="text-align:justify">
            <div class="row page-row">       
                    <p class="has-divider">As per circular issued by Visvesvaraya Technological University, the following committee is constituted for
                    OMBUDSMAN/Grievance Redressal Committee in the college and hostel for the academic year 2020-2021. Students and their parents can 
                    approach any member of the committee for redressal of their grievances.
                    </p>
                <div class="table-responsive">
                    <table class="table table-striped table-boxed">
                        <thead>
                            <tr>
                                <th>Committee Type</th>
                                <th>Name of the  Committee Member</th>
                                <th>Associated with</th>
                                <th>Profession</th>
                                <th>Department</th>
                                <th>Contact No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>OMBUDSMAN</td>
                                <td>Dr. H.B. Aravinda</td>
                                <td>Chairman</td>
                                <td>Principal</td>
                                <td>Civil</td>
                                <td>9844061789</td>
                            </tr>
                            <tr>
                                <td>OMBUDSMAN</td>
                                <td>Prof. Y. Vrushabhendrappa</td>
                                <td>Member</td>
                                <td>Director</td>
                                <td>Office</td>
                                <td>9448393144</td>
                            </tr>
                            <tr>
                                <td>Grievance Redressal</td>
                                <td>Dr. K. Sadashivappa</td>
                                <td>Member</td>
                                <td>Professor</td>
                                <td>Mechanical</td>
                                <td>9241425736</td>
                            </tr>
                            <tr>
                                <td>Grievance Redressal</td>
                                <td>Dr. B.E. Rangaswamy</td>
                                <td>Member</td>
                                <td>Professor & Head</td>
                                <td>Biotech</td>
                                <td>9844622611</td>
                            </tr>
                            <tr>
                                <td>Grievance Redressal</td>
                                <td>Dr. Ravindra K.B.</td>
                                <td>Member</td>
                                <td>Associate Professor</td>
                                <td>Textile</td>
                                <td>9841359044</td>
                            </tr>
                            <tr>
                                <td>Grievance Redressal</td>
                                <td>Dr. M.S. Nagaraja</td>
                                <td>Member</td>
                                <td>Professor & Head</td>
                                <td>E&E</td>
                                <td>9844484767</td>
                            </tr>
                            <tr>
                                <td>Grievance Redressal</td>
                                <td>Dr. S. Kumarappa</td>
                                <td>Member</td>
                                <td>Professor & Head</td>
                                <td>Mechanical</td>
                                <td>9341000364</td>
                            </tr>
                            <tr>
                                <td>Grievance Redressal</td>
                                <td>Dr. G.S. Sunitha</td>
                                <td>Member</td>
                                <td>Professor & Head</td>
                                <td>E&C</td>
                                <td>9480297822</td>
                            </tr>
                            <tr>
                                <td>Grievance Redressal</td>
                                <td>Dr. B. Poornima</td>
                                <td>Member</td>
                                <td>Professor & Head</td>
                                <td>IS&E</td>
                                <td>9844756458</td>
                            </tr>
                            <tr>
                                <td>Grievance Redressal</td>
                                <td>Dr. C.R. Nirmala</td>
                                <td>Member</td>
                                <td>Professor & Head</td>
                                <td>CS&E</td>
                                <td>9740770377</td>
                            </tr>
                            <tr>
                                <td>Grievance Redressal</td>
                                <td>Smt. M.E. Ashalatha</td>
                                <td>Member</td>
                                <td>Professor & Head</td>
                                <td>E&I</td>
                                <td>9844638188</td>
                            </tr>
                            <tr>
                                <td>Grievance Redressal</td>
                                <td>Dr. Mamatha M.</td>
                                <td>Member</td>
                                <td>Assistant Professor</td>
                                <td>Chemical</td>
                                <td>9448415252</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--//table-->
                </div>
                <!--//table-responsive-->
            </div>
            <!--//page-row-->
            
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->

{% endblock %}