{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Electrical & Electronics Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li class="active"><a href="/department/UG/EE/home">Home</a></li>
                                    <li><a href="/department/UG/EE/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/EE/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/EE/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/EE/activities">Activities</a></li>
                                    <li><a href="/department/UG/EE/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/EE/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">                               

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Laboratory facilities</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <p>Department as a broad based UG curriculum & the syllabi of the courses are continuously updated and the laboratories modernized to reflect the rapid changes in technology. The department is equipped with the latest experimental and computational facilities meet the curriculum. The total expenditure on Instruments, Equipments and Computers is Rs.52 Lakhs. The major laboratories in the department are Electronics, Microcontroller, Machines, Control system, Measurement, Power system simulation & High voltage & relay.</p>
                                        </div>
                                    </div>
                                </div>
                            <br>

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Major Equipments</h1>
                                        
                                            <p>Department has many major equipments. Major equipments are Digital trainer kits, Power Electronics Modules, 8051 Flash Programmable Microcontroller Evaluation Board (MCB 51) with interfacing modules, DC and AC Machines sets, Transformers, Auto-Transformers, Servo Stabilizer, Air-Cooled Rectifier Unit, Phase-Shifting Transformer, HV Testing Transformer, 5-Stage Impulse Voltage Generator, Continuously Variable Auto-Transformer, 60kV HV Testing Transformer, Digital Storage Oscilloscope, HV Rectifier Unit, Computers, UPS, 200kVA diesel generator. <br>

Department has Mi-Power software Packages with 6 user, Microcontroller-Keiluvision#3(C51), Labview with 10 Users, PSPICE Student Version.</p>
                                        
                                    </article><!--//page-content-->    
                                </div>
                            <br>

                            <div class="row page-row">
                                        <article class="welcome col-md-10 col-sm-8">                         
                                            <h1 class="no-margin-top has-divider text-highlight">Department Library</h1>
                                            <p>We have department library with 930 books& 300 titles. Every year books are added to the library from the forum. Every semester two books are issued to students. Electrical and Electronics Engineering books available in the Central Library are 3800 with 1200 titles. Twenty Three National and International Journals have been subscribed to Central Library. </p>
                                   
                                        </article><!--//page-content-->
                                        
                                </div>  

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}