{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Electrical & Electronics Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li class="active"><a href="/department/UG/EE/home">Home</a></li>
                                    <li><a href="/department/UG/EE/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/EE/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/EE/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/EE/activities">Activities</a></li>
                                    <li><a href="/department/UG/EE/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/EE/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                        <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Vision</h3>
                                                    <p>To train globally competent quality students in Electrical Engineering through excellent academic inputs, innovative ideas and team work.</p>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>
                            <br><br>
                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Mission</h3>
                                                    <p>1. To enhance the quality of life of students through continuous learning and state-of-the-art technical education.<br>

2. To meet the long term needs of the industry & society.<br>

3. To inculcate leadership qualities & ethical values.<br>

4. To serve the Community for the socio economic developments.</p>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>
                            <br>
                                <div class="content container bgdata">
                                        <div class="page-wrapper"> 
                                            <div class="page-content">
                                                <div class="row page-row">
                                                    <article class="welcome col-md-8 col-sm-7">                         
                                                        <h3 class="title" style="font-weight: 600">Program Educational Objectives (PEOs)</h3>
                                                        <p>The Program Educational Objectives (PEOs) of the UG Programme in Electrical and Electronics Engineering are prepared through consultation process among stake holders.<br><br>

                                                            1. To be successful in identifying, understanding, formulating, analyzing and solving variety of problems in the field of Electrical and Electronics Engineering.<br><br>
                                                            
                                                            2. To develop facilities for promoting research activities and to pursue collaborative research.<br><br>
                                                            
                                                            3. To Train the students to transform acquired knowledge in solving technological Challenges of the Industry and Society with Professional Ethics and Accountability.<br><br>
                                                            
                                                            4. To give exposures to emerging edge technologies, adequate training and opportunities to work as team on multidisciplinary projects with effective communication skills and leadership qualities.
                                                            
                                                            </p>
                                                    </article><!--//page-content-->
                                                    
                                                </div><!--//page-row-->
                                            </div><!--//page-content-->
                                        </div><!--//page--> 
                                </div>
                                <br>
                                <div class="content container bgdata">
                                        <div class="page-wrapper"> 
                                            <div class="page-content">
                                                <div class="row page-row">
                                                    <article class="welcome col-md-8 col-sm-7">                         
                                                        <h3 class="title" style="font-weight: 600">Program Specific Outcomes (PSOs)</h3>
                                                        <p>

                                                            1. Ability to solve & analyses complex real time electric energy related issues.<br><br>
                                                            
                                                            2. Graduates are able to design, develop and analysis of Modern Electric & Electronics systems using Conventional methods & Modern tools.<br><br>
                                                            
                                                            3. Wisdom of social and environmental awareness along with ethical responsibility to have a successful career and to sustain passion and zeal for real-world applications using optimal resources as an Entrepreneur.<br><br>
                                                            
                                                        
                                                            
                                                            </p>
                                                    </article><!--//page-content-->
                                                    
                                                </div><!--//page-row-->
                                            </div><!--//page-content-->
                                        </div><!--//page--> 
                                </div>
                                
                            <br>

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}