{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Electronics & Communication Engineering</h1>
                  
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li class="active"><a href="/department/UG/EC/home">Home</a></li>
                                    <li><a href="/department/UG/EC/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/EC/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/EC/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/EC/activities">Activities</a></li>
                                    <li><a href="/department/UG/EC/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/EC/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">  
                            
                            <article class="welcome col-md-10 col-sm-8">                         
                                        <p><img class="img-responsive" src="img1.jpg" alt="" height="350px;" /></p>
                                        <div class="box">
                                        <p>Electronics and Communication Engineering branch was  <b>started in the year 1979 </b> with a vision to promote and maintain academic and professional excellence in technical education and research field. The students intake for E & CE branch has gradually increased from 30 to 120. The department has a  <b>carpet area of 2383.68 sq.mtr. </b> The department has experienced and committed faculty members. The department organizes Seminars, Workshops and Guest lectures by renowned resource persons from industry, academic and R & D center. Under Continuing Education Programme (CEP) faculty members have submitted the course materials and also  <b>have presented/published technical papers in National & International Journals/Conferences. </b> <br><br>

During year 2014-15 the cutoff rank in CET was between 1706-8472. In COMEDK the students with ranks in-between 10500-26886 have secured seats. In DCET the students securing between 500-10914 has got the seat. The details of the allotment is available on CET and COMEDK websites.<br><br>


Scope for the higher studies in India and abroad is very bright. Many of the passed out students have pursued their higher education in India & abroad. Our Alumni are well placed in India and Abroad.<br><br>

<b>The department has executed five sponsored projects under TAPTEC & MODROB, AICTE, New Delhi. </b><br><br>

Karnataka State Council for Science & Technology, (KSCST), Bangalore, has sponsored 134 projects from E&CE department of which 34 projects have been selected for State Level Project Exhibition and Seminar. Four times the E&CE department has won “Best Project of the Year” award, instituted by KSCST, Bangalore.

.</p>
                                        </div>
                                    </article>      
                        
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}