{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Electronics & Communication Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/EC/home">Home</a></li>
                                    <li><a href="/department/UG/EC/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/UG/EC/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/EC/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/EC/activities">Activities</a></li>
                                    <li><a href="/department/UG/EC/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/EC/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">                               

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Laboratory facilities</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <p>Basic Electronics Laboratory: Basic Electronics Laboratory is equipped with Digital storage oscilloscopes, Cathode Ray Oscilloscopes, Audio Frequency Oscillators, Regulated Power Supplies, Over Head Projectors, Decade Boxes. (Resistance/Capacitance/Inductance), LCR. Q Meter, Meters (Ammeter, Voltmeter)<br><br>

                                            <b>Power Electronics Laboratory:</b> Power Electronics Laboratory is furnished with Cathode Ray Oscilloscopes, Power Electronics Modules and Regulated Power Supplies.<br><br>

                                            <b>Communication Laboratory:</b> Communication Laboratory is well equipped with Digital Storage Oscilloscope, Cathode Ray Oscilloscopes, Microwave Test Benches and its accessories, Microwave Integrated Circuits and accessories (MIC), Optical Fiber Trainer Kits, Digital Communication Modules, Analog Communication Modules, Audio Frequency Oscillators, and Public Address System.<br><br>

                                            <b>Microprocessor & Computer Laboratory:</b> Microprocessor & Computer Laboratory is facilitated with good number of computers and sophisticated hardware such as Digital I/O card with timer, Printer interface, Stepper motor, Seven Segment Display with Key pad, Alpha numeric LCD panel with Hex Keypad, Temperature control, DC Motor Control, Dual DAC along with the associated software.<br><br>

                                            <b>HDL & DSP Laboratory:</b> HDL & DSP Laboratory has sufficient number of Personal Computer systems with sophisticated software tools like Active VHDL package, VHDL software package-ISE navigator, FPGA Advantage includes ModelSim, Synthesizer, Place & Route, Reliability software, Speech synthesizer package , and PC based memory device Programmer. The VLSI back-end Hardware tools such as FPGA/CPLD Demonstration board, Universal FPGA Development board with Xilinx or Altera Family FPGAs, Advanced DSP-FPGA development station, DSP trainer kits TMS320C5416 and TMS320C6713 with Code Composer Studio and C5000 Code Composer Studio are available.<br><br>

The lab is also furnished with MATLAB Software Package with Signal processing, Communication, Control system and Image processing tool boxes. Image Daughter board and DM642 Digital Multimedia kit are available to help students to carry out projects.<br><br>

Microcontroller and VLSI Laboratory: Microcontroller and VLSI Laboratory is facilitated with sophisticated hardware and associated software tools such as C51 Professional Developers KEIL software package with Flash Programmable Microcontroller Evaluation board, MSP430 Microcontroller with Code Composer Studio.<br><br>

VLSI Design - Microwind Software Package, PSpice Based Analog / Mixed mode Circuit Simulation Package and SIMUCAD-IC CAD Tool and Cadnce Tool for Analog/Mixed signal design are available.<br><br>

Data Communication Trainer kits, Network Concept Trainer kits for LAN can be used to check the communication network protocols.<br><br>

Department has Internet facility and state-of-the-art software packages worth more than 50 lakhs.</p>
</b>
                                        </div>
                                    </div>
                                </div>
                            <br>

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Major Equipments</h1>
                                        
                                        <table class="table table-boxed table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">Name of the laboratory</th>
      <th scope="col">Carpet Area(Sq. mt</th>
      <th scope="col">Major equipments available</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Basic Electronics Laboratory.</td>
      <td>109</td>
      <td>	Digital Storage Oscilloscopes, Cathode Ray Oscilloscopes, Regulated Power Supplies, Audio Frequency Oscillators, Over Head Projectors, Decade Boxes, LCR, Q Meter.</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Power and Industrial Electronics Laboratory.</td>
      <td>109</td>
      <td>Digital Storage Oscilloscopes, Cathode Ray Oscilloscopes, Regulated Power Supplies, Audio Frequency Oscillators, Power Electronics Models, Decade Boxes.</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Communication and Microwave Laboratory.</td>
      <td>124</td>
      <td>LabVIEW Software Package, Digital Storage Oscilloscope, Cathode Ray Oscilloscopes, Regulated Power Supplies, Audio Frequency Oscillators, Digital IC Trainers, AM/FM Signal Generators, Optical Fiber Trainer Kits. Public Address System & Conference System & Accessories, Decade Boxes, Digital Communication Models, Microwave Lab Equipments & Other Accessories, Microwave Integrated Circuit Models.</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Microprocessor & Computer Lab.</td>
      <td>124</td>
      <td>8085/86 Microprocessor trainer kits, Digital I/O cards, C51 Professional Developers (KEIL) software package, Micro controller trainer kits, 40 Personal computers(HCL:Core-i3,Core-i5& wipro P-D), Acer Altos Server, UPS: on line IGBT technology, Flash Programmable Micro controller Evaluation boards.</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>HDL & DSP Laboratory</td>
      <td>109</td>
      <td>Cadence tool for VLSI Design - Digital & Analog design, SIMUCAD IC-CAD Tools for Analog /Mixed signal design . VLSI Design(Microwind) Software, MATLAB Software Package, EDWin Simulation Package, Active VHDL package.</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Microcontroller and VLSI Laboratory	.</td>
      <td>109</td>
      <td>Speech synthesizer package, FPGA Advantage includes Model Sim, Synthesizer, Place & Route, PSpice Based Analog / Mixed mode Circuit Simulation Package, VHDL software package (ISE), DSP :C5000 Code Composer Studio, DSP, FPGA/CPLD trainer kits, Server IBM and UPS tubular version, 71 Personal Computer, Laptops, Notepad, Printers. (HP: Dual Core, HCL:Core-i3,Core-i5& wipro P-D)..</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Total Area</td>
      <td>	726</td>
      <td></td>
    </tr>
  </tbody>
</table>
                                        
                                    </article><!--//page-content-->    
                                </div>
                            <br>

                            <div class="row page-row">
                                        <article class="welcome col-md-10 col-sm-8">                         
                                            <h1 class="no-margin-top has-divider text-highlight">Department Library</h1>
                                            <p>The library at department level is for the Students and Faculty of Electronics and Communication Engg. which houses good number of textbooks, reference books, and project & seminar reports. At present over 2300 books with 125 titles, project reports, seminar reports & CD’s are available in the Department library. The National and International conference proceedings, workshop and seminar reports, product & textbook catalogues are kept for student’s reference. Apart from the departmental library facility we have Central Library and Information Center. At Central Library, along with the standard books we have the facility of accessing various International & National Journals. </p>
                                   
                                        </article><!--//page-content-->
                                        
                                </div>  

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}