{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="content container bgdata content-text">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <strong><h1 style="font-weight: 600">Training & Placement Cell</h1></strong>
                    
                </header> 
                <dl class="dl-horizontal">
                    <h3 class="title">Objectives : </h3>
                </dl>
                <div class="page-content">
                    <div class="row page-row">
                        <article class="welcome col-md-12 col-sm-11">                         
                           
                            <section>
                            <h3 class="has-divider text-highlight">Vision</h3>

                            <p>To consistently provide multitalented technically competent young professionals blended with positive approach and ethical values who can effectively shoulder the task of building vibrant India"</p>
                            </section>

                            <section>
                            <h3 class="has-divider text-highlight">Mission</h3>

                            <p>"Working as a unified team, we contribute to the growth and development of our students by imparting a broad based education and enabling them to achieve their professional goals".</p>
    
                            </section>
                                 
                            
                        </article><!--//page-content-->
                        
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->



        {% endblock %}


