{% extends 'base.html' %}

{% load static %}
{% block content %}



<div class="container content bgdata">
    <!-- ####################################################################################################### -->
    <div id="homepage" class="clear">
        <!-- ###### -->
        <div style="width: 90%;" id="latestnews">
            <header class="page-heading clearfix">
                <strong>
                    <h1 class="textColorCustom" style="font-weight: 600">Training & Placement Cell</h1>
                </strong>
            </header>
            <dl class="dl-horizontal">
                <h3 class="title">Placement Process:</h3>
            </dl>

            <div class="page-content">
                <div class="row page-row">
                    <article class="welcome col-md-12 col-sm-11">

                        <section>
                            <h3 class="has-divider text-highlight"><strong>Eligibility</strong></h3>
                            <br>
                            <p>• General eligibility criterion for most companies is 60% aggregate, i.e., your average
                                percentage score in all semesters. However, some companies like Microsoft demand a 70%
                                aggregate. So it is advisable to score at least above 60% right from the first semester
                                and above 70% if you have great ambitions.</p>
                            <br>
                            <p>• Another important criterion is that you should have no back logs, although a few
                                companies may allow up to two. A handful of companies do not tolerate any back logs at
                                all. So in short, avoid Back Logs.
                            </p>
                        </section>

                        <section>
                            <h3 class="has-divider text-highlight"><strong>Process</strong></h3>
                            <br>
                            <p>• Campus placements are provided in almost all engineering colleges of Karnataka.
                                However, the percentage of students placed and the number of companies offering jobs may
                                vary from college to college. Generally, in all colleges, the average offer is around
                                3.3 lakh/annum for most IT companies.</p>
                            <br>
                            <p>• Below is the whole placement procedure in general for all colleges.The four main
                                sections of a placement:</p>
                            <br>
                            <p>1. Introduction of the company.</p>
                            <p>2. Aptitude test.</p>
                            <p>3. Group Discussion (applicable for a few companies).</p>
                            <p>4. Interview (Technical + HR).</p>
                        </section>


                    </article>
                    <!--//page-content-->

                </div>
                <!--//page-row-->
            </div>
            <br>
            <div id="page-wrap" style="color: black; text-align: justify;">

                <div class="tabs">

                    <div class="page-content">
                        <div class="row page-row">
                            <div class="course-wrapper col-md-12 col-sm-11">
                                <article class="course-item">
                                    <!-- <p class="featured-image page-row"><img class="img-responsive" src="assets/images/courses/course-1.jpg" alt=""/></p> -->


                                    <div class="tabbed-info page-row">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab1"
                                                    data-toggle="tab"><strong>Inroduction</strong></a></li>
                                            <li><a href="#tab2" data-toggle="tab"><strong>Aptitude Test</strong></a>
                                            </li>
                                            <li><a href="#tab3" data-toggle="tab"><strong>Group Discussion</strong></a>
                                            </li>
                                            <li><a href="#tab4" data-toggle="tab"><strong>Interview</strong></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active active-bg" id="tab1">

                                                <div class="content">
                                                    <p>This is generally a pre-placement talk where the representatives
                                                        of the company talk about its history, accomplishments, major
                                                        services/products, etc. It is, without exception, excruciatingly
                                                        boring. The only thing you gain out of it is that you find out a
                                                        few crucial facts about the company which can help you in the
                                                        interview.</p>
                                                    <p><br>All the queries regarding job profile, location of placement,
                                                        and other HR related stuff are addressed. So if the company is
                                                        offering an IT job but you want to go only in the core
                                                        electronics sector, better not sit for the company. They also
                                                        tell you about the “service bonds” the company has.</p>
                                                    <p><br>E.g. TCS and L&amp;T have a 2 year bond, i.e. if you leave
                                                        the job before completion of the bond period you have to pay a
                                                        fine of Rs. 80000/-.</p>
                                                    <p><br>Some companies like Philips might not make you sign a bond.
                                                        Such companies are preferred by people who are sure that they
                                                        will have to leave their job for higher studies.</p>
                                                </div>
                                            </div>
                                            <div class="tab-pane active-bg" id="tab2">
                                                <div class="content">
                                                    <p>Aptitude tests consist of basic problems in quantitative ability,
                                                        logical reasoning and verbal ability. Google the past aptitude
                                                        test question papers of the respective company, and solve those
                                                        for practice. Generally, it is seen that the questions do tend
                                                        to repeat. The website ”freshersworld.com” is quite handy as it
                                                        has past papers of almost all companies.</p>
                                                    <p><br>Books by RS Agrawal are good for preparation but it is not
                                                        necessary to solve the entire book. Generally, these tests are
                                                        easy and just require logic to crack them.</p>
                                                    <p><br>E.g. L&amp;T have a simple aptitude test but the cutoff is
                                                        high because they want only few students.</p>
                                                    <p><br><b>Note:</b> Some companies may have cut-offs in all
                                                        sections, while some may have negative marking. So inquire
                                                        beforehand about the format of the test so you can use the best
                                                        strategy.

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="tab-pane active-bg" id="tab3">
                                                <div class="content">
                                                    <p>Not all companies take a GD, for e.g. there is no GD for TCS.
                                                        However, you will find that many of the companies with high
                                                        packages take a GD. GD is usually between 6 to 8 candidates.</p>
                                                    <p><br>There will be a panel of 3 or so 'experts' monitoring you
                                                        throughout and the duration is usually 20 min. They give you
                                                        marks on the basis of your content and conduct. Content is the
                                                        single most important factor in a GD. Conduct, though secondary
                                                        to content, is also a vital parameter to judge you.</p>
                                                    <p><br>You may be given any topic for GD (political, social,
                                                        marketing-related) and you will be given around 5 min to prepare
                                                        your points. Most probably they will shortlist 2 candidates from
                                                        a group of 8. So make sure you make enough points during the
                                                        discussion because there is no chance of you getting selected if
                                                        you keep quiet.</p>
                                                    <p><br>E.g. Jindal(JSW Steels) and Triveni Turbines take a GD after
                                                        the aptitude test.</p>
                                                </div>
                                            </div>
                                            <div class="tab-pane active-bg" id="tab4">
                                                <div class="content">
                                                    <p>Interview is the final step in the selection process. Usually,
                                                        the companies have a single interview in which they ask
                                                        technical as well as personal questions. However, there can be
                                                        separate interviews also.</p>
                                                    <p><br><b>Technical Interview:</b><br><br>
                                                        » Some companies ask what your strong subjects are beforehand,
                                                        while some might ask about anything under the sun. Nevertheless,
                                                        the best strategy would be to prepare two subjects thoroughly
                                                        and tell the interviewer that those are your area of interests
                                                        if you find that you have no clue about what he is asking.
                                                        <br><br>» Most of the companies would be IT related so brush up
                                                        on the computer languages. Generally they ask only basic
                                                        questions so revise C++ and JAVA. Also microcontrollers are a
                                                        favorite topic of the interviewers.
                                                        <br><br><b>Note:</b> Some companies like Amdocs may ask you to
                                                        execute a program in some language. Microsoft has a written
                                                        technical test.<br>
                                                    </p>
                                                    <p><br><b>Personal Interview:</b><br><br>
                                                        » The typical questions asked in this interview are:
                                                        <br><br>» Tell me something about yourself.
                                                        <br>» Why do you want to join this company?
                                                        <br>» Are you willing to work in any office of the company
                                                        across the country? (Answer should always be yes if you want the
                                                        job).
                                                        <br>» What are your strengths and weaknesses?
                                                        <br>» Why should we select you?
                                                        <br><br>All the questions would invariably fall in one of the
                                                        above type.
                                                        <br><br><b>Note:</b> While stating your weaknesses, you should
                                                        mention how you are overcoming it.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--//tabbed-info-->
                                </article>
                                <!--//course-item-->
                            </div>
                            <!--//course-wrapper-->
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% endblock %}