{% extends 'base.html' %}

{% load static %}
{% block content %}


<div class="container content bgdata">
    <div id="container" class="clear">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="textColorCustom" style="font-weight: 600">Training & Placement Cell</h1>
            </strong>
        </header>
        <dl class="dl-horizontal">
            <h3 class="title">Training Programs:</h3>
        </dl>
        <!-- ####################################################################################################### -->
        <div id="homepage" class="clear">
            <!-- ###### -->
            <div style="width: 90%;" id="latestnews">

                <p>
                    <strong>1. Orientation Program:</strong>
                </p>
                <p>&nbsp; 21 days Orientation Programme for First Semester students.</p>

                <p>
                    <strong>2. CREA –Soft Skill</strong>
                </p>
                <p>&nbsp;Coaching for Recruitment and Empowerment of Action by Innovations Unlimited,Bangalore .</p>

                <p>
                    <strong>3. Campus Placement Aptitude Cracker</strong>
                </p>
                <p>&nbsp;Conducting Mock/Simulated exercises on continuous basis for final year students including
                    Aptitude, Technical Skills and HR interviews and TCS Specific Aptitude Cracker by FACE. </p>

                <p>
                    <strong>4. TCS Ion -Technical Competition</strong>
                </p>
                <p>&nbsp;Codevita &amp; Enginx online technical competition.</p>

                <p>
                    <strong>5. RaRo Technologies- Technical</strong>
                </p>
                <p>&nbsp;Industry ready talent development program for pre final year students.</p>




                <br><br>
                <!--<span style="font-size: 14px;"><b>&raquo; Every year MindTree conducts MindTree: Campus Engagement Event for MindTree placed students.</b></span>-->
                <p></p>
                <h2></h2>
            </div>
        </div>
    </div>
</div>




{% endblock %}