{% extends 'base.html' %}

{% load static %}
{% block content %}
    
        <!-- ******CONTENT****** --> 
        <div class="content container bgdata content-text">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Training & Placement Cell</h1>
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <div class="courses-wrapper col-md-12 col-sm-7">           
                            <div class="featured-courses tabbed-info page-row">  
                                <h3>Visiting Companies:</h3>          
                                <br> 
                                <ul class="nav nav-tabs">
                                  <li class="active"><a href="#tab1" data-toggle="tab"><strong>Major IT Companies</strong></a></li>
                                  <li><a href="#tab2" data-toggle="tab"><strong>Major Companies for ME, CV, IP, Chemical & others</strong></a></li>
                                  <li><a href="#tab3" data-toggle="tab"><strong>Textile Companies</strong></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                        <div class="row medical">
                                            <ul>
                                                <li>Tata Consultancy Services Ltd.</li>
                                                <li>Sankalp Semiconductor Pvt. Ltd.</li>
                                                <li>Accenture</li>
                                                <li>Cognizant Technologies Solutions </li>
                                                <li>Cypres Semiconducter</li>
                                                <li>Global Edge Software Ltd.</li>
                                                <li>Hewlett Packard</li>
                                                <li>IBM</li>
                                                <li>i-Flex Solutions</li>
                                                <li>iGate Global Solutions</li>
                                                <li>INFOSYS Technologies</li>
                                                <li>MISYS</li>
                                                <li>Mphasis</li>
                                                <li>Nichi_in Software</li>
                                                <li>Oracle</li>
                                                <li>PEOL</li>
                                                <li>PEROT Systems</li>
                                                <li>Polaris Software Lab Ltd.</li>
                                                <li>Robosoft Technologies</li>
                                                <li>Sasken Communications</li>
                                                <li>Secon Pvt. Ltd.</li>
                                                <li>SEIMENS Information Systems</li>
                                                <li>SLK Software Services</li>
                                                <li>Sourcebits</li>
                                                <li>Subex Technologeis Ltd.</li>
                                                <li>Tata Elxsi</li>
                                                <li>Tech Mahindra &amp; Mahindra Satyam</li>
                                                <li>Wipro Technologies</li>
                                                <li>Mind Tree Consultancy Pvt. Ltd.</li>
                                                <li>Ymedialabs</li>
                                                <li>Bharat Electronics Ltd.</li>
                                                <li>Cummins India Pvt. Ltd.</li>
                                                <li>Global Delight Technologies Ltd.</li>
                                                <li>H C L Technologies Ltd.</li>
                                                <li>Huawei Technologies</li>
                                            </ul>
                                        </div><!--//row-->
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                    <div class="row medical">
                                            <ul>
                                                <li>L &amp; T Constructions (ECC)</li>
                                                <li>EMCO</li>
                                                <li>Geodesic Technics Pvt. Ltd. </li>
                                                <li>Hospet  [ Kalyani ] Steels</li>
                                                <li>Indian Army</li>
                                                <li>JSW Steel Ltd.</li>
                                                <li>KMC Constructions</li>
                                                <li>Lanco Group</li>
                                                <li>Mercedes - Benz </li>
                                                <li> Oxylane - Decathlon</li>
                                                <li>Praxair ( India ) Pvt. Ltd.</li>
                                                <li> PRDC</li>
                                                <li>PSK Pharma, Harihar</li>
                                                <li>Quest</li>
                                                <li> R.K.PowerGen Pvt. Ltd.</li>
                                                <li> Ramki Constructions</li>
                                                <li>Rukminirama Steels</li>
                                                <li>Sanrai Home Health Care</li>
                                                <li>SICON Constructions</li>
                                                <li>Sobha Developers</li>
                                                <li> Sri Ram Transport </li>
                                                <li>Syntel</li>
                                                <li>Synthite Industries Ltd. </li>
                                                <li>T D Power systems </li>
                                                <li>TESCO HSC</li>
                                                <li> Toyoto Kirloskar Motors</li>
                                                <li>Triveni Turbine Ltd. </li>
                                                <li> Wipro Limited, Tumkur</li>
                                                <li> Wipro Limited, Tumkur</li>
                                                <li> Enercon</li>
                                                <li>Global Automation</li>
                                                <li>iCAD Engineering</li>
                                                <li> JMC Projects </li>
                                                <li>Kirloskar Electriic Company</li>
                                                <li> KPIT Cummins</li>
                                                <li>Mangalore Chemicales & Fertilisers </li>
                                                <li>MSPL Gases Ltd. [R S Steels]</li>
                                                <li>PEOL</li>
                                            </ul>
                                        </div><!--//row-->
                                    </div>
                                    <div class="tab-pane" id="tab3">
                                        <div class="row medical">
                                            <ul>
                                                <li>Aditya Birla Nuvo Ltd.</li>
                                                <li>Arvind Mills</li>
                                                <li>Bombay Rayon</li>
                                                <li>C C C L </li>
                                                <li>Cummins India Pvt. Ltd.</li>
                                                <li>Gokak Textiles Ltd.</li>
                                                <li>Gokaldas Exports Ltd.</li>
                                                <li>Grasim Industries</li>
                                                <li>Harihar Polyfibers</li>
                                                <li>Himat Singhka</li>
                                                <li>Indian Design</li>
                                                <li>Kirloskar Toyoda Textile Mills Ltd.,</li>
                                                <li>Konkan Synthetic Fibres, Mahad</li>
                                                <li>Lanco Group</li>
                                                <li>Life Tree Convergence</li>
                                                <li>Linen Craft </li>
                                                <li>Madhura Garments </li>
                                                <li>Malberry Silks</li>
                                                <li>Raymonds </li>
                                                <li>ReadiMinds</li>
                                                <li>Shahi Export Pvt. Ltd.</li>
                                                <li>Silktech Ltd.,</li>
                                                <li>Spentex Industries</li>
                                                <li>Tulip Elastics Pvt. Ltd.,</li>
                                                <li>Vardhaman Spinning Mills.</li>
                                            </ul>   
                                        </div><!--//row-->
                                    </div>
                                </div>
                            </div><!--//featured-courses-->
                          
                                                  
                        </div><!--//courses-wrapper-->
                        
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->   
        {% endblock %}


