.w3-card,.w3-card-2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

#page-wrap{
    width:800px;
}