.iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; 
    height: 550px;
    overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}