.third-level-menu {
	position: absolute;
	top: 0;
	right: -150px;
	width: 150px;
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
}

.third-level-menu > li {
	/* height: 30px;*/
	background: #999999;
	width: 300px;
	color: black;
	border-bottom-style: solid;
	border-bottom-color: #c3c3c3;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-color: #c3c3c3;
	border-left-width: 1px;

	border-right-style: solid;
	border-right-color: #c3c3c3;
	border-right-width: 1px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 5px;
	background-color: white;
}
.third-level-menu > li:hover {
	background: #317dbb;
}

.second-level-menu {
	position: absolute;
	left: 0px;

	list-style: none;
	padding: 0px;

	display: none;
}

.second-level-menu > li {
	position: relative;
	/* height: 30px;*/
	width: 285px;
	background: #999999;
	border-bottom-style: solid;
	border-bottom-color: #c3c3c3;
	border-bottom-width: 1px;

	border-right-style: solid;
	border-right-color: #c3c3c3;
	border-right-width: 1px;

	border-left-style: solid;
	border-left-color: #c3c3c3;
	border-left-width: 1px;

	border-top-style: solid;
	border-top-color: #c3c3c3;
	border-top-width: 1px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 5px;
	background-color: white;
	color: black;
}
.second-level-menu > li:hover {
	background: #317dbb;
	color: white;
}

.top-level-menu {
	list-style: none;
	/*padding: 0;*/
	margin: -2px;

	/*padding: 17px 15px;*/
	text-transform: uppercase;
	color: white;
	background-color: white;
}

.top-level-menu > li {
	position: relative;
	float: left;
	height: 55px;
	width: 125px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 5px;
	background-color: #317cbb;
	color: white;

	border-right-style: solid;
	border-right-color: #666666;
	border-right-width: 1px;
}
.top-level-menu > li:hover {
	background: #317dbb;
	color: white;
	z-index: 99;
}

.top-level-menu li:hover > ul {
	/* On hover, display the next level's menu */
	display: inline;
	background-color: blue;
}

/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
 {
	color: white;
	text-decoration: none;
	/* padding: 10px 10px 10px 10px;*/

	/* Make the link cover the entire list item-container */
	display: block;
	/* line-height: 30px;*/
}
.second-level-menu a {
	color: black;
}
.top-level-menu a:hover {
	color: white;
	background-color: #317dbb;
}
.second-level-menu a:hover {
	color: white;
}

.marker {
}
