:root {
	--main-bg-color: #8A5A44;
	--main-bg-color-2: #633c2c;
  }

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
	transition: 0.3s;
	width: 100%;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.contain {
	padding: 10px 30px;
}

.textcolor {
	color: #444;
}

.textcolor-header {
	color: #ffffff;
	padding: inherit;
	padding: 10px 30px;
	font: italic 35px/50px georgia;
}

.bgcolor {
	background-color: var(--main-bg-color-2);
}

.textcolor-announcements {
	color: #ffffff;
	font: italic georgia;
}

.image-photo-overlay {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle-photo-overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-photo-overlay:hover .image-photo-overlay {
  opacity: 0.3;
}

.container-photo-overlay:hover .middle-photo-overlay {
  opacity: 1;
}

.text-photo-overlay {
  background-color: #8A5A44;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@media (min-width: 1200px) {
  nav .container{
    width: 1245px;
  }
}
