{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Chemistry</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CHE/home">Home</a></li>
                                    <li><a href="/department/UG/CHE/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/CHE/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CHE/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/CHE/activities">Activities</a></li>
                                    <li class="active"><a href="/department/UG/CHE/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/CHE/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Staff Achievements</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                            <h3 class="no-margin-top has-divider text-highlight">Dr S.Manjappa</h3>
                                                                <li><i class="fa fa-star"></i>Karnataka State Environment Award” for the year 2008-09 by the Ministry of Ecology, Environment and Forest, Government of Karnataka.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Rajarambapu Patil National Award for promising Engineering Teacher for creative work done in technical education for the year 2009, by the Indian Society for Technical Education (ISTE) New Delhi.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>6th World Environmental Congress awarded WEC-11E-1AEWP Environ-mental award for outstanding Contribution in the area of Environmental Science & Technology.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Projects guided was awarded "Certificate of Commendation" at a State level during 2006 and "Project of the year" during 2012 by Karnataka State Council for Science & Technology (KSCST), Bangalore.</li>
                                                            </ul>
                                                            <br>
                                        
                                               
                                                            <ul class="custom-list-style medical">
                                                            <h3 class="no-margin-top has-divider text-highlight">Dr.B.E.Basavarajappa</h3>
                                                                <li><i class="fa fa-star"></i>12 times Best teacher award for producing 100% result for teaching Engineering Chemistry for first year students and Technical Chemistry for 3rd and 4th chemical engineering students.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>A Student project of Civil Engg. Students “Impact of recharge on aquifers system and underground water quality in parts of Jagalur taluq, Davangere district” guided was selected for KSCST seminar exhibition held at SDMIT, Ujire, DK.</li>
                                                                
                                                            </ul>
                                                            <br>
                                                            <ul class="custom-list-style medical">
                                                            <h3 class="no-margin-top has-divider text-highlight">Smt.M.G.Threveni</h3>
                                                                <li><i class="fa fa-star"></i>One time Best teacher award for producing 100% result.</li>
                                                                <br>
                                                                
                                                            </ul>
                                                            <br>
                                                            <ul class="custom-list-style medical">
                                                            <h3 class="no-margin-top has-divider text-highlight">J.K.Prasannakumar</h3>
                                                                <li><i class="fa fa-star"></i>University 4th Rank with Subject Gold Medal.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Best Research Paper Presentation Award at National conference on chemical and Biological Science (NCRTCBS) held on 30th and 31st March 2010,Kuvempu university, Shankarghatta , Shimoga.</li>
                                                                
                                                                
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>                            

                                <br>



                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}