{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Chemistry</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li class="active"><a href="/department/UG/CHE/home">Home</a></li>
                                    <li><a href="/department/UG/CHE/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/CHE/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CHE/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/CHE/activities">Activities</a></li>
                                    <li><a href="/department/UG/CHE/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/CHE/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">  
                              
                            <article class="welcome col-md-10 col-sm-8">                         
                                        <p><img class="img-responsive" src="assets/images/cse/cs.JPG" alt="" height="350px;" /></p>
                                        <div class="box">
                                       <p> Department of chemistry was established in this institute during the year 1979. The department was headed by Dr.S.Manjappa a well known academician and frontline researcher. The department now is heading by Dr.B.E.Basavarajappa.

The department is well established both in terms of infrastructure as well interms of qualified and dedicated faculty.

The Chemistry department is also running a Technical Chemistry Lab of Chemical Engineering steam. The department is also providing the facilities to cater the needs of UG and PG students of different streams to carry out their academic project works.</p>

                                        </div>
                                    </article> 
                            </div>     
                        
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}