{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Chemistry</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CHE/home">Home</a></li>
                                    <li><a href="/department/UG/CHE/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/UG/CHE/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CHE/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/CHE/activities">Activities</a></li>
                                    <li><a href="/department/UG/CHE/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/CHE/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">  
                              
                            <article class="welcome col-md-10 col-sm-8">    
                                        <h1 class="no-margin-top has-divider text-highlight">Laboratory Facilities</h1>
                                      
                                        <ul class="custom-list-style medical">
                                            <li><i class="fa fa-star"></i>Photo Electric Colorimeter.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Digital pH meter.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Digital Conductivity meter.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Hot air oven.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Constant water both.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Ion exchange water plant.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Distilled water unit.</li>



                                            
                                        
                                        </ul>
                                        
                                        <br>
                                        <h1 class="no-margin-top has-divider text-highlight">Technical Chemistry</h1>
                                    
                                        <ul class="custom-list-style medical">
                                            <li><i class="fa fa-star"></i>Muffle furnace.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Hot air oven.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Constant Water bath.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Ebullioscpic Instrument (Molecular weight determination).</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Fuming chamber.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Kipp’s Apparatus.</li>
                                            <br>
                                            
                                        </ul>
                                                                
                                        <h1 class="no-margin-top has-divider text-highlight">Major Equipments/Softwares</h1>
                                        <p><b>The department is sharing the following major equipments/software’s with ESTSC Research Laboratory:</b></p>
                                        <br>

                                        <ul class="custom-list-style medical">
                                            <li><i class="fa fa-star"></i>High Performance Liquid chromatography.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Gas Chromatography.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Atomic Absorption Spectrophotometer.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>UV-VIS Spectrophotometer.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Flame Photometer.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Ion Meter.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Flue Gas Analyzer.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Ambient Monitoring Instrument/ Stack Monitoring kit.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Auto clave.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Hot air ovens.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Incubator.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Bomb calorimeter.</li>
                                            <br>
                                    
                                    
                                    
                                        </ul>
                                                               
                                        <h1 class="no-margin-top has-divider text-highlight">Software's</h1>
                                        
                                        <ul class="custom-list-style medical">
                                            <li><i class="fa fa-star"></i>Waters data software.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>UV-Vis data Software.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>AAS Data acquisition software.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Wind monitoring software.</li>
                                            <br>
                                            </ul>
                                        
                                    </article><!--//page-content-->    
                                </div> 
                            </div> 

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}