{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Computer Science and Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CS/home">Home</a></li>
                                    <li><a href="/department/UG/CS/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/CS/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CS/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/CS/activities">Activities</a></li>
                                    <li class="active"><a href="/department/UG/CS/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/CS/research">Research</a></li>
                                    <li><a href="/department/UG/CS/psopso">PEO & PSO</a></li>
                                    <li><a href="/department/UG/CS/newsletter">News Letter</a></li>
                                    <li><a href="/department/UG/CS/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row ">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Staff Achievements</h1>
         
                                        <div class="content container bgdata">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7 content-text">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Dr. Poornima B, Professor, received the PhD in 2011-2012 from kuvempu university.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Dr. Nirmala C R, Professor, received the PhD in 2012-2013 from VTU, Belgaum.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Dr. Nirmala C R, Professor has been awarded "DHRONA" for guiding top TGMC projects under IBM Academic Initiative.</li>
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>                            

                                <br>

                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Student Achievements</h1>
         
                                        <div class="content container bgdata">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7 ">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Mr. Tejas Jain, Mr. Bharath, Ms. Swetha, Ms. Veda P Shinde under the guidance of Dr. Nirmala.C.R have won the Best Project Award under "TGMC 2010, IBM Academic Initiative".</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Mr. Prashanth Y, Ms. Prakruthi V, Ms. Poonam, Ms. ashwini G with the team name of "E-sparks" under the guidance of Dr.Nirmala.C.R have won the Best Project Award under "TGMC 2011, IBM Academic Initiative".</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Team "Exotic Minds" with Mr.Gautam.P, Mr.Bhimasen.V.Purohit, Ms.Pragati.P.M, Mr.Adarsh.S under the guidance of Dr.Nirmala.C.R have won the Best Project Award under "TGMC 2012, IBM Academic Initiative".</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Students of CSE under the guidance of Dr. Nirmala.C.R, Mr. Bhimsen V Purohit have developed the present College Website.</li>
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
   

    {% endblock %}