{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Computer Science and Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CS/home">Home</a></li>
                                    <li><a href="/department/UG/CS/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/CS/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CS/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/UG/CS/activities">Activities</a></li>
                                    <li><a href="/department/UG/CS/achievements">Achievements</a></li>
                                    <!-- <li><a href="/department/UG/CS/gallery">Photo Gallery</a></li> -->
                                    <li><a href="/department/UG/CS/research">Research</a></li>
                                    <li><a href="/department/UG/CS/psopso">PEO & PSO</a></li>
                                    <li><a href="/department/UG/CS/newsletter">News Letter</a></li>
                                    <li><a href="/department/UG/CS/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-11">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Forum Activities</h1>

                                        <h3 class="title">COMPUTER SCIENCE FORUM (UniCS)</h3>

                                        <div class="content container bgdata">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row content-text">
                                                        <article class="welcome col-md-8 col-sm-7">                         
                                                            <p>UniCS provides a platform for the students to exhibit their talents and skills. UniCS conducts variuos technical and non-technical events. UniCS conducts several short term courses and technical talks by inviting experts from industry and academia, organize industry and research centre visits and conduct personality development programs which may help in the placement.</p>
                                                        
                                                            <p>The following events are conducted regularly by UniCS:</p>

                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Student's Cricket Contest "BPL (BIET Premier League)".</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>"C-Quest"- A programming contest.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Various events for girls on account of Women's Day.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>DB-2 Certification Course by IBM Corp. India.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Aspirations 2020 by Infosys Ltd.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Rational Functional Tester[RFT] and Rational Application Developer Tool[RAD]- Certification Course by IBM Corp. India.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Soft Skills and Foundation Training Programme under Infosys Campus Connect.</li>
                                                                <br>
                                                            </ul>


                                                        </article><!--//page-content-->
                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                <br>

                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Short-term Courses</h1>
         
                                        <div class="content container bgdata">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>DB-2 Certification Course by IBM Corp. India</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Aspirations 2020 by Infosys Ltd.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Rational Functional Tester[RFT] and Rational Application Developer Tool[RAD]- Certification Course by IBM Corp. India</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>”LOTUS” Certification Course</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>RAD (Rapid Application Development).</li>
                                                                <br>
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}