{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Civil Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CV/home">Home</a></li>
                                    <li><a href="/department/UG/CV/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/CV/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CV/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/UG/CV/activities">Activities</a></li>
                                    <li ><a href="/department/UG/CV/achievements">Achievements</a></li>
                                    <li  ><a href="/department/UG/CV/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Forum Activities</h1>

                                        <div class="content container bgdata">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">                         
                                                            <p>Under Forum Activity in the Department Celebrating: </p>

                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Engineers Day September 15th</li><br>
                                                                <li><i class="fa fa-star"></i>World Environment Day June 5th</li><br>
                                                                <li><i class="fa fa-star"></i>Teachers Day September 5th</li><br>
                                                                <li><i class="fa fa-star"></i>World Water Day June 6th</li><br>
                                                                <li><i class="fa fa-star"></i>Tug of War</li><br>
                                                    
                                                            </ul>


                                                        </article><!--//page-content-->
                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                <br>

                                
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

{% endblock %}