{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Civil Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CV/home">Home</a></li>
                                    <li class="active"><a href="/department/UG/CV/profile">Vision and Mission</a></li>
                                    <li ><a href="/department/UG/CV/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CV/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/CV/activities">Activities</a></li>
                                    <li ><a href="/department/UG/CV/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/CV/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                        <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Vision</h3>
                                                <p>To train the students to become civil engineers with leadership qualities, having ability to take up the professional assignments and research with a focus on innovative approach to cater the needs of the society.</p>    
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>
                            <br><br>
                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Mission</h3>
                                                    <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>To provide quality education through up–dated curriculum and conducive teaching– learning environment for the students to excel in higher studies, competitive examinations and research activities.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>To impart soft skills, leadership qualities and professional ethics among the graduates to handle the projects independently with confidence.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>To deal with the contemporary issues and to cater the socio–economic needs.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>To build industry–institute interaction and to establish good rapport with the alumni.</li>
                                                            </ul>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>

                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Program Educational Objectives (PEOs)</h3>
                                                    <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>To provide quality education to the students to meet the challenges in the field of civil engineering and to serve the society.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>To impart the knowledge of planning, analysis, design and construction of civil engineering infrastructure using the BIS codes of practice and soft skills.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>To implant the sense of ethics, creativity, leadership, self-confidence and independent thinking.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>To establish a healthy and continued relationship with the industry, professional bodies and alumni for the overall development of the department.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>To motivate the students to take up competitive examinations, higher studies and research activities.</li>
                                                            </ul>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>

                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Program Specific Outcomes (PSOs)</h3>
                                                    <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Graduates will be able to apply the fundamental concepts, software and BIS codal provisions to excel in the analysis, design and construction of sustainable civil engineering infrastructure.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Graduates will be able to practice the profession with a sense of ethics and confidence to cater the needs of the society.</li>                                        
                                                                <br>
                                                    </ul>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>

                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                <h3 class="title" style="font-weight: 600">PROGRAM OUTCOMES(POs defined by NBA)</h3>    
                                                <h3 class="title" style="font-weight: 600">Engineering Graduates will be able to:</h3>
                                                    <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Engineering knowledge: Apply the knowledge of mathematics, science, engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.</li><br>
                                                                <li><i class="fa fa-star"></i>Problem analysis: Identify, formulate, review research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.</li><br>
                                                                <li><i class="fa fa-star"></i>Design/development of solutions: Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, societal, and environmental considerations.</li><br>
                                                                <li><i class="fa fa-star"></i>Conduct investigations of complex problems: Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions.</li><br>
                                                                <li><i class="fa fa-star"></i>Modern tool usage: Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations.</li><br>
                                                                <li><i class="fa fa-star"></i>The engineer and society: Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.</li><br>
                                                                <li><i class="fa fa-star"></i>Environment and sustainability: Understand the impact of the professional engineering solutions in societal and environmental contexts, and demonstrate the knowledge of, and need for sustainable development.</li><br>
                                                                <li><i class="fa fa-star"></i>Ethics: Apply ethical principles and commit to professional ethics and responsibilities and norms of the engineering practice.</li><br>
                                                                <li><i class="fa fa-star"></i>Individual and team work: Function effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings.</li><br>
                                                                <li><i class="fa fa-star"></i>Communication: Communicate effectively on complex engineering activities with the engineering community and with society at large, such as, being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions.</li><br>
                                                                <li><i class="fa fa-star"></i>Project management and finance: Demonstrate knowledge and understanding of the engineering and management principles and apply these to one’s own work, as a member and leader in a team, to manage projects and in multidisciplinary environments.</li><br>
                                                                <li><i class="fa fa-star"></i>Life-long learning: Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change.</li><br>

                                                            
                                                            
                                                            </ul>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>

                           


                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

{% endblock %}