{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Physics</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/PHY/home">Home</a></li>
                                    <li><a href="/department/UG/PHY/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/PHY/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/PHY/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/UG/PHY/activities">Activities</a></li>
                                    <li><a href="/department/UG/PHY/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-11">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Forum Activities</h1>

                                        <h3 class="title">PHYSICS FORUM </h3>

                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">                         
                                                            <p>SCIENCE FORUM: The Science forum is constituted for I year students to enhance their knowledge through conducting the competitions in Power point presentation, Debates among the students and teaching fraternity, inter college competitions, (sending the students to other colleges also.)</p>

                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}