{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Physics</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/PHY/home">Home</a></li>
                                    <li><a href="/department/UG/PHY/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/UG/PHY/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/PHY/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/PHY/activities">Activities</a></li>
                                    <li><a href="/department/UG/PHY/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">  
                              
                            <article class="welcome col-md-10 col-sm-8">    
                                        <h1 class="no-margin-top has-divider text-highlight">Laboratory Facilities</h1>
                                       <p><img class="img-responsive" src="assets/images/cse/cs.JPG" alt="" height="350px;" /></p>
                                        <div class="box">
                                                <p>The Laboratory of Department of physics are utilized by M.Tech., Dental, Medical college students for their projects to conduct.</p>
                                        </div>
                                        <br>
                                    </article> 
                                    <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Major Equipments</h1>
                                        <ul class="custom-list-style medical">
                                            <li><i class="fa fa-star"></i>He-Ne Gas Laser of 5mW.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Four Probe set up for measurement of conductivity of material.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Ultrasonic interferometer to measure Ultrasonic wave velocity and allied parameters.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Kits of Transistor characteristics, LCR resonance setup with AFO.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i> Cathode Ray Oscilloscopes.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>B-H Curve setup for measuring magnetic fields.</li>


                                            
                                        
                                        </ul>
                                        
                                    </article><!--//page-content-->    
                                </div> 
                            </div> 

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}