{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Physics</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/PHY/home">Home</a></li>
                                    <li class="active"><a href="/department/UG/PHY/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/PHY/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/PHY/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/PHY/activities">Activities</a></li>
                                    <li><a href="/department/UG/PHY/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                        <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Vision</h3>
                                                    <p>Our Vision is to working closely with other faculties and technocrats to see excellence with diffuse departmental boundaries, to interact among different disciplines to make our students continually increase their intellect and critical thinking capabilities through academic challenges, as capable users of technology.</p>


                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>
                            <br><br>
                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Mission</h3>
                                                    <p>Our Mission is to create and maintain an interdisciplinary, well renowned, research environment that generates fundamental and technical knowledge about physical phenomena and produces highly skilled technocrats at all levels so as to share this knowledge in empowering, appropriate and relevant ways with all members of society through classroom teaching, training and outreach .</p>


                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}