{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Biotechnology:</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/BT/home">Home</a></li>
                                    <li><a href="/department/UG/BT/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/BT/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/BT/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/UG/BT/activities">Activities</a></li>
                                    <li><a href="/department/UG/BT/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/BT/gallery">Photo Gallery</a></li>
                                </ul>                   
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Staff Achievements</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i> Dr.B.E Rangaswamy , Prof &Head of Department, Dept of Biotechnology has been awarded “P.H.Gregory” Award Instituted by Indian Aerobiological Society ® Kolkatta</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i> Dr.B.E Rangaswamy Received the Travel grants from AICTE, New Delhi to deliver a talk on Contamination on Indoor environment with bacteria and fungi in tertiary health care centre during 5th European Symposium on Aerobiology held at Krakow-Poland during 3rd to 7th September 2012.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>  Attended 10th Basic Course in Aero-microbiology, certificate course from Roskilde University, Denmark during July 6th to 13th 2011. (Sponsored by International Association of Aerobiology)</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>   Prakash K.K has received Young Scientist (SMYSR) Award from VGST, 2014-15.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Joint paper by Prakash and Rangaswamy was awarded First Prize (cash award of twenty thousand rupees) at 5th KSTA annual conference held at Dayanand Sagar Institutions Bangalore during 19-20th December 2012.</li>
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>                            

                                <br>

                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Student Achievements</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Ms Sheryl Judith D’silva and Mr. Suhas has won first place in BOSCH sponsored BVBCET’s Pleades-2014 National Techfest.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Ms Sheryl Judith D’silva and Mr. Suhas has presented a poster in CHEMEXCEL-2014 held at Dept of Chemical engineering BIET.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Mr. Prakash K K, Research Student has been awarded “P.H.Gregory” Award in the 17th National Conference on Aerobiology, Pune, 2012.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i> Joint paper by Prakash and Rangaswamy was awarded First Prize (cash award of twenty thousand rupees) at 5th KSTA annual conference held at Dayanand Sagar Institutions Bangalore during 19-20th December 2012.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Two student’s projects have been selected for the 35th series of KSCST Student Projects Programme-Seminar and Exhibition: 2011-2012 to be held on 13th and 14th July 2012 at Sri Dharmasthala Manjunatheshwara Institute of Technology, Ujire, Dharmasthala..</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Ms. Neharika Kamat, final year student(2009-2013), has secured 2nd place in the National level inter collegiate public speaking contest ‘Voice for BT’ sponsored by Novozymes, ABLE and Biospectrum conducted at Christ University , Bangalore on Sept. 11, 2012.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Ms. Neharika Kamat, final year student(2009-2013), had been short listed for top fifteen teams in ‘Inventor Student Design Competition’ held at Indian Institute of Technology, Madras on 16th Nov. 2011.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Sreelakshmi Bhat, student of 2008-12 batch obtained 2nd Rank from Visvesvaraya Technological University, Belgaum.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Shaman Shetty has won first prize in TECHNOMANIA 2K15 organized at UBDTCE for presenting a technical paper.</li>
                                                                <br>
                                                                
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}