{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of BioTechnology:</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/BT/home">Home</a></li>
                                    <li><a href="/department/UG/BT/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/BT/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/BT/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/UG/BT/activities">Activities</a></li>
                                    <li><a href="/department/UG/BT/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/BT/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Forum Activities</h1>

                                        <h3 class="title">INFORMATION SCIENCE FORUM </h3>

                                                                
                                                            <p><strong>FORUM OF BIOTECHNOLOGISTS:</strong> A Forum of Biotechnologists provides a platform for the students to exhibit their talents in the co-curricular and extra-curricular activities. Forum conducts technical talks by inviting experts from industry and academia, organize industry and research centre visits and conduct personality development programs which may help in the placement.



FORUM ACTIVITIES:

An Invited Lecture was arranged on Applications of Microbes in Biotechnology by the speaker Dr. Ramalingappa, Assoc Prof, Dept of microbiology, Davanagere University on 20th Feb, 2014.

An Invited Lecture was organized on Role of Plant Biotechnology in the welfare of mankind by the speaker Dr. Ramakrishnaiah, Professor, Dept of Botany, Govt Arts and Science College, Bangalore on 15th Nov, 2013.

Dr.B.E.Rangaswamy, Prof & Head, Dept. of Biotechnology, coordinated the VGST-VTU sponsored Faculty Development Programme on Nanotechnology on 11th to 15th April, 2012 at VTU campus, Belgaum.

Department of Biotechnology, BIET along with DRM Science College, Davangere jointly conducted a seminar on ‘Applications of Biotechnology in Human Welfare’ sponsored by University Grants Commission, New Delhi on 16th July 2012 at DRM Science College, Davangere.

Department of Biotechnology, BIET and A.V.K.College for women jointly conducted UGC sponsored one day National seminar on ‘Biotechnology in Human Welfare’, on 13th Feb.2013 at AVK College Auditorium, Davangere.

Organized a workshop on “Techniques in Biotechnology” Hands-On-Workshop from Jan 19-24th, 2015.</p>
                                                        <p> </p>
                                                        <br>
                                                            <h1 class="no-margin-top has-divider text-highlight">Short-term Courses</h1>

                                                            <p>Department is organizing a two day workshop in the month of Dec-2014</p>


                                                        </article><!--//page-content-->
                                                
                                

                                                       
                                        <h1 class="no-margin-top has-divider text-highlight">Conference</h1>
         
                                        
                                                    
                                                            <ul class="custom-list-style medical">
                                                                <li>A Two day Workshop for Biotechnology Faculty on Academia and Industry Integration in Biotechnology was held on 7th Feb, 2014 at Biotechnology seminar hall.

A Two day Workshop for PG Students on Research Opportunities in Biotechnology and Allied Sciences was conducted on 19th and 20th October, 2013.

UGC sponsored one day National seminar on “Biotechnology in Human Welfare” was organized by Dept of Biotechnology and Research centre, BIET and Dept of Botany and Zoology, AVK college, Davangere.</li>
                                                                <br>
                                                                
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                                    
                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}