{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department Of BioTechnology </h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li class="active"><a href="/department/UG/BT/home">Home</a></li>
                                    <li><a href="/department/UG/BT/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/BT/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/BT/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/BT/activities">Activities</a></li>
                                    <li><a href="/department/UG/BT/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/BT/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">  
                              
                            <article class="welcome col-md-10 col-sm-8">                         
                                        <p><img class="img-responsive" src="assets/images/cse/cs.JPG" alt="" height="350px;" /></p>
                                        <div class="box">
                                                <p>Biotechnology is the application of science to achieve industrial or commercial objectives, which is using living materials for a commercial or industrial purpose. Biotechnology covers all aspects of our everyday life, including: agriculture and food safety, healthcare, law enforcement and environmental issues. Today, biotechnology is used in three main ways: 1.Directly using cells-Placing yeast into a bioreactor to ferment grapes, 2.Using the proteins/enzymes made by cells-Isolating antibiotics from bacteria for use in human medicine, 3. Using the genetic material inside of cell-DNA fingerprinting. Some of the Latest Advances in the World of Biotechnology are Cloning, DNA fingerprinting, Genetically modified bacteria to synthesize products and Genetically modified foods.

The Department of Biotechnology was started in the academic year 2002-03 with a clear vision to provide high quality education to the students with in-depth knowledge of fundamentals and latest technology in biotechnology to meet the challenges of current agriculture, pharma and environmental fields. The department emphasizes on industry and research oriented teaching and learning, and maintains high standards of technical education. To provide practical knowledge to the students, department has extremely good infrastructure with well equipped laboratories. The department has experienced and learned faculties and engaged in research activities on Aeroallergens, Bacteriophage therapy, Biopollution, Biofuells, Phytochemical studies, Tissue culture, Biodiversity etc.



</p>
                                               
                                               
                                              <p>
                                        
                                        </div>
                                    </article>      
                        
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}