{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of BioTechnology</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                               <ul class="nav">
                                    <li><a href="/department/UG/BT/home">Home</a></li>
                                    <li class="active" ><a href="/department/UG/BT/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/BT/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/BT/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/BT/activities">Activities</a></li>
                                    <li><a href="/department/UG/BT/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/BT/gallery">Photo Gallery</a></li>
                                </ul>                   
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                        <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Vision</h3>
                                                    <p>To impart quality education for translating knowledge to the widest domains and create knowledge assets. To contribute in creating a pool of young engineer to meet the demands of industry and society, through excellence in technical education and research, to remain a source of pride to the nation.</p>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>
                            <br><br>
                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Mission</h3>
                                                    <p>To be an educational centre of international excellence in technical learning and innovation to help every learner to be successful. To emphasize its foundational heritage in technical education, facilitate interdisciplinary learning, foster research and produce graduates who are technologically astute, think critically and demonstrate proficiency.

></p>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

{% endblock %}