{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="textColorCustom" style="font-weight: 600">AICTE</h1>
            </strong>

        </header>
        <div class="page-content">
            <div class="row page-row">
                <article class="welcome col-md-12 col-sm-11">
                    <!-- {% for eoa in eoas %}
                    
                    <section class="widget has-divider">
                        <h3 class="title">Download EOA</h3>
                        <p>Click the link below to download the Academic Calender</p>
                        <a class="btn btn-theme" href="{{eoa.eoa.url}}" target="_blank"><i class="fa fa-download"></i>Download
                            now</a>
                        <a href="{{eoa.eoa.url}}" class="btn btn-theme view-pdf"><i class="fa fa-eye"></i>View
                            now</a>
                    </section>
                    
                    {% endfor %} -->

                    <!-- <section class="widget has-divider">
                        <h3 class="title">EOA 2020-2021</h3>
                        <p>Click the link below to download the EOA</p>
                        <a class="btn btn-theme"  target="_blank"><i class="fa fa-download"></i>Download
                            now</a>
                        <a class="btn btn-theme view-pdf">View
                            now</a>
                    </section> -->
                    <section class="widget has-divider">
                        <h3 class="title">EOA 2019-2020</h3>
                        <p>Click the link below to download the EOA</p>
                        <a class="btn btn-theme" href="{% static 'assets/aicte/1. AICTE Approval 2019.pdf' %}" target="_blank"><i class="fa fa-download"></i>Download</a>
                        <a class="btn btn-theme view-pdf" href="{% static 'assets/aicte/1. AICTE Approval 2019.pdf' %}"><i
                            class="fa fa-eye"></i>View</a>
                    </section>
                    <!-- <section class="widget has-divider">
                        <h3 class="title">EOA 2018-2019</h3>
                        <p>Click the link below to download the EOA</p>
                        <a class="btn btn-theme" target="_blank"><i class="fa fa-download"></i>Download
                            now</a>
                        <a class="btn btn-theme view-pdf">View
                            now</a>
                    </section> -->
                    <section class="widget has-divider">
                        <h3 class="title">Mandatory Disclosure</h3>
                    </section>

                    
        
                </article>
                <!--//page-content-->
        
            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
        </div>
        <!--//page-->
        </div>
        <!--//content-->
        </div>
        <!--//wrapper-->

{% endblock %}