{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!-- ******CONTENT****** --> 
    <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <strong><h1 style="font-weight: 600">Bapuji Educational Association</h1></strong>
                    
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <article class="welcome col-md-12 col-sm-11">                         
                           
                            <section class="widget has-divider" style="text-align:justify">
                               
                            <p>The Bapuji Educational Association is one of the oldest and most prestigious educational institutions in karnataka. It came into existence in 1958 with the sole purpose of starting a first grade college in Davangere. It intended to cater to the needs of those who aspired for higher educaiton. All the lovers of higher education volunteered their service whole heartedly in building up this association. Money flowed in as the donors contributed splendidly. Though imparting higher education to the aspirants was the Association's main objective, it gave attention to start a wide range of schools and colleges according to the situational needs and demands.</p>

<p>Today the association has grown to be a big tree, like the banyan,with all its twigs and branches. It runs schools and colleges right from Nursery to Post Graduate Courses, from Diploma to Engineerng, Nursing to Medical. It also runs Pharmacy and Dental Colleges. The left out areas are only Animal Husbandry and Agriculture. There are more than 45 schools and colleges including service facilities, now working under the banner of the Bapuji Educational Association.</p>

<p>Over a period of 47 years, the BEA has given birth to almost identical number of babies, the latest one being the SS Institute of Medical Sciences and Research Hospital. All these babies, some of which have now become adults and some others old, are hale and hearty. The association has taken every care, at every step to facilitate the smooth growing of all its family members. The evolution of the Bapuji Educational Association has led to the significant growth of Davangere. Many elders, education lovers, philanthropists and donors with their vision and commitment to the cause of service are behind this healthy and prosperous growth of the association.</p>

<p>The most significant of all the personalities responsible for the allround development of this family is Dr. Shamanur Shivashankarappa, the present Hon. Secretary of the association.</p>

                                
                            </section>

                               <h3 class="has-divider text-highlight">Governing Council Members</h3>

                            <section class="widget has-divider">
                               
                            <div class="table-responsive">                      
                                    <table class="table table-boxed">
                                        <thead>
                                            <tr>
                                                
                                                <th>Name</th>
                                                <th>Designation</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <td>Sri R Ramanand</td>
                                                <td>President</td>
                                            </tr>
                                            <tr>
                                                
                                                <td>Dr. Shamanur Shivashankarappa</td>
                                                <td>Hon. Secretary</td>
                                                
                                            </tr>
                                            <tr>
                                                
                                                <td>Sri A.S. Veeranna</td>
                                                <td>Joint Secretary</td>
                                                
                                            </tr>
                                            <tr>
                                                
                                                <td>Sri S.S. Mallikarjuna</td>
                                                <td>Member</td>
                                            </tr>
                                            <tr>
                                                
                                                <td>Sri S.S. Jayanna</td>
                                                <td>Member</td>
                                                
                                            </tr>
                                            <tr>
                                                
                                                <td>Smt. K.A. Girijamma</td>
                                                <td>Member</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table><!--//table-->
                                </div>

                            
                                
                            </section>

                            <section style="text-align:justify">
                            <h3 class="has-divider text-highlight">About Davangere</h3>

                            <p>Davangere is situated on the National Highway No.4. It is connected to all important places of India through broad-gauge rail routes.The attempts are being made to have airways links with the important cities of Karnataka &amp; India.Davangere has the population of over five lakhs.</p>

<p>Though Davangere was earlier known for its trade commerce, the surrounding villages mainly depended on agriculture.The main crops like groundnuts,cotton,paddy and oil seeds grown by these farmers were being brought to Davangere. This led to the establishment of cotton mills,oil extracting mills,rice mills etcin Davangere.The Rajanahally, the B.T. and the Chigateri families stood atop in the establishment of mills and factories which generated employment opportunitiesto thousands of people.The rapid growth in this field got Davangere the name "The Manchester of Karnataka".Along with the mills and factories,business establishments,choultries,hotels,theaters,schools and colleges came into existence.</p>

<p>The birth of Bapuji Educational Association in 1958 was a milestone in the history of Davangere.Before the establishment of this association, there was a little scope for education in general and higher education in particular. Today there are more than forty six educational institutions right from LKG to PG,Diploma to Engineering, Nursing to Medical, BBM to MBA, B.C.A to M.C.A. In addition to this, there are a number of government and other private schools and colleges which cater to the educational needs of not only the students of Davangere district but also the students of other states and abroad.</p>

<p>The fall of cotton and oil mills due to many reasons brought an end to the glory that Davangere once enjoyed as "The Manchester of Karnataka".But the growth of educational institutions has now earned Davangere the name 'The Oxford of Karnataka' as it were to compensate the setback that the Davangere city had experienced. The growth of the Bapuji Educational Association and Davangere city are so identical that the Bapuji Educational Association and Davangerehave almost become synonyms.Many great families,donors and lovers of Davangere along with Sri.Shamanur Shvashankarappa, the present Hon.Secretary of the BapujiEducational Association are worth noted in this regard.</p>
                            </section>
                                 
                            
                        </article><!--//page-content-->
                        
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

{% endblock %}