{% extends 'base.html' %}

{% load static %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 card shadow-lg p-3 mb-5 bg-white rounded contain ">
            <div class="col-md-2">
                <h1 class="textcolor"><b>Quick Facts</b>

                </h1>
            </div>
            <div class="col-md-2">
                <h1 class="textcolor"><b>64 th</b>
                </h1>
                <h6>Rank in India</h6>

            </div>
            <div class="col-md-2">
                <h1 class="textcolor"><b>Best</b>
                </h1>
                <h6> among Eng. Institutions under VTU Affiliation
                </h6>
            </div>
            <div class="col-md-2">
                <h1 class="textcolor">
                    <b>46</b>
                </h1>
                <h6>Industrial collaborations

                </h6>
            </div>
            <div class="col-md-2">
                <h1 class="textcolor"><b>350</b></h1>
                <h6>Avg. Publications Per Year

                </h6>
            </div>
            <div class="col-md-2">
                <h1 class="textcolor"><b>95%</b></h1>
                <h6> Placement Percentage</h6>
            </div>
        </div>
        <div class="col-md-1">

        </div>

        <div class="col-md-12 text-center">
            <br><br><br>
            <h1>ABOUT US</h1>
            <br><br>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded ">
                    <h1 class=" textcolor-header bgcolor"><b>Vision</b></h1>
                    <div class="shadow-lg p-3 mb-5 bg-white rounded contain">

                        <p>To be a centre of excellence recognized nationally and internationally, in distinctive areas
                            of engineering education and research, based on a culture of innovation and invention</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h1 class="textcolor-header bgcolor"><b> Mission</b></h1>
                    <div class="contain">

                        <p>BIET contributes to the growth and development of its students by imparting a broad based
                            engineering education and empowering them to be successful in their chosen field by
                            inculcating in them positive approach, leadership qualities and ethical values
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h1 class="textcolor-header bgcolor"><b> Quality Policy</b></h1>
                    <div class="contain">

                        <p> <i class="fa fa-star"></i>
                            Inculcating the concepts of discipline, punctuality and ethics into the thought process of
                            students to promote their overall growth. </p>

                        <p> <i class="fa fa-star"></i> Motivating teachers to impart knowledge continuous interaction
                            with students.</p>

                        <p> <i class="fa fa-star"></i> Carrying out objective evaluation of student’s performance.</p>

                        <p> <i class="fa fa-star"></i> Enhancing the academic skills of the faculty through faculty
                            development programs.
                        </p>
                        <p> <i class="fa fa-star"></i> Creating an atmosphere conductive to research in the campus.</p>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <br><br><br>

</div>



{% endblock %}