{% extends 'base.html' %}

{% load static %}
{% block content %}

    <!-- ******CONTENT****** --> 
    <div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <strong><h1 style="font-weight: 600">Director's Message</h1></strong>
                    
                </header> 
                <div class="page-content" style="text-align:justify">
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive"
                                src="{% static 'assets/images/about_biet/director.jpg' %}"
                                alt="" 
                                style="width:280px;height:260px; margin-bottom: 10px;">
                            <!-- <img class="img-thumbnail"
                                        src="{{faculty_data.image.url}}" alt=""
                                        style="width:330px;height:360px;"> -->
                                        <h3 class="text-highlight" style="text-align: center;">Y. VRUSHABHENDRAPPA</h3>
                                        <h4 class="has-divider text-highlight" style="text-align: center;">Director</h4>

                        </figure>
                                        
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                        

                            <p>Education itself is a Billion crore Industry and is very important to the development of a country and society. Technical Education plays a vital role in human resource development of the country by creating skilled manpower enhancing Industrial productivity and improving the overall quality of life.</p>
                            <p>The changing economic scenario throughout the world has made several developing countries including India to give utmost importance to Technical Education.</p>
                            <p>In this direction our Institute make special efforts to inculcate competitiveness and quality in technically qualified human recourses to make it globally acceptable to all those who join our Institute as there destination to persue Engineering education.</p>                          
                                 
                        </div>  
                        
                    </div><!--//page-row-->
                    <!-- <div class="row page-row">
                        
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Nagendra Prasad K S</h3>
                            <h4>Vice President - Technology at American Express</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse aliquam, tellus id pellentesque viverra,
                                metus lacus lobortis augue, sed malesuada urna sapien id
                                orci. Maecenas pharetra mauris quis tincidunt egestas.
                                Sed condimentum felis quis nulla varius. Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit. Etiam diam
                                diam, porttitor quis mollis non, suscipit id tellus.
                                Nullam a ultrices sem, vel tincidunt felis. Sed eu
                                suscipit erat. Nam malesuada, leo porta rhoncus blandit,
                                ipsum tellus fringilla mi, ac pretium nisl turpis sit
                                amet purus. Mauris pellentesque tincidunt lacus commodo
                                lobortis. Nulla consectetur scelerisque molestie.</p>
                        </div>
                    </div> -->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}