{% extends 'base.html' %}

{% load static %}
{% block content %}
  

    <!-- ******CONTENT****** --> 
    <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <strong><h1 style="font-weight: 600">Governing Body</h1></strong>
                    
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <article class="welcome col-md-12 col-sm-11">                         

                            <section class="widget has-divider">                             
                            <div class="table-responsive">                      
                                    <table class="table table-boxed">
                                        <thead>
                                            <tr>
                                                
                                                <th>Name</th>
                                                <th>Designation</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>                                                
                                                <td>Sri.A.S.Veeranna</td>
                                                <td>Member</td>
                                            </tr>
                                            <tr>                                                
                                                <td>Sri.R.Ramanand</td>
                                                <td>Member</td>                                                
                                            </tr>
                                            <tr>                                                
                                                <td>Member nominated by A.I.C.T.E</td>
                                                <td>Member</td>                                                
                                            </tr>
                                            <tr>                                                
                                                <td>Industrialist nominated by A.I.C.T.E</td>
                                                <td>Member</td>
                                            </tr>
                                            <tr>                                                
                                                <td>Member from University</td>
                                                <td>Member</td>                                                
                                            </tr>
                                            <tr>                                                
                                                <td>Member nominated by State Government</td>
                                                <td>Member</td>                                                
                                            </tr>
                                            <tr>                                                
                                                <td>Industrialist nominated by State Government</td>
                                                <td>Member</td>
                                            </tr>
                                            <tr>                                                
                                                <td>Dr. M.C. Nataraja, Principal, B.I.E.T</td>
                                                <td>Member</td>                                                
                                            </tr>
                                            <tr>                                                
                                                <td>Prof.Y.Vrushabhendrappa, Director, B.I.E.T</td>
                                                <td>Member</td>                                                
                                            </tr>
                                            <tr>                                                
                                                <td>Dr.Shamanur Shivashankarappa, Hon.Secretary, Bapuji Educational Association</td>
                                                <td>Member</td>
                                            </tr>
                                            <tr>                                                
                                                <td>S.S.Mallikarjun, Hon. Joint Secretary, Bapuji Educational Association</td>
                                                <td>Member</td>                                                
                                            </tr>
                                            <tr>                                                
                                                <td>Senior member from Faculty, B.I.E.T</td>
                                                <td>Member</td>                                                
                                            </tr>
                                        </tbody>
                                    </table><!--//table-->
                                </div>
                               
                            </section>
                        </article><!--//page-content-->
                        
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}