{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="textColorCustom" style="font-weight: 600">Governing Body</h1>
            </strong>
            Mauris eu faucibus sem, ac pharetra justo. Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas. Curabitur blandit euismod ipsum, ac commodo eros tincidunt et. Aenean
            tincidunt vestibulum adipiscing. Ut eu enim velit. Ut lectus leo, interdum sodales nibh nec, dictum pulvinar
            nisl. In consequat fringilla turpis id porta. Cras eget lacus ac orci facilisis aliquam. Fusce a lobortis
            purus. Integer sed odio et ipsum interdum volutpat at nec nisl. Sed pulvinar ante orci, id tristique sapien
            cursus et. Nullam ut augue et magna ornare aliquam ut vulputate dui. Vivamus fringilla eu ipsum ut mattis.
            Nulla a varius velit. Phasellus at lectus ut felis posuere lacinia in id purus.
        </header>
        <div class="page-content">

            <div class="row page-row">

                {% for govern in governing_body_data %}

                <div class="col-md-3 col-sm-3 text-center">
                    <div class="album-cover">
                        <!-- <a href="#"> -->
                        <img class="img-thumbnail"
                            src="{{govern.image.url}}" alt=""
                            style="width:360px;height:300px;">


                        <!-- </a> -->
                        <div class="desc">
                            <h5>{{govern.name}}</h5>
                            <h4><small>{{govern.designation}}</small>
                            </h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- <div class="row page-row">
                <article class="welcome col-md-12 col-sm-11">

                    <section class="widget has-divider"> 
                        <div class="table-responsive">
                            <table class="table table-boxed table-striped">
                                <thead>
                                    <tr>
                                        <th>S.NO.</th>
                                        <th>Name</th>
                                        <th>Designation</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>Dr. Shamanur Shivashankarappa, Hon.Secretary, Bapuji Educational Association
                                        </td>
                                        <td>Chairman</td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>Sri. Athani S. Veeranna</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>Sri. Rajanahalli Ramanand</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>Sri. S.S. Mallikarjuna, Hon. Joint Secretary, Bapuji Educational Association
                                        </td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <td>5.</td>
                                        <td>Dr. Prabha Mallikarjun</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <td>6.</td>
                                        <td>Sri. A.S. Niranjan</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <td>7.</td>
                                        <td>AICTE – NOMINEE </td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <td>8.</td>
                                        <td>AICTE – NOMINEE INDUSTRIALIST </td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <td>9.</td>
                                        <td>Dr. Puttaraju</td>
                                        <td>Member (VTU-Nominee)</td>
                                    </tr>
                                    <tr>
                                        <td>10.</td>
                                        <td>Member nominated by State Government</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <td>11.</td>
                                        <td>Prof. Y. Vrushabhendrappa, Director, B.I.E.T</td>
                                        <td>Member</td>
                                    </tr>
                                    <tr>
                                        <td>12.</td>
                                        <td>Dr. H.B. Aravinda, Principal</td>
                                        <td>Member Secretary</td>
                                    </tr>
                                    <tr>
                                        <td>13.</td>
                                        <td>DR. K.S. BASAVARAJAPPA
                                            SENIOR FACULT</td>
                                        <td>Member</td>
                                    </tr>
                                    </tbody>
                            </table>
                            //table 
                        </div>

                    </section>
                </article>
            </div> -->
                <!--//page-row-->
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->
</div>
<!--//wrapper-->

{% endblock %}