{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 style="font-weight: 600">Major Events</h1>
            </strong>
        </header>
        <div class="page-content">
            <div class="row page-row">
                <article class="welcome col-md-12 col-sm-11">
                    <section>
                        <ul class="list-inline">
                            <li><i class="fa fa-star"></i>During 1984, the BEA has celebrated its silver Jubilee,
                                <b>Mr.Gyani Jail Singh</b>, then President of India inaugurated the occassion.</li>
                            <li><i class="fa fa-star"></i>In the year 2012, BEA celebrated its Golden Jubilee. His
                                excellency <b>Dr.A.P.J.Abdul Kalam</b>, former president of India inaugurated the
                                function.</li>
                            <li><i class="fa fa-star"></i>As a part of Golden Jubilee Celebration, every year, Golden
                                Jubilee Communeration lectures are being regularly arranged.</li>
                        </ul>
                    </section>
                </article>
                <!--//page-content-->
            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->

{% endblock %}