{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">

        <div class="page-content">
            <div class="row page-row">

                <div class="content-wrapper col-md-12 col-sm-8">
                    <div class="page-row">
                        <!--<h1 class="no-margin-top has-divider text-highlight">Descriptions</h1>-->
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="textColorCustom" class="has-divider text-highlight">NAAC</h1>

                                <section class="widget has-divider">
                                    <h3 class="title">Certificate of Accreditation</h3>
                                    <p>Click the link below to download or view the certificate</p>
                                    <a class="btn btn-theme" href="{% static 'assets/naac/NAAC 06-Jun-2020 09-19-31.pdf' %}" target="_blank"><i class="fa fa-download"></i>Download</a>
                                    <a class="btn btn-theme view-pdf" href="{% static 'assets/naac/NAAC 06-Jun-2020 09-19-31.pdf' %}"><i
                                        class="fa fa-eye"></i>View</a>
                                </section>

                            </div>
                        </div>
                        <!--//content-wrapper-->
                    </div>
                    <!--//page-row-->
                </div>
                <!--//page-content-->
            </div>
            <!--//page-->
        </div>
        <!--//content-->
    </div>
    <!--//wrapper-->
</div>

{% endblock %}