{% extends 'base.html' %}

{% load static %}
{% block content %}


        <!-- ******CONTENT****** -->
        <div class="content container">
            <div class="page-wrapper">

                <div class="page-content">
                    <div class="row page-row">

                        <div class="content-wrapper col-md-12 col-sm-8">
                            <div class="page-row">
                                <!--<h1 class="no-margin-top has-divider text-highlight">Descriptions</h1>-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1 class="has-divider text-highlight">NIRF Documents</h1>
                                        <div style="width: 60%;" id="latestnews">
      
        <a href="https://www.bietdvg.edu/NIRF/uploads/final-Consultancy%20Project%20Detail.pdf" target="_black">» Students opting for higher studies</a><br><br>

        <a href="https://www.bietdvg.edu/NIRF/uploads/final%20NIRF%20Report.pdf" target="_black">» NIRF Report.pdf</a><br><br>

<a href="https://www.bietdvg.edu/NIRF/uploads/final-Consultancy%20Project%20Detail.pdf" target="_black">»Consultancy Project Detail</a><br><br>

<a href="/to_be_updated" target="_black">» Details of Top Universities where your graduates have been admitted  for higher studies</a><br><br>

<a href="/to_be_updated" target="_black">» phD student details_NIRF</a><br><br>

<a href="/to_be_updated" target="_black">» Placement - N I R F</a><br><br>

<a href="/to_be_updated" target="_black">» Sponsored Research Detail</a><br><br>




  <h2 class="title"></h2>
       </div>

                                    </div>
                        </div><!--//content-wrapper-->
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page-->
        </div><!--//content-->
    </div><!--//wrapper-->
</div>

{% endblock %}
