{% extends 'base.html' %}

{% load static %}
{% block content %}


<div class="content container bgdata">

    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Office Members</h1>

        </header>
        <div class="page-content">
            <div class='col-md-12'>
                <div class="row page-row">
                    {% for faculty_data in office_member_data %}

                    <div class="col-md-3 col-sm-3 text-center">
                        <div class="album-cover">
                            <!-- <a href="#"> -->
                            <img class="img-thumbnail" src="{{faculty_data.image.url}}" alt="" height="" width="">
                            <!-- </a> -->
                            <div class="desc">
                                <h5>{{faculty_data.name}}</h5>
                                <h4><small><a href="#">{{faculty_data.designation}}</a></small></h4>


                                <!-- <p>Integer ornare nisl tortor, sed condimentum metus pulvinar ut. Etiam ac pretium nunc. Donec porttitor erat non nibh pellentesque vehicula. Vestibulum tincidunt</p> -->
                                <!-- <button type="button" class="btn btn-theme">Theme Button</button> -->
                                <a href="{{faculty_data.detail.url}}" class="btn btn-theme view-pdf">Details</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}



                </div>
            </div>


        </div>
    </div>

</div>


{% endblock %}