{% extends 'base.html' %}

{% load static %}
{% block content %}

    <!-- ******CONTENT****** --> 
    <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <strong><h1 style="font-weight: 600">Principal's Message</h1></strong>
                    
                </header> 
                <div class="page-content" style="text-align:justify">
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive"
                                src="{% static 'assets/images/about_biet/principal.jpg' %}"
                                alt="" 
                                style="width:280px;height:280px; margin-bottom: 10px;">
                            <!-- <img class="img-thumbnail"
                                        src="{{faculty_data.image.url}}" alt=""
                                        style="width:330px;height:360px;"> -->
                                        <h3 class="text-highlight" style="text-align: center;">Dr. H B Aravinda</h3>
                                        <h4 class="has-divider text-highlight" style="text-align: center;">Principal</h4>

                        </figure>
                                        
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                        
                            <p>Young talented engineering students are the foundation of a future revolution, the owner of tomorrow who carries the engineering profession to create a new world. We at BIET take the responsibility of the engineering students and position them to create a sustainable life for themselves in the future.</p>
                            <p>The college is providing all facilities to students and imparting value based education focused on the intended outcomes of higher education. I am happy to share with all the stakeholders that the institute has implemented the outcome-based education, OBE, and striving hard to inculcate professional qualities with students.</p>
                            <p>In addition, the institute is also focusing on industry institution interaction, conducting conferences and seminars for the benefit of budding engineering students. The idea is to explore the students’ hidden talent and to nurture young ideas. To support this, BIET is focusing on industrial tour, guest lectures, sponsored projects, internships, faculty training, curriculum design, collaborative courses, open electives, participation of industry and researchers to develop professional qualities.</p>
                            <p>The college has established New Age Incubation and Networking (NAIN) to build startups and business ecosystem in and around Davanagere. At present 10 innovative projects have been funded under NAIN to a maximum of 3 lakhs and many students are coming forward to submit proposals. This helps in campus innovation and research, student startups through intellectual property creation and commercialization thereof. Continuous professional engagement with industry leaders for the academic council, members for the board of studies, quality assurance cell, advisory boards, faculty and students training, faculty research projects can help build necessary skills and competencies. I am sure this will create an enhanced learning experience for the students – the measure of such engagement are in students startups, improved NIRF ranking, quality placement and higher pay packages.</p>
                            <p>With this, I am sure our students are employable and are industry-ready eliminating the gap existing between the industry and the institute. The faculties at BIET are aware of make in India initiative and able to pool the knowledge of the broad spectrum of stakeholders to build startups ecosystem, entrepreneurship spirit, and research culture among young minds to create better future for all.</p>
                            <p>I along with my team of dedicated faculty would be striving hard to make this institute one of the highly respected technology-focused learning centers and enhance its reputation nationally and as well as globally. We shall inculcate innovative thinking and entrepreneurial qualities in students focusing on societal needs in addition to build a strong environmental and ethical base in them.</p>

                        </div>  
                        
                    </div><!--//page-row-->
                    <!-- <div class="row page-row">
                        
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Nagendra Prasad K S</h3>
                            <h4>Vice President - Technology at American Express</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse aliquam, tellus id pellentesque viverra,
                                metus lacus lobortis augue, sed malesuada urna sapien id
                                orci. Maecenas pharetra mauris quis tincidunt egestas.
                                Sed condimentum felis quis nulla varius. Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit. Etiam diam
                                diam, porttitor quis mollis non, suscipit id tellus.
                                Nullam a ultrices sem, vel tincidunt felis. Sed eu
                                suscipit erat. Nam malesuada, leo porta rhoncus blandit,
                                ipsum tellus fringilla mi, ac pretium nisl turpis sit
                                amet purus. Mauris pellentesque tincidunt lacus commodo
                                lobortis. Nulla consectetur scelerisque molestie.</p>
                        </div>
                    </div> -->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}