{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <strong>
                <h1 style="font-weight: 600">Principal's Message</h1>
            </strong>

        </header>
        <div class="page-content" style="text-align:justify">
            <div class="row page-row">
                <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                    <img class="img-responsive" src="{% static 'assets/images/about_biet/principal.jpg' %}" alt=""
                        style="width:280px;height:280px; margin-bottom: 10px;">
                    <!-- <img class="img-thumbnail"
                                        src="{{faculty_data.image.url}}" alt=""
                                        style="width:330px;height:360px;"> -->
                    <h3 class="text-highlight" style="text-align: center;">Dr. H B Aravinda</h3>
                    <h4 class="has-divider text-highlight" style="text-align: center;">Principal</h4>

                </figure>

                <div class="details col-md-9 col-sm-8 col-xs-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-10 text-center">
                                <h2 style="font : georgia"> <i> " Wisdom is Teacher "</i> </h2>
                                <h5 style="font : georgia"> <i> " Work is worship - Guru Basavanna
                                        Education is the manifestation of the perfection already in man - Swami
                                        Vivekananda " </i> </h5>


                            </div>
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                        </div>
                    </div>
                    <p> <b>Bapuji Institute of Engineering and Technology (BIET),</b> strongly believes in these quotes
                        and
                        puts sincere efforts to impart knowledge to the students, so that student themselves can be
                        their
                        own teachers in future. BIET also tries hard to develop work culture and bring out the
                        perfection
                        that every student will have inside. </p>
                    <p>Vision of BIET always looks forward to be the<b> best center of excellence globally, </b> so that
                        the
                        young mindsets can fit into the international requirements and become valuable assets to the
                        society. The Institute tries to achieve this vision through its world class teaching methodology
                        of
                        outcome based education which empowers students to be successful in their chosen field with
                        positive approach, leadership qualities and ethical values. </p>
                    <p>Bapuji Educational Association, Davangere, has put up more than 50 years of valuable service in
                        the field of education and came out as a <b>one of the best Institute in the central part of
                            Karnataka</b>. It is having versatility of education with around 40 different educational
                        institutions
                        as branches. With constant support from management lead by Dr. S. Shivashankarappa,
                        Hon.Secretary and Sri S. S. Mallikarjuna, Hon. Joint Secretary, BIET has grown to be the crown
                        in the field of Engineering education with its vast group of alumni spread over the entire globe
                        serving successfully in various fields of engineering. </p>
                    <p>My dear aspirants of Engineering Education, I welcome you to this 70 acre green campus with
                        number of building clusters, housing various state-of-art laboratories and library of
                        international
                        standards. BIET feels special for its <b>knowledgeable, qualified and committed staff, with vast
                            collection of books, E-library, unique with online classes through Impartus Lecture
                            Capture system, and an efficient placement cell, modern research facilities, excellent
                            industry-institute interaction, comfortable and pleasant hostel accommodation, sports and
                            physical exercise facilities, NSS and NCC groups, adequate health care facilities,
                            continuous housekeeping, round-the-clock security and care taking student centric
                            environment</b> . On behalf BIET family of around 4000 members, I once again welcome you to
                        join hands with us to build a nation of young minds.</p>
                </div>

            </div>
            <!--//page-row-->
            <!-- <div class="row page-row">
                        
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Nagendra Prasad K S</h3>
                            <h4>Vice President - Technology at American Express</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse aliquam, tellus id pellentesque viverra,
                                metus lacus lobortis augue, sed malesuada urna sapien id
                                orci. Maecenas pharetra mauris quis tincidunt egestas.
                                Sed condimentum felis quis nulla varius. Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit. Etiam diam
                                diam, porttitor quis mollis non, suscipit id tellus.
                                Nullam a ultrices sem, vel tincidunt felis. Sed eu
                                suscipit erat. Nam malesuada, leo porta rhoncus blandit,
                                ipsum tellus fringilla mi, ac pretium nisl turpis sit
                                amet purus. Mauris pellentesque tincidunt lacus commodo
                                lobortis. Nulla consectetur scelerisque molestie.</p>
                        </div>
                    </div> -->
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->
</div>
<!--//wrapper-->

{% endblock %}