{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Research</h1>
            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                    <li><a href="#">Research</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">Research Overview</li>
                </ul>
            </div>
            <!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <aside class="page-sidebar col-md-3 col-sm-4 affix-top">
                    <section class="widget">
                        <ul class="nav">
                            <li class="active"><a href="/research">Research Overview</a></li>
                            <li><a href="/research/dean_message">Dean Message</a></li>
                            <li><a href="/research/recognized_research_centers">Recognized Research Centers</a></li>
                            <li><a href="/research/funded_projects">Funded Projects</a></li>
                            <li><a href="/research/kscst_projects">KSCST/In-House/VTU/Other Projects</a></li>
                            <li><a href="/research/industry_collaboration">Industry Collaboration/MOU/Patents</a></li>
                            <li><a href="/research/product_development">Product Development</a></li>
                            <li><a href="/research/research_facilities">Research Facilities</a></li>
                            <li><a href="/research/honors_and_awards" target="_blank">Honors and Awards</a></li>
                        </ul>
                    </section>
                    <!--//widget-->
                </aside>
                <!--//page-sidebar-->
                <div class="content-wrapper col-md-8 col-sm-7">

                    <div class="page-row content-text">
                        <h1 class="no-margin-top has-divider text-highlight">Research Overview</h1>
                        <p>Welcome to this information on the Research in Bapuji Institute of Engineering and Technology. Our over-arching research objectives are to produce best in class scientists and engineers across the Institute’s inter-disciplinary spectrum and through inter-disciplinary initiatives, to make significant contributions to society – regionally, nationally and internationally – through the research.</p>

                        <p>The Institute was started in 1979 and presently 13 Departments are recognized by VTU to carryout research. A total of 85 research scholars are pursuing the Doctoral degree in various streams. Currently 34 faculty members are actively involved guiding Ph.D students. The Institute includes the Departments of mathematics, physics, chemistry, and 12 engineering sciences departments which provide an ideal environment for interdisciplinary teaching and research. BIET staff and student researchers address many of the major challenges that face our society; they use innovative research techniques and modern technology, both to examine problems of the modern world and to understand better the ancient world.</p>
                       
                        <p>BIET has been funded with largest and most important competitive research funders over the past fifteen years, and it sums up to 38 projects of about 1.4 crore rupees. The Institute has produced 34 Ph.D’s, the support of, and our partnership with, all the funders and investors in research at BIET are greatly appreciated. There is extensive collaboration with leading universities, among researchers and with public agencies, in India and internationally.</p>
                       
                        <p>We are always pleased to discuss our research projects in more detail and to explore further opportunities for collaboration and scientific exchanges. We actively seek applications from new undergraduates, research students and research fellows, and we are keen to investigate further opportunities for collaboration and scientific exchanges. Please contact us for more details.</p>

                        <p style="text-align: right;"><strong>Director<br>BIET</strong></p>
                    </div>
                    <!--//page-row-->
                </div>
                <!--//content-wrapper-->
            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->
</div>
<!--//wrapper-->

{% endblock %}