{% extends 'base.html' %}

{% load static %}
{% block content %}

    <!-- ******CONTENT****** --> 
    <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <strong><h1 style="font-weight: 600">Vision, Mission and Quality Policies</h1></strong>
                    
                </header> 
                <div class="page-content" style="text-align:justify">
                    <div class="row page-row">
                        <article class="welcome col-md-12 col-sm-11">                         
                           
                            <section>
                            <h3 class="has-divider text-highlight">Vision</h3>

                            <p>"To be a centre of excellence recognized nationally and internationally, in distinctive areas of engineering education and research, based on a culture of innovation and invention"</p>
                            </section>

                            <section>
                            <h3 class="has-divider text-highlight">Mission</h3>

                            <p>"BIET contributes to the growth and development of its students by imparting a broad based engineering education and empowering them to be successful in their chosen field by inculcating in them positive approach, leadership qualities and ethical values"</p>
    
                            </section>

                            <section>
                            <h3 class="has-divider text-highlight">Quality Policies</h3>
                            <div class="section-content">
                            <p><i class="fa fa-star"></i>   Inculcating the concepts of discipline, punctuality and ethics into the thought process of students to promote their overall growth.</p>
                            <p><i class="fa fa-star"></i>   Motivating teachers to impart knowledge continuous interaction with students.</p>
                            <p><i class="fa fa-star"></i>   Carrying out objective evaluation of student’s performance.</p>
                            <p><i class="fa fa-star"></i>   Enhancing the academic skills of the faculty through faculty development programs.</p>
                            <p><i class="fa fa-star"></i>   Creating an atmosphere conductive to research in the campus.</p>
                            
                        </div>
                            
                            </section>
                                 
                            
                        </article><!--//page-content-->
                        
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}