{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Computer Science and Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CS/home">Home</a></li>
                                    <li><a href="/department/UG/CS/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/CS/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CS/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/UG/CS/activities">Activities</a></li>
                                    <li><a href="/department/UG/CS/achievements">Achievements</a></li>
                                    <!-- <li><a href="/department/UG/CS/gallery">Photo Gallery</a></li> -->
                                    <li><a href="/department/UG/CS/research">Research</a></li>
                                    <!-- <li><a href="/department/UG/CS/psopso">PEO & PSO</a></li> -->
                                    <li><a href="/department/UG/CS/newsletter">News Letter</a></li>
                                    <li><a href="/department/UG/CS/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-11">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Forum Activities</h1>

                                        <h3 class="title">COMPUTER SCIENCE FORUM (UniCS)</h3>

                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row content-text">
                                                        <article class="welcome col-md-8 col-sm-7">                         
                                                            <p>UniCS provides a platform for the students to exhibit their talents and skills. UniCS conducts variuos technical and non-technical events. UniCS conducts several short term courses and technical talks by inviting experts from industry and academia, organize industry and research centre visits and conduct personality development programs which may help in the placement.</p>
                                                        
                                                            <p>The following events are conducted regularly by UniCS:</p>

                                                           
                                                        </article><!--//page-content-->
                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>

                                        <div class="table-responsive">                    
                                            <table class="table table-boxed">
                                                <thead>
                                                    <tr>
                                                        <th>Sl.No.</th>
                                                        <th>Event</th>
                                                        <th>Event Descrption</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><b>1.</b></td>
                                                        <td>TCS TechBytes</td>
                                                        <td>IT quiz competition which provides a better understanding of IT as Technology and is open to all stream students. Preliminary round will be held at Institute level.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>2.</b></td>
                                                        <td>C-Quest	</td>
                                                        <td>Coding contest which is open to all streams. Students from various institutes participate</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>3.</b></td>
                                                        <td>BPL Cricket Tournament</td>
                                                        <td>Inter-Departmental cricket tournament. </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>4.</b></td>
                                                        <td>Mock Interviews</td>
                                                        <td>Skype mock interview are organized to give a mirroring of actual job interview and to bring confidence in students.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>5.</b></td>
                                                        <td>Certification courses in association with Industry</td>
                                                        <td>Certification course in association with IT Industry are planned and executed. (UiPath RPA, VMware Badge Day, Salesforce )</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>6.</b></td>
                                                        <td>Seminars/Workshops </td>
                                                        <td>Conducted and delivered by Industry Resource persons.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>7.</b></td>
                                                        <td>Invited Talks/ Guest Lectures</td>
                                                        <td>Technical talks (Digital Marketing, StartUp World)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>8.</b></td>
                                                        <td>Hackthons/Learnthons</td>
                                                        <td>Organized by SmartBridge in association with IBM and ICT Academy.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>9.</b></td>
                                                        <td>In-House Project Exhibition </td>
                                                        <td>Progyan-1.0 </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>10.</b></td>
                                                        <td>Health Awareness Program</td>
                                                        <td>To address the issues related to Oral health care.</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>11.</b></td>
                                                        <td>Outreach Activities</td>
                                                        <td>Visiting rural schools frequently to reduce technology barriers. (Awareness to ICT and online Govt. schemes and services)</td>
                                                    </tr>
                                                </tbody>
                                            </table><!--//table-->
                                        </div><!--//table-responsive-->

                                        <br><br>

                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row content-text">
                                                        <article class="welcome col-md-11 col-sm-10">                         
                                                       
                                                            <p>The following department activities were conducted during July 2019 to Dec 2019:</p>
                                                            
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Inauguration of CS Forum “UniCS” and “Fresher’s day” was held on 05-09-2019 for 3rd Semester students and Mr. Darshan (Alumni) was the Chief Guest.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>2 day Boot camp and 24hrs Hackathon was conducted for all the students of CS Department and other college students on  “Building Chatbots using IBM Watson”  organized by Smart Bridge in collaboration with IBM on 19th,20th and 21st  September 2019.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Department has conducted Alumni meet for the passed out students on 11th October 2019. </li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Department of Computer Science and Engineering hosted IBM DIGITAL DEVELOPER CONFERENCE on 9th November 2019.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Department of Computer Science and Engineering hosted VMWARE IT academy on 21st of November 2019. The main motto of the day was to make sure students analyze and get to know about software defined storage concepts and networks visualization concepts. The objective includes align to a Comp TIA network complimenting a networking course.</li>
                                                            
                                                            </ul>
                                                           
                                                        </article><!--//page-content-->
                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}