{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Computer Science and Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CS/home">Home</a></li>
                                    <li><a href="/department/UG/CS/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/UG/CS/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CS/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/CS/activities">Activities</a></li>
                                    <li><a href="/department/UG/CS/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/CS/research">Research</a></li>
                                    <!-- <li><a href="/department/UG/CS/psopso">PEO & PSO</a></li> -->
                                    <li><a href="/department/UG/CS/newsletter">News Letter</a></li>
                                    <li><a href="/department/UG/CS/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">                               

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Laboratory facilities</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <div class="table-responsive">                    
                                                <table class="table table-boxed">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No.</th>
                                                            <th>Name of Lab</th>
                                                            <th>Qty</th>
                                                            <th>Configuration/Specification</th>
                                                            <th>Software</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>1.</b></td>
                                                            <td>LAB-1</td>
                                                            <td>29</td>
                                                            <td>Intel Core i3-2120, @3.30 GHz, 4 MB DDR3, 1TB HDD, DVD Writer, Mouse, KBD, 18.5 TFT Monitor.</td>
                                                            <td>Windows 7l, Microsoft Visual Studio, Oracle 9i, Fedora10, NCTUNS, Java, MASM, Turbo C++, Dev C++</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>2.</b></td>
                                                            <td>LAB-2</td>
                                                            <td>25</td>
                                                            <td>Intel Core i5-33330, @3.0 GHz, 8GB DDR3, 1TB HDD, KBD, Mouse, 18.5 TFT Monitor.</td>
                                                            <td>Windows 7l, Microsoft Visual Studio, Oracle 9i, Fedora10, NCTUNS, Java, MASM, Turbo C++, Dev C++</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>3.</b></td>
                                                            <td>LAB-3</td>
                                                            <td>28</td>
                                                            <td>Intel Core 2 Quad, @2.66 GHz, G31 Chipset, 4GB DDR, 320 GB HDD, DVD Writer, KBD, Mouse, 17 TFT Monitor</td>
                                                            <td>Windows 7l, Microsoft Visual Studio, Oracle 9i, Fedora10, NCTUNS, Java, MASM, Turbo C++, Dev C++</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>4.</b></td>
                                                            <td>LAB-4</td>
                                                            <td>28</td>
                                                            <td>HP Pro Intel Core i5-3570@3.4GHz, 8GB RAM, 1TB HDD, Mouse, and 18.5 HCL TFT Monitor.</td>
                                                            <td>Windows 7l, Microsoft Visual Studio, Oracle 9i, Fedora10, NCTUNS, Java, MASM, Turbo C++, Dev C++</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>5.</b></td>
                                                            <td>WI-FI-1</td>
                                                            <td>10</td>
                                                            <td>2.2 GHz, 3GM RAM, 320 HDD, 15.5 Screen, Bluetooth, Wi-Fi network, External Mouse</td>
                                                            <td>Windows XP professional, Microsoft Visual Studio, Oracle 9i, Fedora10, Java, MASM and Turbo C++.</td>
                                                        </tr>
                                                        <tr>                                                            
                                                            <td rowspan=3><b>6.</b></td>
                                                            <td rowspan=3>WI-FI-2</td>
                                                            <td rowspan=3>10</td>
                                                            <td>HP Pavilion 23-Q141 Touch All-in-one PC: Intel Core i5@2.9 GHz, RAM: 8GB, Graphics: 2GB, HDD: 1TB, Monitor: 23 touch screen, with wireless KBD & Mouse.OS: Windows 10 (VGST Project)</td>
                                                            <td>Windows 10, R Studio, Mat lab16, JAVA Eclipse, Python, MYSQL, Microsoft Visual Studio, Oracle 9i, Ubuntu, Java, MASM and Turbo C++.</td>
                                                        </tr>
                                                        <tr>                                                            
                                                            <td>Dell-Optiplex 9020SFF, Core-i7@3.6 GHz, RAM: 16 GB DDR3, HDD: 1TB, Monitor: 19.5, with KBD & Mouse (VGST Project)</td>
                                                            <td>Windows 10, R Studio, Mat lab16, JAVA Eclipse, Python, MYSQL, Microsoft Visual Studio, Oracle 9i, Ubuntu, Java, MASM and Turbo C++.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Apple iMac: Quadcore-i5@2.9Ghz, RAM: 8GB DDR3, Graphics: 1GB, HDD: 1TB, Monitor: 21.5 LED, with wireless KBD & Mouse. Os: X-Mavericks (VGST Project)</td>
                                                            <td>Windows 10, R Studio, Mat lab16, JAVA Eclipse, Python, MYSQL, Microsoft Visual Studio, Oracle 9i, Ubuntu, Java, MASM and Turbo C++.</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>7.</b></td>
                                                            <td>Computer Programming Lab</td>
                                                            <td>30</td>
                                                            <td>Core 2 Duo, @2.66 GHz, 3.1 Chipset, 1GB DDR 320 GB HDD</td>
                                                            <td>Windows XP, Microsoft office, Turbo C++ for DOS and Fedora 14</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>8.</b></td>
                                                            <td>Digital Systems and Microprocessor Laboratory</td>
                                                            <td>30</td>
                                                            <td>Pentium-D, @2.66 GHz, Intel 865 Chip set, 512MB DDR RAM, 80GB H DD, DVG writer, KBD, Optical Mouse, 17 Color TFT monitor</td>
                                                            <td>Windows XP, MASM, , Microsoft Visual Studio</td>
                                                        </tr>
                                                    </tbody>
                                                </table><!--//table-->
                                            </div><!--//table-responsive-->
                                        </div>
                                    </div>
                                </div>
                            <br>

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Major Equipments</h1>
                                        <ul class="custom-list-style medical">
                                            <li><i class="fa fa-star"></i>Intel Core i3-2120 CPU, @3.30GHz,4 MB RAM, 1TB HDD.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>HCL Make Intel Core i5-33330 CPU @ 3.0 GHz, 8GB DDR3, 32 bit OS,1TB HDD, HCL 104+ buttons, PS/2 KBD, Optical Mouse, with standard Acce. And 18.5" HCL TFT Monitor.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Wipro i value - Dual core @2.66 GHz processor, Intel 865 Chipset, 512MB DDR RAM, 80GB (7200RPM) H DD, DVG writer, with Accessories.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>ACER Veriton Q9400, Core 2 Quad, @2.66 GHz, G31 Chipset, 4GB DDR, 320 GB HDD.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>HP Core 2 Duo, Intel Core2 Duo processor, 2.2 GHz, 2 MB L2 Cache, Intel 945GC chipset, 2 GB RAM, HDD 160 SATA, 17" TFT Monitor, DVD Writer, with Accessories.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>HCL Laptop Core 2 Duo: 2.2 GHz, 3GM RAM, 320 HDD, 15.5" Screen, Bluetooth, Wi-Fi network, External Mouse.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>AMD @ 2.5 GHz, 2GB RAM, 128GB HDD.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>ACER Veriton E7300, Core 2 Duo, @2.66 GHz, 3.1 Chipset, 1GB DDR 320 GB HDD.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>IBM Servers and Internet Server</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Wipro i value - Dual core @2.66 GHz processor, Intel 865 Chipset, 512MB DDR RAM, 80GB (7200RPM) H DD, DVG writer, Integrated AGP, Sound and LAN, 1SP, 1PP, 4 USB ports, Keyboard, Optical Mouse, 17" Color TFT monitor.</li>
                                        </ul>
                                        
                                    </article><!--//page-content-->    
                                </div>
                            <br>

                            <div class="row page-row">
                                        <article class="welcome col-md-10 col-sm-8">                         
                                            <h1 class="no-margin-top has-divider text-highlight">Department Library</h1>
                                            <p>The library at department level is for the Students and Faculty of Computer Science & Engg. which houses good number of textbooks, reference books, and project & seminar reports. At present over 3564 books with <b>250 titles, project reports, seminar reports & CD'S</b> are available in the Department library. The National and International conference proceedings, workshop and seminar reports, product & textbook catalogues are kept for student's reference. Apart from the departmental library facility we have Central Library and Information Center. At Central Library, along with the standard books we have the facility of accessing various International & National Journals.</p>
                                   
                                        </article><!--//page-content-->
                                        
                                </div>  

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}