{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Computer Science and Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CS/home">Home</a></li>
                                    <li class="active"><a href="/department/UG/CS/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/CS/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CS/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/CS/activities">Activities</a></li>
                                    <li><a href="/department/UG/CS/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/CS/research">Research</a></li>
                                    <!-- <li><a href="/department/UG/CS/psopso">PEO & PSO</a></li> -->
                                    <li><a href="/department/UG/CS/newsletter">News Letter</a></li>
                                    <li><a href="/department/UG/CS/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                        <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7 content-text">                         
                                                    <h3 class="title" style="font-weight: 600">Vision</h3>
                                                    <p>To be a center-of-excellence by imbibing state-of-the-art technology in the field of Computer Science and Engineering, thereby enabling students to excel professionally and be ethically strong</p>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>
                            <br><br>
                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row content-text">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Mission</h3>
                                                    <ol class="custom-list-style medical">
                                                        <li>Adapting best in class teaching and learning methodology to mould the students to become industry ready.</li>
                                                        <br>
                                                        <li>Creating conducive environment for imparting quality education to facilitate research and Innovation.</li>
                                                        <br>
                                                        <li>Establishing industry institute relationship to bridge the skill gap.</li>
                                                        <br>
                                                        <li>Educating the students to be successful lifelong learners by inculcating ethical values and social responsibilities.</li>
                                                    </ol>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>
                            <br><br>
                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row content-text">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Program Educational Objectives (PEOs)</h3>
                                                    <ol class="custom-list-style medical">
                                                        <li>To provide students with adequate knowledge in mathematics, computer science and few interdisciplinary courses that gears them for advanced technology.</li>
                                                        <br>
                                                        <li>Creating conducive environment for imparting quality education to facilitate research and Innovation.</li>
                                                        <br>
                                                        <li>To conduct effective training programs in order to explore and enhance their skills to synchronizing with dynamic industry practices.</li>
                                                        <br>
                                                        <li>To motivate students for higher studies and to involve in research.</li>
                                                    </ol>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>
                            <br><br>
                            <div class="content container bgdata">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row content-text">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Program Specific Outcomes (PSOs)</h3>
                                                    <ol class="custom-list-style medical">
                                                        <li>Analyze and develop solutions for problems that are complex in nature but applying the knowledge acquired from the core subjects of this program.</li>
                                                        <br>
                                                        <li>To develop secure, Scalable, Resilient and distributed applications for industry and societal requirements.</li>
                                                        <br>
                                                        <li>To learn and apply the concepts and construct of emerging technologies like Artificial Intelligence, Machine learning, Deep learning, Big Data Analytics, IOT, Cloud Computing, etc for any real time problems.</li>
                                                        </ol>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}