{% extends 'base.html' %} {% load static %} {% block content %}

<div class="content container bgdata">
	<div class="page-wrapper">
		<header class="page-heading clearfix">
			<h1 class="heading-title pull-left">
				Department of Computer Science and Engineering
			</h1>
		</header>
		<div class="page-content">
			<div class="row page-row">
				<aside class="page-sidebar col-md-2 col-sm-4 affix-top">
					<section class="widget">
						<ul class="nav">
							<li><a href="/department/UG/CS/home">Home</a></li>
							<li>
								<a href="/department/UG/CS/profile"
									>Vision and Mission</a
								>
							</li>
							<li>
								<a href="/department/UG/CS/infrastructure"
									>Infrastructure</a
								>
							</li>
							<li>
								<a href="/department/UG/CS/faculty"
									>Faculty Profile</a
								>
							</li>
							<li>
								<a href="/department/UG/CS/activities"
									>Activities</a
								>
							</li>
							<li>
								<a href="/department/UG/CS/achievements"
									>Achievements</a
								>
							</li>
							<li>
								<a href="/department/UG/CS/research"
									>Research</a
								>
							</li>
							<li class="active">
								<a href="/department/UG/CS/psopso">PEO & PSO</a>
							</li>
							<li>
								<a href="/department/UG/CS/newsletter"
									>News Letter</a
								>
							</li>
							<li>
								<a href="/department/UG/CS/gallery"
									>Photo Gallery</a
								>
							</li>
						</ul>
					</section>
					<!--//widget-->
				</aside>
				<!--//page-sidebar-->

				<div class="content-wrapper col-md-10 col-sm-8"></div>
				<!--//content-wrapper-->
			</div>
			<!--//page-row-->
		</div>
		<!--//page-content-->
	</div>
	<!--//page-->
</div>
<!--//content-->

{% endblock %}
