{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Environmental Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/PG/ENV/home">Home</a></li>
                                    <li><a href="/department/PG/ENV/profile">Vision and Mission</a></li>
                                    <li><a href="/department/PG/ENV/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/PG/ENV/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/PG/ENV/activities">Activities</a></li>
                                    <li class="active"><a href="/department/PG/ENV/achievements">Achievements</a></li>
                                    <li><a href="/department/PG/ENV/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Staff Achievements & Student Achievements</h1>
                                        <p>The Project Titled Biomethanation of Effluent from Desiccated Coconut Industry carried out by Vinayak Bankar under the guidance of Dr. S. Manjappa and Dr. H. B. Aravinda has been adjudged as "Project of the Year" Award during 35th series KSCST Exhibition held at Shree Dharmasthala Manjunatheshwara Institute Of Technology, Ujire on 13th & 14th July 2012.</p>
         
                                        <div class="content container bgdata">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>An Experimental investigation on removal of dyes and COD from textile waste water using functionalized Lignocellulosic material. Under the guidance of Dr. Suresh B and Dr. G. K. Prakash Sponsored by Karnataka State Council for Science and Technology, Bengaluru under Student project Programme (SPP) during the year 2015-2016 (39th Series)..</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>The project titled An Experimental investigation on removal of dyes and COD from textile waste water using functionalized Lignocellulosic material. Under the guidance of Dr. Suresh B and Dr. G. K. Prakash Sponsored by Karnataka State Council for Science and Technology, Bengaluru under Student project Programme (SPP) during the year 2015-2016 (39th Series)..</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>The project titled An Experimental investigation on Evaluation of Kinetic Parameters Co-efficient for the Treatment of Distillery waste using activated sludge process Dr. G. P. Desai and Suresh B has been awarded as “best Project of the year” Sponsored by Karnataka State Council for Science and Technology, Bengaluru under Student project Programme (SPP) during the year 2014-2015 (38th Series).
.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>The project titled Development of Mathematical Models for Removal of Nitrates from Waste Water Sponsored by Karnataka State Council for Science and Technology, Bengaluru under Student project Programme (SPP) during the year 2014-2015 (38th Series)..</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i> The Project Titled Biomethanation of Effluent from Desiccated Coconut Industry carried out by VinayakBankar under the guidance of Dr. S. Manjappa and Dr. H. B. Aravinda has been adjudged as "Project of the Year" Award during 35th series KSCST Exhibition held at Shree Dharmasthala Manjunatheshwara Institute of Technology, Ujire on 13th & 14th July 2012..</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Dr. H B Aravinda awarded as “Scientist of the year of the year -2011” for achievements and outstanding contribution in the field of Environmental Engineering, by National Environmental Science Academy, New Delhi – 110 019, India.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Dr. Suresh B. awarded as “Sunderlal Bahuguna Young Scientist Award – 2011” for Valuable service and contribution to Environmental Science, by BOSE Science Society, Arimalam - 622201, Pudukkottai District, Tamilnadu, India..</li>
                                                           
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>                            

                                <br>

                               
                                       

                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}