{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Environmental Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/PG/ENV/home">Home</a></li>
                                    <li><a href="/department/PG/ENV/profile">Vision and Mission</a></li>
                                    <li><a href="/department/PG/ENV/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/PG/ENV/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/PG/ENV/activities">Activities</a></li>
                                    <li><a href="/department/PG/ENV/achievements">Achievements</a></li>
                                    <li><a href="/department/PG/ENV/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-11">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Forum Activities</h1>

                                   <p>   
                                      The Civil and Environmental Engineering forum provides a platform for the students to exhibit their talents in the co-curricular and extra-curricular activities. Forum conduct technical talks by inviting experts from industry and colleges organize Industrial visits and conduct personality development programs which may help in the placement.
                                      </p>
                                                        </article><!--//page-content-->
                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                <br>

                               

                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}