{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Environmental Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li class="active"><a href="/department/PG/ENV/home">Home</a></li>
                                    <li><a href="/department/PG/ENV/profile">Vision and Mission</a></li>
                                    <li><a href="/department/PG/ENV/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/PG/ENV/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/PG/ENV/activities">Activities</a></li>
                                    <li><a href="/department/PG/ENV/achievements">Achievements</a></li>
                                    <li><a href="/department/PG/ENV/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">  
                              
                            <article class="welcome col-md-10 col-sm-8">                         
                                        <p><img class="img-responsive" src="assets/images/cse/cs.JPG" alt="" height="350px;" /></p>
                                        <div class="box">
                                       <p> The Dept of Environmental Engineering at BIET is the youngest department of this institute. It was established in 2010. The department has produced a batch of eminent Environmental Engineers. In total there are 33 students pursuing master degree in the department. The department is known for its reputed faculty having expertise in diverse field. The faculty of the department continuous to strive loftier by exploring new frontiers of knowledge.The department contributes to the interdisciplinary academic and research activity of the institute.

The department undertakes industrial consultancy works as a part of its interaction with industry. Environmental Engineering lab is equipped with most of the sophisticated instruments including HPLC, GC and UV-Visible Spectrophotometer. The lob is also equipped with Atomic Absorption Spectrophotometer for heavy metal analysis in ppb levels. The lab is well equipped with Environmental biology facility to enrich, isolate and identify microorganisms.</p>
                                        <p><b>Research center</b></p>
                                        <p>The Department has been recognized as Research Centre by Visvesvaraya Technological University, Belgaum. Under Biomedical Engineering Research Centre, students can register for M.Sc. (Engg-by research) and Ph.D. programme. Currently five research scholars are working under Ph.D.programme. During last 3 years 25 research papers have been published in the international & national journals & conferences by research scholars and faculty members.</p>
                                        </div>
                                    </article>      
                    
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}