{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Environmental Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/PG/ENV/home">Home</a></li>
                                    <li><a href="/department/PG/ENV/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/PG/ENV/infrasture">Infrastructure</a></li>
                                    <li><a href="/department/PG/ENV/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/PG/ENV/activities">Activities</a></li>
                                    <li><a href="/department/PG/ENV/achievements">Achievements</a></li>
                                    <li><a href="/department/PG/ENV/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">                               

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Laboratory facilities</h1>
                                    <p>Laboratory comprises a number of instrument and facilities to assist students and staffs in their research work. These rooms with specialized equipment.</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            
                                            </div><!--//table-responsive-->
                                        </div>
                                    </div>
                                </div>
                            <br>

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Major Equipments</h1>
                                        <ul class="custom-list-style medical">
                                            <li><i class="fa fa-star"></i>High Pressure Liquid Chromatography.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Atomic Absorption Spectrophotometer.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>UV Visible Spectrophotometer.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Flame Photometer.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Stack Monitoring Kit.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Air Pollution Characterization and Assessment Lab.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Water and waste Water Quality Monitoring facility.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Soil analysis.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Microscope.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i> Noise level meter.</li>
                                        </ul>
                                        
                                    </article><!--//page-content-->    
                                </div>
                            <br>

                            <div class="row page-row">
                                        <article class="welcome col-md-10 col-sm-8">                         
                                            <h1 class="no-margin-top has-divider text-highlight">Department Library</h1>
                                            <p>The library at department level is exclusively for the Students and Faculty of M.Tech Programme in Environmental Engineering, which house good number of project reports are available in the Department library. The National and International conference proceedings, workshop and seminar reports are kept for student's reference.

.</p>
                                   
                                        </article><!--//page-content-->
                                        
                                </div>  

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}