{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Environmental Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/PG/ENV/home">Home</a></li>
                                    <li class="active"><a href="/department/PG/ENV/profile">Vision and Mission</a></li>
                                    <li><a href="/department/PG/ENV/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/PG/ENV/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/PG/ENV/activities">Activities</a></li>
                                    <li><a href="/department/PG/ENV/achievements">Achievements</a></li>
                                    <li><a href="/department/PG/ENV/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                        <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="content container">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Vision</h3>
                                                    <p>The vision of the M. Tech Programme in Environmental Engineering of our Institute is to be preeminent in creating engineering solutions for the industries, infrastructure and the environment and also to achieve national and international recognition through the impact of its research. Our vision includes our department being a collegial, collaborative and welcoming environment in which to learn and work.</p>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>
                            <br><br>
                            <div class="content container">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Mission</h3>
                                                    <p>The mission for the Department of Environmental Engineering in our institution is:</p>
                                                    <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>To produce technically sound and practically competent Environmental Engineers of global standard.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>To Offer technical consultancy services to government and other state and private organizations.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i> Provide and expedite appropriate training programs to students, government and private employees with the view to upgrading and updating their skills.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>To provide research opportunities for students that generate, communicate, and apply new knowledge for the betterment of society.</li>
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                   
                                                    
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}