{% extends 'base.html' %}

{% load static %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 card shadow-lg p-3 mb-5 bg-white rounded contain ">
            <div class="col-md-2">
                <h1 class="textcolor"><b>Quick Facts</b>

                </h1>
            </div>
            <div class="col-md-2">
                <h1 class="textcolor"><b>64 th</b>
                </h1>
                <h6>Rank in India</h6>

            </div>
            <div class="col-md-2">
                <h1 class="textcolor"><b>Best</b>
                </h1>
                <h6> among Eng. Institutions under VTU Affiliation
                </h6>
            </div>
            <div class="col-md-2">
                <h1 class="textcolor">
                    <b>46</b>
                </h1>
                <h6>Industrial collaborations

                </h6>
            </div>
            <div class="col-md-2">
                <h1 class="textcolor"><b>350</b></h1>
                <h6>Avg. Publications Per Year

                </h6>
            </div>
            <div class="col-md-2">
                <h1 class="textcolor"><b>95%</b></h1>
                <h6> Placement Percentage</h6>
            </div>
        </div>
        <div class="col-md-1">

        </div>

        <div class="col-md-12 text-center">
            <br><br><br>
            <h1>ABOUT US</h1>
            <br><br>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded ">
                    <h1 class=" textcolor-header bgcolor"><b>Vision</b></h1>
                    <div class="shadow-lg p-3 mb-5 bg-white rounded contain">

                        <p>To be an institution of International Eminence, renowned for imparting quality technical
                            education, cutting edge research and innovation to meet global socio-economic needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h1 class="textcolor-header bgcolor"><b> Mission</b></h1>
                    <div class="contain">

                        <p>RIT shall meet the global socio-economic needs through </p>

                        <p>1. Imparting quality technical education by nurturing a conducive learning environment
                            through
                            continuous improvement and customization.</p>
                        <p>
                            2. Establishing research clusters in emerging areas in collaboration with globally
                            reputed
                            organizations.
                        </p>
                        <p>
                            Establishing innovative skills development, techno-entrepreneurial activities and
                            consultancy for socio-economic needs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h1 class="textcolor-header bgcolor"><b> Quality Policy</b></h1>
                    <div class="contain">

                        <p>We at M. S. Ramaiah Institute of Technology, Bangalore strive to deliver comprehensive,
                            continually enhanced, global quality technical and management education through an
                            established Quality Management System complemented by the synergistic interaction of the
                            stake holders concerned.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br><br><br>

</div>



{% endblock %}