{% extends 'base.html' %} {% load static %} {% block content %}

<div id="preloader">
	<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
</div>


<div class="header_area">

	<div class="header_bottom_area">

	</div>
	<!--End Header Area-->
	<!--Start Slider Area -->
	<section class="slider_area">
		<div class="tp-banner-container">
			<div class="tp-banner">
				<ul>

					<!-- SLIDE  -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="1500">
						<!-- MAIN IMAGE -->
						<img src="{% static 'assets/images/home/111.jpeg' %}" alt="slidebg1" data-bgfit="cover"
							data-bgposition="left top" data-bgrepeat="no-repeat">
						<!-- LAYERS -->
						<div class="top_quate_area">
							<div class="container">
								<div class="row">
									<div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
										<div class="top_quate_text text-center">
											<div class="quate_text_overlay" style="opacity: 0.7;"></div>
											<h3>Accreditation & Institutional Ranking </h3>
											<p style="color: white;"> <b><span style="color:yellow">Accredited by</span>
													<span style="color:white">NBA</span> <span style="color:yellow"> for
														Civil, Mechanical, ECE, CSE, EEE, ISE, TCE branches ( from
														1.7.2019 to 30.06.2022 )</span></b><br>
												<b><span style="color:yellow">Accredited by NAAC – 'B' Grade, 12B & 2f
														status by UGC</span></b>
												<BR><b><span style="color:yellow">Outlook :</span></b>48<sup>th</sup>
												(India), 7<sup>th</sup> (Karnataka) - <b><span
														style="color:yellow">Career 360:</span></b> AAA <br><b><span
														style="color:yellow">The Week:</span> 31<sup>st</sup> (India),
													20<sup>th</sup> (South India);9<sup>th</sup> (Karnataka)<br>
													<b><span style="color:yellow">Times Magazine:</span></b>
													118<sup>th</sup> (India) , 11<sup>th </sup>(Karnataka) <br><b><span
															style="color:yellow">India Today:</span> </b>34<sup>th</sup>
													(India), 7<sup>th</sup> (Karnataka)<br>
													<b><span style="color:yellow">Chronicle :</span></b> 18<sup>th</sup>
													(India) , A<sup>+</sup> Grade , 5<sup>th</sup> (Admission &
													Selection Process & 7<sup>th</sup> in Academic Excellence)
												</b> </p>
											<a class="top_quate_action" href="ranking.html">READ MORE</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<!-- SLIDE  -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="1500">
						<!-- MAIN IMAGE -->
						<img src="{% static 'assets/images/home/33.jpeg' %}" alt="slidebg1" data-bgfit="cover"
							data-bgposition="left top" data-bgrepeat="no-repeat">
						<!-- LAYERS -->
						<div class="top_quate_area">
							<div class="container">
								<div class="row">
									<div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
										<div class="top_quate_text text-center">
											<div class="quate_text_overlay" style="opacity: 0.7;"></div>
											<h3>Graduands Day 2019</h3>
											<p style="color: white;">Bapuji Institute of Engineering and Technology,
												Shivamogga, celebrated its graduation day on 15<sup>th</sup> May, 2019
												with grandeur amidst the dignitaries, the governing council members,
												staff, students and their parents. ...</p>
											<a class="top_quate_action" href="gallery.html">READ MORE</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<!-- SLIDE  -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="1500">
						<!-- MAIN IMAGE -->
						<img src="{% static 'assets/images/home/44.jpeg' %}" alt="slidebg1" data-bgfit="cover"
							data-bgposition="left top" data-bgrepeat="no-repeat">
						<!-- LAYERS -->
						<div class="top_quate_area">
							<div class="container">
								<div class="row">
									<div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
										<div class="top_quate_text text-center">
											<div class="quate_text_overlay" style="opacity: 0.7;"></div>
											<h3>Vision</h3>
											<p style="color: white;">To be a centre of excellence recognized nationally and internationally, in distinctive areas of engineering education and research, based on a culture of innovation and invention.</p>
											<a class="top_quate_action" href="vision.html">READ MORE</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<!-- SLIDE  -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="1500">
						<!-- MAIN IMAGE -->
						<img src="{% static 'assets/images/home/111.jpeg' %}" alt="slidebg1" data-bgfit="cover"
							data-bgposition="left top" data-bgrepeat="no-repeat">
						<!-- LAYERS -->
						<div class="top_quate_area">
							<div class="container">
								<div class="row">
									<div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
										<div class="top_quate_text text-center">
											<div class="quate_text_overlay" style="opacity: 0.7;"></div>
											<h3>Mission Statement </h3>
											<p style="color: white;">BIET contributes to the growth and development of its students by imparting a broad based engineering education and empowering them to be successful in their chosen field by inculcating in them positive approach, leadership qualities and ethical values.</p>
											<a class="top_quate_action" href="vision.html">READ MORE</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<!-- SLIDE  -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="1500">
						<!-- MAIN IMAGE -->
						<img src="{% static 'assets/images/home/44.jpeg' %}" alt="slidebg1" data-bgfit="cover"
							data-bgposition="left top" data-bgrepeat="no-repeat">
						<!-- LAYERS -->
						<div class="top_quate_area">
							<div class="container">
								<div class="row">
									<div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
										<div class="top_quate_text text-center">
											<div class="quate_text_overlay" style="opacity: 0.7;"></div>
											<h3>Quality Policy</h3>
											<p style="color: white;">Development of faculty through supporting policies
												and procedures towards achieving higher qualifications, short-term
												courses, participation and presentation in seminars and conferences...
											</p>
											<a class="top_quate_action" href="vision.html">READ MORE</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<!-- SLIDE  -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="1000">
						<!-- MAIN IMAGE -->
						<img src="{% static 'assets/images/home/333.jpeg' %}" alt="darkblurbg" data-bgfit="cover"
							data-bgposition="left top" data-bgrepeat="no-repeat">
						<!-- LAYERS -->
						<div class="top_quate_area">
							<div class="container">
								<div class="row">
									<div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
										<div class="top_quate_text text-center">
											<div class="quate_text_overlay" style="opacity: 0.7;"></div>
											<h3>N E S - Management</h3>
											<p style="color: white;">Despite number of problems during and after freedom
												struggle the enthusiasm and commitment of National Education Society
												never detered towards working for the cause of education...</p>
											<a class="top_quate_action" href="aboutnes.html">READ MORE</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- SLIDE  -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="1500">
						<!-- MAIN IMAGE -->
						<img src="{% static 'assets/images/home/44.jpeg' %}" alt="slidebg1" data-bgfit="cover"
							data-bgposition="left top" data-bgrepeat="no-repeat">
						<!-- LAYERS -->
						<div class="top_quate_area">
							<div class="container">
								<div class="row">
									<div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
										<div class="top_quate_text text-center">
											<div class="quate_text_overlay" style="opacity: 0.7;"></div>
											<h3>Library and Information Centre</h3>
											<p style="color: white;">The Library & Information Centre is housed in the Administrative Block & having three floors including ground floor with a two mezzanine floors, measuring an area of 2661 sq.m. There are 10 staff members including qualified Librarian working in the library, having 600 seating capacity. </p>
											<a class="top_quate_action" href="http://libinfo.BIET.ac.in/"
												target="_blank">READ MORE</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- </li> -->
				</ul>
			</div>
		</div>
	</section>
</div>


<section class="blog_area section_padding section_gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="page_title text-center">

					<MARQUEE style="BACKGROUND-COLOR: transparent" id=Marquee1 onmouseover=this.scrollAmount=0
						onmouseout=this.scrollAmount=5 scrollAmount=5 direction=left>
						<font color="#1a5276 ">
							<h4>
								<img src="{% static 'assets/img/marqdiv.png' %}">&nbsp;
								Welcome to BIET
								<img src="{% static 'assets/img/marqdiv.png' %}">&nbsp;
								<a href="ranking.html"><b>Accredited by NAAC – B Grade & UGC 2f-12B Certification</b>
									<img src="{% static 'assets/img/marqdiv.png' %}">&nbsp;RANKING:- India Today:
									26<sup>th</sup> (India); 7<sup>th</sup> (Karnataka) <img
										src="{% static 'assets/img/marqdiv.png' %}">&nbsp;RANKING:-Outlook:
									42<sup>nd</sup> (India); 7<sup>th</sup> (Karnataka) <img
										src="{% static 'assets/img/marqdiv.png' %}">&nbsp;RANKING:-
									The Week: 30<sup>th</sup> (South India);15<sup>th</sup> (Karnataka) and Career 360:
									AAA</a>
					</MARQUEE>

					<h2>Welcome to BIET, DAVANGERE</h2>
					<div class="service_details_bottom_content"><img class="aligncenter"
							src="{% static 'assets/img/hr.png' %}" alt="">
						<p style="text-align:justify;">Bapuji Institute of Engineering and Technology (BIET) is one
							among the top ten self-financing Engineering Institutions in the state of Karnataka,
							providing high quality education to bring out skilled engineers and technocrats.
							The greenery campus spread over an area of 63 acres provides the state of art infrastructure
							and facilities. The institute provides an ideal ambience for teaching-learning process,
							co-curricular and extra-curricular activities to achieve excellence in technical education,
							research and promotion of entrepreneurship.
							The institute has consistently produced skilled and outstanding engineers who have excelled
							in their career and occupied responsible positions in some of the best known enterprises in
							India and across the globe.
							The institute has got recognition by UGC under section 2F of UGC act.<br><a
								href="aboutBIET.html">
								<h4>Read More </h4>
							</a>
					</div>
					</p><br>

					<h2>latest Announcements</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="single_blog">
					<div class="blog_img">
						<a href="news.html"><img src="{% static 'assets/img/1.jpg' %}" alt=""></a>
						<div class="blog_date">
							<p class="Blog_month textcolor-announcements">News<span>Events</span></p>
							<p class="blog_year textcolor-announcements">View All</p>
						</div>
					</div>
					<div class="blog_content"> <br>
						<MARQUEE style="BACKGROUND-COLOR: transparent" id=Marquee1 onmouseover="this.stop();" onmouseout="this.start();" scrollAmount=3 direction=up height=280>

							<p>

								<h4 style="color:red">
									<li> <a href="{% static 'assets/pdf/ncrtasce2019.pdf' %}" target="_blank">National Conference on Recent Trends in Applied Sciences and Computing
											Engineering
								</h4> Date : 26<sup>th</sup> and 27<sup>th</sup> July 2019- organized by Dept. of
								Mathematics, BIET, Shivamogga. </a>

								<div class="service_details_bottom_content">
									<br>
									<img class="aligncenter"
										src="{% static 'assets/img/hr.png' %}" alt="">
							</p>
							<h4 style="color:red">
								<li> <a href="{% static 'assets/pdf/Project_Exhibition_Invitation.pdf' %}"
										target="_blank">Innovative  Project Exhibition Competition-2019
										<!-- <img src="img/jnnnew.gif"> -->
							</h4> Inauguration Programme on 20 - 06 -2019 at Ananya Mantapa, BIET, Shivamogga. </a>

							<p>
								<div class="service_details_bottom_content"><img class="aligncenter"
										src="{% static 'assets/img/hr.png' %}" alt="">
							</p>

							<h4 style="color:red">
								<li> <a href='http://jnncart.blogspot.com/' target="_blank">CART - 2019
										<!-- <img src="img/jnnnew.gif"> -->
							</h4> CENTRE FOR AGRICULTURAL AND RURAL TECHNOLOGIES - Submit proposal in pdf format on or
							before 05 - 08 - 2019 to "jnncart@BIET.ac.in</a>

							<p>

							</p>

							<h4 style="color:red">
								<li> <a href='http://BIET.ac.in/internship/' target="_blank">Internship at
										BIET
										<!-- <img src="img/jnnnew.gif"> -->
							</h4>

							Internship Date: - Four Weeks starting from 4<sup>th</sup> July 2019 <BR><BR>

							Center of Innovation and Entrepreneurship at BIET in colloboration with Industries are
							providing an oppurtunity....</a>
							<p>
								<div class="service_details_bottom_content"><img class="aligncenter"
										src="{% static 'assets/img/hr.png' %}" alt="">
							</p>
						</marquee>
					</div>
				</div>
			</div>


			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="single_blog">
					<div class="blog_img">
						<a href="http://www.BIETalumni.org/events.html" target="_blank"><img
								src="{% static 'assets/img/2.jpg' %}" alt=""></a>
						<div class="blog_date">
							<p class="Blog_month textcolor-announcements">FEB <span>03 - SUN</span></p>
							<p class="blog_year textcolor-announcements">2019</p>
						</div>

					</div>
					<div class="blog_content">
						<p class="blog_name">BIET AA-NA. 19, Feb 2019</p>
						<h4><a href="http://www.BIETalumni.org/events.html" target="_blank">NENAPINA ANGALA - 2019</a>
						</h4>
						<p>BIET Alumni Meet at Bengaluru and Inauguration of BIETAA Bengaluru Branch on 03<sup>rd</sup>
							Feb, 2019, Sunday..<br><br><br> <br><a
								href="http://www.BIETalumni.org/events.html" target="_blank">Read More </a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="single_blog">
					<div class="blog_img">
						<a href="{% static 'assets/img/vturankholders1718.jpg' %}" target="_blank"><img
								src="{% static 'assets/img/3.jpg' %}" alt=""></a>
						<div class="blog_date">
							<p class="Blog_month textcolor-announcements">VTU<span>Ranks</span></p>
							<p class="blog_year textcolor-announcements">2018-19</p>
						</div>
					</div>
					<div class="blog_content">
						<p class="blog_name">Roll of Honours - 2018-19
							<h4><a href="{% static 'assets/img/vturankholders1718.jpg' %}" target="_blank">BIET
									 Students Securing Ranks VTU 2018-19</a></h4>
							<p>
								
									
										SANDHYA N V (1st Rank with Gold Medal, MTech)
									<br>
									<br>
										CHANDANA C ACHARYA(1st Rank with Gold Medal, M.Tech. TE&M)
									<br>
									<br>
										RASHMI S G (1st Rank with Gold Medal, M.Tech. CS&E)
									
								
							</p>
							<!--p><b>Nagashruthi Shivakumar (1<sup>st</sup> Rank, MTech</b> TE&M), <BR><b>Abhinag (2<sup>nd</sup> Rank, M.Tech.</b> TE&M), <br><b>Rashmi. V  (5<sup>th</sup> Rank, M.Tech.</b> CS&E), <b>   Pruthviraj. S (7<sup>th</sup> Rank, MBA </b> <br><br><a href="news.html">Read More </a></p-->
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="single_blog">
					<div class="blog_img">
						<a href="nirf.html"><img src="{% static 'assets/img/new.jpg' %}" alt=""></a>
						<div class="blog_date">
							<p class="Blog_month textcolor-announcements ">NIRF <span>Details</span></p>
							<p class="blog_year textcolor-announcements">2020</p>
						</div>
					</div>
					<div class="blog_content">
						<p class="blog_name"><a href="nirf.html" target=_blank>NIRF-2020 Uploads...</a></p>
						<img src="{% static 'assets/img/nirf.jpg' %}" alt=""></a>
						<p>The National Institutional Ranking Framework (NIRF) was approved by the MHRD and launched by
							Honourable...<br><br> <br><br>
							<a href="nirf.html" target=_blank>Read More </a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--Start Contact Now Area  -->
<section class="contact_now_area">
	<div class="contact_now_area_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-6 col-md-offset-6 col-lg-offset-6">
				<div class="contact_now_text">
					<div class="contact_now_display_table_cell">
						<h3>Your Future of Excellence Begins here <br><br>Our commitment to quality <br>and Excellence
							means that we only trained staff for Innovative Teaching and Realtime Learning Process.
						</h3>
						<a href="contactus.html" class="contact_button">CONTACT NOW</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End Contact Now Area-->

<!--Start Promotions Area  -->
<section class="promotions_area section_padding section_gray">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">


				<div class="page_title text-center">
					<h2>courses offered</h2>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-lg-4">
				<div class="home_two_single_promotions text-center">
					<div class="s_promotion_icon">
						<img src="{% static 'assets/img/ug1.png' %}" alt="">
					</div>
					<h2>UNDER GRADUATE PROGRAMMES</h2>
					<p style="text-align:justify;">The BIET offers BE courses in Seven branches of engineering, namely,
						civil,
						Mechanical, EE, EC, CSE, ISC
						and TE. As many as five disciplines, namely, Civil, Mechanical, EEE, CSE and ECE were accredited
						from the National Board of Accreditation, New Delhi
						<br><br>
					</p>
					<a href="ug.html" class="know_more">Read More</a>
				</div>
			</div>
			<div class="col-md-4 col-lg-4">
				<div class="home_two_single_promotions text-center">
					<div class="s_promotion_icon">
						<img src="{% static 'assets/img/pg.png' %}" alt="">
					</div>
					<h2>POST GRADUATE PROGRAMMES</h2>
					<p style="text-align:justify;">The BIET college also offers Nine Post Graduates Programs courses,
						namely,
						MCA, MBA and M.Tech.,
						in CSE,
						NIE, DE, Digital Electronics and Communication Systems, Power Electronics, Computer Integrated
						Manufacturing and Transportation Engineering and Management. </p>
					<a href="pg.html" class="know_more">Read More</a>
				</div>
			</div>
			<div class="col-md-4 col-lg-4">
				<div class="home_two_single_promotions text-center">
					<div class="s_promotion_icon">
						<img src="{% static 'assets/img/reserch.png' %}" alt="">
					</div>
					<h2>RESEARCH PROGRAMMES</h2>
					<p style="text-align:justify;">The BIET is also a University recognized research centre in CE,
						ME, CSE, EEE, ECE , MBA,
						Physics and Chemistry leading to the award of M.Sc. (Engg.) and Ph.D. So for
						21 candidates have been awarded Ph.D. from our research centres. <br><br></p>
					<a href="phd.html" class="know_more">Read More</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End Promotions Area-->

<!--Start Work Area -->
<section class="work_area section_padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="page_title text-center">
					<h2>Facilities</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-lg-4">
				<div class="single_work">
					<a href="facility.html"><img class="alignleft" src="{% static 'assets/img/libray.png' %}"
							alt=""></a>
					<h4>Library and Information Center </h4>
					<p style="text-align:justify;">One of the best places in our campus that we can boast of is our
						Library..</p>
				</div>
				<div class="single_work">
					<a href="facility.html"><img class="alignleft" src="{% static 'assets/img/architecture.png' %}"
							alt=""></a>
					<h4>Hi-Tech Auditorium</h4>
					<p style="text-align:justify;">The college has well furnished A/C Auditorium, which is equipped with
						state-of-the-art audio
						visual..</p>
				</div>

			</div>
			<div class="col-md-4 col-lg-4">
				<div class="single_work">
					<a href="facility.html"><img class="alignleft" src="{% static 'assets/img/classrom.png' %}"
							alt=""></a>
					<h4>Modern Class Rooms</h4>
					<p style="text-align:justify;">BIET has well furnished lecture hall equipped with audiovisual
						equipment like Smartboards,
						Projectors etc,.</p>
				</div>
				<div class="single_work">
					<a href="facility.html"><img class="alignleft" src="{% static 'assets/img/electric-bus.png' %}" alt=""></a>
					<h4>Hostel and Transport</h4>
					<p style="text-align:justify;">Hostels are a home away from home. We at BIET provide you a decent
						stay and the best possible
						learning environment. </p>
				</div>

			</div>
			<div class="col-md-4 col-lg-4">
				<div class="single_work">
					<a href="facility.html"><img class="alignleft" src="{% static 'assets/img/research.png' %}" alt=""></a>
					<h4>Well Equipped Lab/Workshops</h4>
					<p style="text-align:justify; margin-top: -8px;">Well equipped spacious laboratories in all the departments so that
						student can perform
						development</p>
				</div>
				<div class="single_work">
					<a href="cant.html"><img class="alignleft" src="{% static 'assets/img/football-player.png' %}" alt=""></a>
					<h4>Sports and Cafeteria</h4>
					<p style="text-align:justify;">BIET recognizes the importance of sports and recreation for the
						overall development of student's
						personality. </p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End Work Area-->


<!-- Slider Bottom Area -->
<section class="slider_bottom_area section_padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="page_title text-center">
					<h2>Placement Partners</h2>
				</div>
				<div class="slider_bottom">
					<div class="single_slide"><a href="placement.html"><img
								src="{% static 'assets/img/rsz_amazon-logo.png' %}" alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img
								src="{% static 'assets/img/rsz_gigsky-blue-logo-no-tag-e1541619696766.png' %}"
								alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img
								src="{% static 'assets/img/rsz_qwikcilver-solutions-pvt-ltd-koramangala-bangalore-loyalty-card-manufacturers-1lc4v1b.png' %}"
								alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img
								src="{% static 'assets/img/rsz_infosys-logo-1.png' %}" alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img src="{% static 'assets/img/inube.png' %}"
								alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img src="{% static 'assets/img/slide_5.png' %}"
								alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img src="{% static 'assets/img/mindtree.png' %}"
								alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img
								src="{% static 'assets/img/rsz_amazon-logo.png' %}" alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img
								src="{% static 'assets/img/rsz_gigsky-blue-logo-no-tag-e1541619696766.png' %}"
								alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img
								src="{% static 'assets/img/rsz_qwikcilver-solutions-pvt-ltd-koramangala-bangalore-loyalty-card-manufacturers-1lc4v1b.png' %}"
								alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img
								src="{% static 'assets/img/rsz_infosys-logo-1.png' %}" alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img src="{% static 'assets/img/inube.png' %}"
								alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img src="{% static 'assets/img/slide_5.png' %}"
								alt=""></a></div>
					<div class="single_slide"><a href="placement.html"><img src="{% static 'assets/img/mindtree.png' %}"
								alt=""></a></div>
				</div>

			</div>
		</div>
	</div>
</section>
<!--End Slider Bottom Area-->


<!-- Newsletter Area -->
<section class="newsletter_area">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-lg-9">
				<div class="signup_newsletter">
					<h3>HIGHLIGHTS</h3>
					<p>
						<ul>
							<li>Highly dedicated non-profit motive management.</li>
							<li>Rich pool of Highly Qualified & Competent Faculty with 45+ Ph.D's, with an Average
								Experience of more than 15 years.</li>
							<li>Excellent infrastructure, Well-Stocked library & state-of-art laboratories & computer
								centers, 66Mbps internet connectivity.</li>
							<li>Spacious classrooms, seperate block for each courses of Engg. & PG Programs,
								Transportation & Excellent sports facilities.</li>
						</ul>
						<img src="{% static 'assets/img/accr.png' %}" alt="">
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End Newsletter Area-->

<!-- <footer class="footer_area">
            <div class="footer_top_area  section_dark">
                <div class="container">
                    <div class="row footer_padding_top">
                        <div class="col-md-6 col-lg-6">
                            <div class="footer_adddress s_footer">
                                <div><i class="fa fa-home"></i></div>
                                <p class="uppercase">Address</p>
                                <p>Bapuji Institute Of Engineering & Technology </p>
                                <p style="margin-top:-5px">P.O.Box No. 325, Shamanur Road</p> 
                                <p style="margin-top:-5px">Davangere</p> 
                                <p style="margin-top:-5px">Karnataka</p> 
                                <p style="margin-top:-5px">577004</p>                 
                            </div>
                        </div>
                       <div class="row">
                            <div class="">
                                <div class="col-md-6 col-lg-6">
                                    <div class="footer_call_us s_footer">
                                        <div><i class="fa fa-phone"></i></div>
                                        <p class="uppercase">Quick Contact</p>
                                        <p>+91 - 08192 221461</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="footer_email_us s_footer">
                                        <div><i class="fa fa-envelope-o"></i></div>
                                        <p class="uppercase">Email address</p>
                                        <p>webmaster@bietdvg.edu</p>
                                     </div>
                                </div>
                            </div>
                       </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="footer_border"></div>
                        </div>
                    </div>
                   
                </div>
            </div>
            
        </footer> -->


<!--//flexslider-->
<!-- <section class="promo box box-dark" style="text-align:center">        
   <div class="col-md-3">
        <h1>NAIN</h1>
   </div>
   <div class="col-md-3">
        <h1>NAAC</h1>
   </div>
   <div class="col-md-3">
        <h1>NIRF</h1>
   </div>
   <div class="col-md-3">
        <h1>Graduate's Day</h1>
   </div>
</section> -->


{% endblock %}