{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** -->
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Chemical Engineering</h1>

                </header>
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CH/home">Home</a></li>
                                    <li><a href="/department/UG/CH/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/CH/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CH/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/CH/activities">Activities</a></li>
                                    <li class="active"><a href="/department/UG/CH/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/CH/gallery">Photo Gallery</a></li>
                                </ul>
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->

                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">
                                        <h1 class="no-margin-top has-divider text-highlight">Staff Achievements</h1>

                                        <div class="content container">
                                            <div class="page-wrapper">
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">
                                                            <ul class="custom-list-style medical">

                                                                <li>Four staff members have doctoral degree and two are pursuing. They are regularly updated towards modern techniques and industrial needs. All the staff members encourage the students for their all round development. Regular counseling, parents meet are conducted to improve the students academics. Around 60 lakhs have been sponsored by various funding agencies leading to R & D work and consultancy. Individual student is given attention which is the major contribution of the dept. towards excellence.</li>
                                                            </ul>


                                                        </article><!--//page-content-->
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page-->
                                        </div>
                                    </div>

                                <br>

                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">
                                        <h1 class="no-margin-top has-divider text-highlight">Student Achievements</h1>

                                        <div class="content container">
                                            <div class="page-wrapper">
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Mr. Amshu V, Ms.Kruthi M N and Ms. Sumitha K presented a seminar on the Project entitled “Dynamic Modeling and Simulation of Fixed Bed Reactor” at the 32nd series of Student project programme of Karnataka State Council for Science & Technology held at NITK, Surathkal on4th and 5th September 2009.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Pradeep P H¸ Mr. Rahul S Katakanahalli, Mr. Kunal Kikani Naranbhai, Ms. Mokshita and Ms. Poornima R of 8th sem participated in workshop on ‘Waste Management and Recycling’ organized by KSCST at SIT, Tumkur on 02-04-2010.</li><br>
                                                                <li><i class="fa fa-star"></i>Miss. Trupti Desai was awarded with Sri. H. Neelakantappa Gold medal for being the first top student in Chemical Engg. for the year 2009. Mr. Sandesh Patil was awarded with Sri. H. Neelakantappa Gold medal for being the second top student in Chemical Engg. for the year 2009 in the felicitation to toppers function held on 17-05-2010.</li><br>
                                                                <li><i class="fa fa-star"></i>Miss. Mokshita and Mr.Siddalingesh N G have received top students award for the Chemical Engg. department for the year 2009 for 3rd and 2nd year respectively.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Pradeep P H¸ Mr. Rahul S Katakanahalli, Miss. Jyothi R of 8th sem received the Best Project Award for the project titled ‘Study on conversion of municipal solid waste to liquid fuels’ in the In-house Project Exhibition organized by Industry Institute Partnership Cell (IIPC), BIET on 10-06-2010.</li><br>
                                                                <p><b>(2010-2011)</b></p>
                                                                <li><i class="fa fa-star"></i>Mr. Pradeep P H, Mr.Rahul Katakanahalli and Ms. Jyothi R presented a seminar on the Project entitled “Study on conversion of municipal solid waste to liquid fuels” at the 33rd series of Student project programme of Karnataka State Council for Science & Technology held at Sridevi Institute of Technology, Tumkur on 6th and 7th August 2010.</li><br>
                                                                <li><i class="fa fa-star"></i>Ms. Samyuktha G C and Ms. Sohana Mahadev of V semester presented a paper entitled “Biofuels” at National level Students’ Symposium ‘Chemexcel-2011, held at BIET, Davangere on 21-10-2011.</li><br>
                                                                <li><i class="fa fa-star"></i>Ms. Anitha V J and Ms. Sohana Mahadev of V Semester presented a paper entitled “Waste Mania” at National level Students’ Symposium ‘Chemexcel-2011, held at BIET, Davangere on 21-10-2011.
</li><br>
                                                                <li><i class="fa fa-star"></i>Ms. Divya S J and Ms. Priyanka D of V Semester presented a paper entitled Environmental & Safety Engg: BT Brinjal” at National level Students’ Symposium ‘Chemexcel-2011, held at BIET, Davangere on 21-10-2011.</li><br>
                                                                <li><i class="fa fa-star"></i>Ms. Shruthi S J and Ms. Shashikala K J of V semester presented a paper entitled “Environmental Engg.” at National level Students’ Symposium ‘Chemexcel-2011, held at BIET, Davangere on 21-10-2011.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Abhilash M M and Mr. Anil B Patil of V semester presented a paper entitled “Management of Hazardous waste” at National level Students’ Symposium ‘Chemexcel-2011, held at BIET, Davangere on 21-10-2011.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Parikshit Parmar¸ Mr. Pinak Pani Nath, Mr. Satyam subba and Ms. Vandana Prasad of 8th sem participated in workshop on ‘Waste Management’ organized by KSCST in association with dept. of Chemical Engg, BIET at BIET, Davangere on 02-02-2011</li><br>
                                                                <li><i class="fa fa-star"></i>Miss. Lalithambika was awarded with Sri. H. Neelakantappa Gold medal for being the first top student in Chemical Engg. for the year 2010. Miss. Sushma Pothu Reddy was awarded with Sri. H. Neelakantappa Gold medal for being the second top student in Chemical Engg. for the year 2010. Mr. Pradeepa P H was awarded with Sri. H. Neelakantappa Gold medal for being the third top student in Chemical Engg. for the year 2010 in the felicitation to toppers function held on 20-05-2011.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Siddalingesh N G and Miss. Mousami Nath have received top students award for the Chemical Engg. department for the year 2010 for 3rd and 2nd year respectively.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Akshay Bytanal, Mr. Karthik G R, Mr. Sachin & Ms. Neha Rani of 8th semester won the Best Project Award for the project titled “Studies on usage of ion exchange process for recovery of copper from wire drawing industry effluent” in the In-house Project Exhibition organized by Industry Institute Partnership Cell (IIPC), BIET on 10-06-2011</li><br>
                                                                <p><b>(2012-2013)</b></p>
                                                                <li><i class="fa fa-star"></i>Election was held on 16th August 2011 at 10.00 AM to nominate the office bearers for Association of Chemical Engineers for the year 2011-12. Following students were elected unanimously. Abhilash M.M VII sem, General Secretary, Darshan S.Bathi V sem, Joint Secretary, Bhuvanesh E, V sem, Treasurer, Veeresh B.G VII Sem, Cultural Secretary, Lavanya D, VII sem, Madhu KM, Lady Representatives.</li><br>
                                                                <li><i class="fa fa-star"></i>Neetu C.P and Vinuta K, VI Sem students, attended National Symposium CHEMOVATION-12 held at Dayanand Sagar College Bangalore and won the first prize on 12-03-2012.</li><br>
                                                                <li><i class="fa fa-star"></i>Sanath Kumar, VI semester student, has attended national symposium CHEMEXPLORE-2K11 organized by Department of Chemical Engineering MVJ College of Engineering, Bangalore on 16-03-2012.</li><br>
                                                                <li><i class="fa fa-star"></i>Bhuvanesh, student of VI semester had participated in JAIVIK-11 organized by Department of Biotechnology, GMIT, Davanagere on 16-03-2012.</li><br>
                                                                <li><i class="fa fa-star"></i>5. Darshan S Bathi, student of 4th semester has participated in cricket as a member of BIET cricket team. The team has won Mysore Zone Championship. Event was held at Shimoga between 24-03-2012 to 01-04-2012.Sanath Kumar, student of 6th semester Chemical Engineering has participated in VTU Mysore zone intercollegiate Table Tennis tournament held at NMAMIT, Nitte, from 29-02-2012 to 01-03-2012.</li><br>
                                                                <li><i class="fa fa-star"></i>Sanath Kumar, student of 6th semester Chemical Engineering has participated in VTU Mysore zone intercollegiate Table Tennis tournament held at NMAMIT, Nitte, from 29-02-2012 to 01-03-2012.</li><br>
                                                                <li><i class="fa fa-star"></i>Ms. MousamiNath and Ms. Priyanka D Have bagged 1st and 5th ranks respectively in VTU Examinations of BE Chemical Engg</li><br>
                                                                <p><b>(2013-2014)</b></p>
                                                                <li><i class="fa fa-star"></i>Mr. Satish Kumar has bagged 8th Rank in VTU Examinations of BE Chemical Engg.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr.Basavanna, Sanath Kumar and Sagar Babaji, participated in two day Exhibition and Seminar, organized by Angadi Institute of Technology, Belgaum on 31-08-2013.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr.Sanjay H R, Praveenkumar DV, Ms Shivaleela, Ms. Shwetha Ittige 7th sem Chemical Engineering students presented paper in project exhibition entitled “Investigation of through recirculation drying of dead pupae – an ideal source for national nutrition and Biodiesel activities” in International Conference on “Technology management for Green Environment (ICTMGE-2013)” from 18th to 21st September 2013 held at VTU Mysore Regional Center, Mysore.</li><br>
                                                                <li><i class="fa fa-star"></i>Ms. Keerthi Karigoudar and Ms. Meghana H P of VI semester presented a poster entitled “Biocolours” at National Level Student Symposium „Chemexcel-2014, held at BIET, Davangere on 21- 03-2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Darshan B S and Mr. Sachin C L of VI semester presented a poster entitled “Precipitated Silica from rice husk ash” at National Level Student Symposium „Chemexcel-2014, held at BIET, Davangere on 21-03-2014 and won 1st Place.</li><br>
                                                                <li><i class="fa fa-star"></i> Mr. Kuldeep Kumar Tripati, Mr. Akarsh S A and Mr. Shivakumar H M of IV semester presented a poster entitled “A novel method to reducing nicotine in tobacco with chinese 'kucai” at National Level Student Symposium „Chemexcel-2014, held at BIET, Davangere on 21-03-2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Ameer Sadat Hassan Ali Anwar, Mr. Mehtab Khan Guranni, and Mr. Dadapeer M of IV semester presented a poster entitled “CO2: from waste to value” at National Level Student Symposium „Chemexcel-2014, held at BIET, Davangere on 21-03-2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Nandish M N of VI semester presented a poster entitled “Biofuels and its applications” at National Level Student Symposium „Chemexcel-2014, held at BIET, Davangere on 21-03-2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Ms. M U C Radha Madhavi, Ms. Arifa Nazma Nazar and Ms. Apporva Krishna Bhovi of II semester presented a paper entitled “Green technology a future option for the present world” at National Level Student Symposium „Chemexcel- 2014, held at BIET, Davangere on 21-03-2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Ms. Meghana P, Ms. Suchita D and Mr. Akarsh S A IV semester presented a Poster entitled “Hydrogen and fuel cell the energy source of the future” at National Level Student Symposium „Chemexcel- 2014, held at BIET, Davangere on 21-03-2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Ms. Sindhu M J and Ms. S Vinutha of VI Semester presented a paper entitled “Ecofriendly dyes” at National level Students‟ Symposium „Chemovation 2014, held at DSCE, Bangalore on 28-03-2014 and 30-03-2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Nandish M N of VI Semester presented a paper entitled “Biofuels” at National level Students‟ Symposium „Chemovation 2014, held at DSCE, Bangalore on 28-03-2014 and 30-03-2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Darshan B S and Mr. Sachin C L of VI Semester presented a poster entitled “Precipitated Silica from rice husk ash” at National level Students‟ Symposium „Chemovation 2014, held at DSCE, Bangalore on 28-03-2014 and 30-03-2014 and won 1st Prize.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Kuldeep Kumar Tripati and Mr. Ameer Sadat Hassan Ali of IV Semester presented a poster entitled “A novel method to reducing nicotine in tobacco with chinese kucai” at National level Students‟ Symposium „Chemovation 2014, held at DSCE, Bangalore on 28-03-2014 and 30-03-2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Ms. Suchitha D and Ms. Meghana P of IV Semester presented a poster entitled “Effect of heat transfer enhancement and NOx emission using Al2O3/Water nanofluid as coolant in CI engine” at National level Students‟ Symposium „Chemovation 2014, held at DSCE, Bangalore on 28-03-2014 and 30-03-2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Anish Jacob, Mr. Arvind Rajan, Ms. Shoban R C and Ms. Sinu Roy attended workshop on Elastoplastic Welding at Madras Institute of Technology Campus, Anna University, Chennai on 29-03-2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Anish Jacob, Mr. Arvind Rajan, Ms. Shoban R C and Ms. Sinu Roy attended workshop on NanoScience at Madras Institute of Technology Campus, Anna University, Chennai on 30-03-2014.</li><br>
                                                                <p><b>(2014-2015)</b></p>
                                                                <li><i class="fa fa-star"></i> Election was held on 18th August 2014 at 10.00 AM to nominate the office bearers for Association of Chemical Engineers for the year 2014-15.Following students were elected unanimously. General Secretary Nandish M N, VII sem, Joint Secretary Akash Shetty, III Sem, Treasurer, Kuldeep Kumar Tripati V sem, Cultural Secretary, Darshan B S, VII Sem, Sindhu M J, VII sem, Arifa N N III Sem, Lady Representatives</li><br>
                                                                <li><i class="fa fa-star"></i> Mr. Kuldeep Kumar Tripati and Mr. Akarsh S A presented a paper entitled “Nanorobots” at National level Students‟ Symposium „Shodha 2014- 2015, held at REC, Hulkoti on 27-09-2014 and won 2nd place.</li><br>
                                                                <button type="button" class="btn btn-theme">See More</button>


                                                            </ul>


                                                        </article><!--//page-content-->
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page-->
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page-->
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}