{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** -->
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Chemical Engineering</h1>

                </header>
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CH/home">Home</a></li>
                                    <li><a href="/department/UG/CH/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/CH/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CH/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/UG/CH/activities">Activities</a></li>
                                    <li><a href="/department/UG/CH/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/CH/gallery">Photo Gallery</a></li>
                                </ul>
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->

                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">
                                        <h1 class="no-margin-top has-divider text-highlight">Forum Activities</h1>

                                        <div style="width: 70%;" id="latestnews">
                                          <ul class="custom-list-style medical">
                                              <li><i class="fa fa-star"></i>Inauguration of activities of Association of Chemical Engineers for the year 2009-10 and welcome to III semester students was held on 03-09-2009.</li><br>
                                              <li><i class="fa fa-star"></i>Organized Guest Lecture on Right to Information Act by Sri. H V Ramdas, Advocate, Davangere on 14-10-09 at 9.30 AM.</li> <br>
                                              <li><i class="fa fa-star"></i>Organized Industrial Visit to Mangalore Chemicals and Fertilizers, Mangalore on 23-10-2009.</li><br>
                                              <li><i class="fa fa-star"></i>Organized interdepartmental Volley ball tournament "Chemi's Cup" from 24-02-2010 to 27-02-2010.</li><br>
                                              <li><i class="fa fa-star"></i>Industrial Visit to M/s Davangere Sugars Pvt. Ltd., Kukkuwada on 10-03-2010.</li><br>
                                              <li><i class="fa fa-star"></i>Organized One day workshop on Intellectual Property Rights in association with IIPC and KSCST, Bangalore on 30-03-2010.</li><br>
                                              <li><i class="fa fa-star"></i>Organized Guest Lecture on Water quality assessment and opportunities for Chemical Engineers by Mr. Krishna Kulkarni, MD, Jalawahini Management services Pvt. Ltd., Bangalore on 04-04-2010.</li><br>
                                              <li><i class="fa fa-star"></i>Guest Lecture on Process Engineering, Chemical aspects in oil and gas industries by Mr. Sharan Kumar, Indus Integrated Technology Solution Pvt. Ltd, Bangalore on 08-04-2010.</li><br>
                                              <li><i class="fa fa-star"></i>Guest Lecture on Process Engineering, Mechanical aspects in oil and gas industries by Mr. Mohan Basavaraj, Indus Integrated Technology Solution Pvt. Ltd, Bangalore on 08-04-2010.</li><br>
                                              <li><i class="fa fa-star"></i>Organized Guest Lecture on Entrepreunship by Sri. Prabhu N, Director, Karnataka Sugar Institute, Belgaum on 15-05-2010.</li><br>
                                              <li><i class="fa fa-star"></i> Valedictory Function of activities of Association of Chemical Engineers and farewell to final year students (2010 output) for was held on 15-05-2010. The Principal and Director wished the outgoing students. Sri. Prabhu N, Director, Karnataka Sugar Institute, Belgaum was the chief guest.</li><br><br>
                                              <p>(2010-2011)</p><br><br>
                                              <li><i class="fa fa-star"></i>Inauguration of activities of Association of Chemical Engineers for the year 2010-11and welcome to III semester students was held on 27-08-2010. The Principal and Director addressed on Role of Chemical Engg and growth of manufacturing sector.</li><br>
                                              <li><i class="fa fa-star"></i>Organized One day Training programme on Waste Management in association with KSCST, Bangalore on 08-02-2011. 40 students from Engineering colleges of central Karnataka participated in the Programme</li><br>
                                              <li><i class="fa fa-star"></i>Organized Industrial Visit to M/s Jubilant Organosys from 24-04- 2011 to 25-04-2011.</li><br>
                                              <li><i class="fa fa-star"></i>Organized Guest Lecture on "Tips for Successful Chemical Engg. Career" by Mr. Yogishwar, Manager, Fosroc Chemicals (India) Pvt. Ld., Bangalore on 13-05-2011.</li><br>
                                              <li><i class="fa fa-star"></i>Organized Guest Lecture on Nanotechnology future Prospects by Dr. Madhusudhan, Dept. of Nanotech Bioscience Division, Davangere University on 15-05-2011.</li><br>
                                              <li><i class="fa fa-star"></i>Valedictory Function of activities of Association of Chemical Engineers and farewell to final year students (2011 output) for was held on 21-05-2011.</li><br><br><br>
                                              <p>(2011-2012)</p><br><br>
                                              <li><i class="fa fa-star"></i>Inauguration of the activities of Association of Chemical Engineers for the year 2011-12 and welcome to 3rd semester students was organized on 25th Aug 2011 at 10.30 AM, Dr.Y.Jagannadha Rao was the Chief Guest, Prof.Y.Vrushabhendrappa was the Chief guest and Dr.B.T Achyutha, Principal, BIET was a president of the function.</li><br>
                                              <li><i class="fa fa-star"></i> A Guest lecture was organized on behalf of Association of Chemical Engineers on "Technical Report Writing and Presentation" by Dr.Y.J Rao, former Principal Basava Engineering College, Bangalore on 25-08-2011.</li><br>
                                              <li><i class="fa fa-star"></i>Students of 3rd,5th and 7th Sem B.E Chemical Engineering invited all the Faculty (Teaching and Non Teaching) of Chemical Engineering Dept and Celebrated the Teacher's day on 5th sep 2011.</li><br>
                                              <li><i class="fa fa-star"></i>A Guest Lecture Program was arranged by Chemical Engineering Association. Mr. Vishwanath Gangadhar, Associate Vice President of AXA Business Services Pvt Ltd, Bangalore delivered an invited talk on "Human Resource Activity-Training, Acquisition and management" on 8-09-2011.</li><br>
                                              <li><i class="fa fa-star"></i>Antakshari was organized for all semester students on 08-09-2011 in the department.</li><br>
                                              <li><i class="fa fa-star"></i>Technical quiz was arranged for all students on 29-9-2011</li><br>
                                              <li><i class="fa fa-star"></i>An invited Guest Lecture was delivered by Dr.Basavaraj N Gurappa, Faculty, Department of Chemical Engg, IIT Madras on the topic "Microstructure and Rheology", Colloids, Suspension and Surfactant at Chemical Engg Seminar Hall on 1-03-2012.</li><br>
                                              <li><i class="fa fa-star"></i>One day Industrial Visit to M/S Shamanur Sugars Ltd, Duggavathi. All semester students along with six Faculties accompanied the visit.</li><br>
                                            <br><br>  <p>(2012-2013)</p> <br><br>
                                              <li><i class="fa fa-star"></i>Inauguration of the activities of Association of Chemical Engineers for the year 2012-13 and welcome to 3rd semester students was organized on 18-08-2012 at 10.30 AM, Prof.V.Ramaswamy, Principal, BIET, was the Chief Guest, Prof.Y.Vrushabhendrappa was the president of the function.</li><br>
                                              <li><i class="fa fa-star"></i>40 Students of Chemical Engineering Department along with 3 faculty members visited Mysore Paper Mills, Bhadravathi, Sigandhur and Jog Falls as a part of industrial visit from 14-09-2012 to 15-09-2012.</li><br>
                                              <li><i class="fa fa-star"></i> Students of Chemical Engineering celebrated the Teacher's day in Seminar Hall of Department of Chemical Engineering on 05-09-2012</li><br>
                                              <li><i class="fa fa-star"></i>Conducted Chemexcel-2012, A National Level Students symposium on 22-03-2012.</li><br>
                                              <li><i class="fa fa-star"></i>Conducted Chemexcel-2012, A National Level Students symposium on 22-03-2012.</li><br>
                                            <br><br>  <p>(2013-2014)</p> <br><br>
                                              <li><i class="fa fa-star"></i>Forum inauguration and welcome function for 3rd Sem students for the year 2013-14 was arranged on 21/08/2013 at Chemical Engineering Department. Dr.Ramaswamy, Principal, BIET addressed the students.</li><br>
                                              <li><i class="fa fa-star"></i>Dr.Y.J. Rao, Ex Professor of Chemical Engineering RVCE, Bangalore gave a technical talk on "Technical Report Writing, Project Work and Report Methodologies" for Chemical Engineering students on 21/09/2013.</li><br>
                                              <li><i class="fa fa-star"></i>Chemical Engineering students visited "Taralabalu Biofuel Research Centre" and "Sericulture Govt Filature training centers" Tholahunase, on 28/10/2013. Dr. Devaraj, program co-ordinator gave a guest lecture on KVK and Biofuel activities at Davangere District.</li><br>
                                              <li><i class="fa fa-star"></i>A one day workshop on Emerging Opportunities in Chemical Engineering was organized by Association of Chemical Engg, BIET, Davanagere on 07/11/2013. Mr. Rajashekhar and Mr. Kumar C of PRENTAC Bangalore delivered a special talk on "Oil and Gas processing Renewables, Opportunities Prospects and Employability" for Chemical Engineering students.</li><br>
                                              <li><i class="fa fa-star"></i>Valedictory Function of activities of Association of Chemical Engineers and farewell to final year students (2014 output) for was held on 18-05- 2014.</li><br>
                                              <br><br><p></p>(2014-2015)<br><br>
                                              <li><i class="fa fa-star"></i> Inauguration of activities of Association of Chemical Engineers for the year 2014-15 and welcome to III semester students was held on 04- 09-2014.</li><br>
                                              <li><i class="fa fa-star"></i> Organized Guest Lecture on "To become Successful Chemical Engineer for industries" by Mr. Yogishwar G B, Director, Technical Consultant, Bangalore on 04-09-14 at 10.30 AM</li><br>
                                              <li><i class="fa fa-star"></i>Industrial Visit to M/s Davangere Sugars Pvt. Ltd., Kukkuwada on 19-09-2014.</li><br>
                                              <li><i class="fa fa-star"></i>Valedictory Function of activities of Association of Chemical Engineers and farewell to final year students (2015 output) for was held on 05-06-2015.</li><br>
                                              <br><br>(2015-2016)<br><br>
                                              <li><i class="fa fa-star"></i>Inauguration of activities of Association of Chemical Engineers for the year 2015-16 and welcome to III semester students was held on 14-08-2015.</li><br>
                                              <li><i class="fa fa-star"></i>Dr.Siddaramaiah, Professor, Dept. of Polymer Science and Technology, SJCE Mysore delivered a guest lecture on Introduction to Nanomaterial for Chemical Engineering students on 04-09-2015.</li><br>
                                              <li><i class="fa fa-star"></i>Industrial Visit to M/s Synthite Industries Ltd., Kavalettu, Kumarapatnam on 04-09-2015.</li><br>
                                              <li><i class="fa fa-star"></i>Students of Chemical Engineering celebrated the Teacher's day in Seminar Hall of Department of Chemical Engineering on 05-09-2015</li><br>
                                              <br><br>(2016-2017)<br><br>
                                              <li><i class="fa fa-star"></i>Ameer sadat Hassan Ali Anwar of 7th sem student was nominated as ISTE students chapter president</li><br>
                                              <li><i class="fa fa-star"></i>Mr. Praveen Kumar D G has been nominated as BOE member for Chemical/Polymer composite board of VTU Belgaum for the academic year 2016-17</li><br>
                                              <li><i class="fa fa-star"></i>Students of 5th semester visited the industry M/s P.S.K Pharma Private Ltd., Harihar on 26/08/16</li><br>
                                              <li><i class="fa fa-star"></i>Students of 5th semester visited a Meghana Biotech Laboratory, on 26/08/16 at Belavanur, Davanagere</li><br>
                                              <li><i class="fa fa-star"></i>Inauguration of the Association of Chemical Engineers (ACES) was held on 17/09/16. Dr. Subramanya Swamy, Principal, BIET was the president of the function. Prof. Y. Vrushabhendrappa, Director, BIET, Dr. G P Desai and Dr. B M Kulkarni were guests of the function.</li><br>
                                              <li><i class="fa fa-star"></i>Students of Chemical Engineering celebrated the Teacher's day on 17/09/16</li><br>
                                              <li><i class="fa fa-star"></i>Dr. G. P Desai was nominated as member District Level Expert Appraisal Committee (DEAC) of Ministry of Environment and Forest (MOEF), Government of Karnataka</li><br>
                                              <li><i class="fa fa-star"></i>CHEMEXCEL-2016, A national Level Students Symposium in Chemical Engineering and Allied Sciences was organized on 21/10/16. Sri. Shivanand M. Dambal, Chairman & MD, EHS group of companies, Bangalore and Sri. Kshitij Basavaraj, Director, PSK Pharma Pvt Ltd, Harihar, were the Chief guests of the event. Sri Shivanand Dambal delivered a talk on "Environmental Health and Safety". 100 out station students have participated in the event. 25 Oral presentations and 28 posters have been presented.</li><br>
                                              <li><i class="fa fa-star"></i>Sri Manjunath K S, District Environmental officer, KSPCB, Davangere was the chief guest of Valedictory</li><br>
                                              <br><br>(2017-2018)<br><br>
                                              <li><i class="fa fa-star"></i>Organized workshop on soft skills training program for all students of Department of Chemical Engineering on 28/08/2017 and 29/08/2017 on "Communication and Interview Skills" by Mrs. Meghana N R, Corporate Freelancer Trainer, Bengaluru and an alumnus of Chemical Engg. dept.</li><br>
                                              <li><i class="fa fa-star"></i>Inauguration of the Association of Chemical Engineers (ACES) and welcome to III semester students was held on 29/08/17. Dr. Subrahmanya Swamy, Principal, BIET was the president of the function. Prof. Y. Vrushabhendrappa, Director, BIET was the guest of the function.</li><br>
                                              <li><i class="fa fa-star"></i>Students of Chemical Engineering celebrated the Teacher's day on 05-09-2017 in Department of Chemical Engineering.</li><br>
                                              <li><i class="fa fa-star"></i>All the students of VII semester attended a one day workshop on "World Ozone Day-2017" with theme "Caring all Life Forms under the Sun" conducted by Research and Development Cell, BIET, Davangere at IS seminar hall on 16/09/2017.</li><br>
                                              <br><br><p><b>Conferences held for last 3 years and to be conducted for current year</b></p><br><br>
                                              <li><i class="fa fa-star"></i>Organized One day workshop on Intellectual Property Rights in association with IIPC and KSCST, Bangalore on 30-03-2010.</li><br>
                                              <li><i class="fa fa-star"></i>Organized Pruthvi Dinacharane ( Earth day) in association with Dept. of Civil Engg, Mechanical Engg, Biotechnology and Environmental Science and Technology Study centre, BIET on 22- 04- 2010 at BIET, Davangere.</li><br>
                                              <li><i class="fa fa-star"></i>Organized one day National Level Students symposium Chemexcel-2011 on 21-10-2011 in association with ISTE student's chapter and IIPC, BIET, Davangere. Total of 50 papers were presented in oral and poster presentations</li><br>
                                              <li><i class="fa fa-star"></i>Organized one day National Level Students symposium Chemexcel-2014 on 21-03-2014 in association with ISTE student's chapter and IIPC, BIET, Davangere. Total of 60 papers were presented in oral and poster presentations.</li><br>
                                              <li><i class="fa fa-star"></i>Organized one day National Level Students symposium Chemexcel-2015 on 27-03-2015 in association with ISTE student's chapter, BIET, Davangere. Total of 40 papers were presented in oral and poster presentations.</li><br>
                                              <li><i class="fa fa-star"></i>Organized one day National Level Students symposium Chemexcel on 30-09-2015 in association with ISTE student's chapter, BIET, Davangere. Total of 45 papers were presented in oral and poster presentations. Around 150 students from various colleges participated.</li><br>
                                              <li><i class="fa fa-star"></i>Organized one day National Level Student's symposiumChemexcel-2016, was organized on 21/10/16. Sri. Shivanand M. Dambal, Chairman & MD, EHS group of companies, Bangalore and Sri. Kshitij Basavaraj, Director, PSK Pharma Pvt Ltd, Harihar, were the Chief guests of the event. Sri Shivanand Dambal delivered a talk on "Environmental Health and Safety". 100 out station students have participated in the event. 25 Oral presentations and 28 posters have been presented.</li><br>



                                          </ul>
                                            </div><!--//page-->
                                        </div>
                                <br>


                                                </div><!--//page-content-->
                                            </div><!--//page-->
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page-->
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}
