{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Chemical Engineering</h1>

                </header>
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CH/home">Home</a></li>
                                    <li><a href="/department/UG/CH/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/UG/CH/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CH/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/CH/activities">Activities</a></li>
                                    <li><a href="/department/UG/CH/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/CH/gallery">Photo Gallery</a></li>
                                </ul>
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="content-wrapper col-md-12 col-sm-11">
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Laboratory facilities</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->
                                            <p> Chemical Engineering Department at BIET is equipped with the most of hi- tech labs needed for academic consultancy and research needs. All laboratories are continuously up graded to meet present day demands. These labs are extensively used by the students for their hands on laboratory training, project work assignments and faculties for their research and consultancy needs. The facilities are also regularly used by Mechanical, Biotechnology and Instrumentation departments of the institute and also by nearby Davangere University students for their training.<br><br>
                                              Conventional Laboratories like i) Mass Transfer Laboratory, ii) Heat Transfer Laboratory iii) Momentum Transfer Laboratory iv) Mechanical Operations Laboratory v) Chemical Reaction Engineering Laboratory vi)Process Control and Simulation are flooded with host of equipments and are kept open on all working days.<br><br>
                                              Specialized Laboratories like Fuel Quality Testing Laboratory, Novel Separations Laboratory Industrial Pollution Control Laboratory are also established for research and industrial consultancy.

<br><br>
                                        </div>
                                    </div>
                                </div>
                            <br>

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">
                                        <h1 class="no-margin-top has-divider text-highlight">Major Equipments</h1>
                                        <p>Fermentor (Baby Model ), High Performance Liquid Chromatography (HPLC) [Centralized facility], Reverse Osmosis Water Purifying System, Atomic Absorption Spectrometer (AAS), Spectrometers, Flame photometers, Gas Chromatograph (GC), Total Organic Carbon Analyzer (TOC), Super Critical Extractor, Steam Boiler, Rotary Vacuum Evaporator, Ion Chromatography, Various conventional chemical and bio reactor/ equipments.
                                    </article><!--//page-content-->
                                </div>
                            <br>

                            <div class="row page-row">
                                        <article class="welcome col-md-10 col-sm-8">
                                            <h1 class="no-margin-top has-divider text-highlight">Department Library</h1>
                                            <p>Library is housed in a spacious room adjoining the Chemical Department of the Institute. Text books, Reference books, Professional journals, Training reports, Project work reports, GATE related literature etc are accessible. A reading hall which can accommodate 15 students at stretch provides the peaceful and friendly atmosphere for absorbing the knowledge available through books. Management of library is done by faculty of the department. A total of 784 books, 250 Project reports are available for students.</p>

                                        </article><!--//page-content-->

                                </div>
                          </div>

                        </div><!--//content-wrapper-->
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page-->
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}