{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Chemical Engineering</h1>

                </header>
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CH/home">Home</a></li>
                                    <li class="active"><a href="/department/UG/CH/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/CH/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CH/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/CH/activities">Activities</a></li>
                                    <li><a href="/department/UG/CH/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/CH/gallery">Photo Gallery</a></li>
                                </ul>
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->

                        <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="content container bgdata">
                                    <div class="page-wrapper">
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">
                                                    <h3 class="title" style="font-weight: 600">Vision</h3>
                                                    <p>To train and generate efficient manpower to effectively manage core process industries, involve need based research and contribute to the National productivity.</p>
                                                </article><!--//page-content-->

                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page-->
                            </div>
                            <br><br>
                            <div class="content container bgdata">
                                    <div class="page-wrapper">
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">
                                                    <h3 class="title" style="font-weight: 600">Mission</h3>
                                                    <p>To impart compact and efficient graduate programs that give an excellent exposure to fundamentals and state of art technology required for industrial applications and a need based research.</p>
                                                </article><!--//page-content-->

                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page-->
                            </div>

                        </div><!--//content-wrapper-->
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page-->
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}
