{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Information Science and Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/IS/home">Home</a></li>
                                    <li><a href="/department/UG/IS/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/IS/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/IS/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/IS/activities">Activities</a></li>
                                    <li class="active"><a href="/department/UG/IS/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/IS/gallery">Photo Gallery</a></li>
                                </ul>                   
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Staff Achievements</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Nine papers have been presented in various National/International Conferences..</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i> Five publications have been made in International Journals</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i> Mr .P B Mallikarjuna has received the ” Best Paper Award” in the First International Conference on Multimedia Processing, Communication and Computing Applications (ICMCCA -2012), PESIT, Bangalore, Karnataka, India.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Six Books have been published</li>
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>                            

                                <br>

                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Student Achievements</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>The department supports students to present papers in Conferences and also in other activities</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Many of our students qualified in the GATE exam and in other Competitive exams.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Mr. Ram Prasad R.has been selected for the “Best Student Award” from amongst the members of ISTE Students Chapter at Ghousie college of Engineering , Ramnagar, Bangalore.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Mr. Krishna P H has been selected for the “Best Student Award” for 2010 from amongst the members of ISTE Students Chapter at Bapuji Institute of Engineering & Technology, Davanagere.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Ms Supriya J S and Mr Abhishek Kumar Jha presented a paper “New Chaotic Permutation Methods for Image Encryption” in “Revamp-11” organized by REVA Institute of Technology and Management, Bangalore..</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Many Students were participated in a state level IT- fest “Discover-11” organized at GMIT,Davanagere.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Many students are participated in “The Great Mind Challenge” an annual National Software Development Program conducted by IBM.e.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Mr. Manjunath K B and Mr. Mayur S R have participated and won the third prize in a state level Workshop cum Contest on “Android APPS Development”.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Many Students were participated in a state level Technical fest “TECHSPIN-12” organized at SDMCET,Dharwad.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>The project entitled “GPS based Navigator using Android” was selected for “Project of the Year” award 2011-12 in the “Student Project Programme” sponsored by KSCST.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Mr. Ram Prasad R.has been selected for the “Best Student Award” from amongst the members of ISTE Students Chapter at Ghousie college of Engineering , Ramnagar, Bangalore.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Many Students were participated in a National Level Technical Fest “PLEIADES” organized by BVBCET,Hubli.</li>
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}