{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Information Science and Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/IS/home">Home</a></li>
                                    <li><a href="/department/UG/IS/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/IS/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/IS/faculty">Faculty Profile</a></li>
                                    <li class="active" ><a href="/department/UG/IS/activities">Activities</a></li>
                                    <li ><a href="/department/UG/IS/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/IS/gallery">Photo Gallery</a></li>
                                </ul>                   
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Forum Activities</h1>

                                        <h3 class="title">INFORMATION SCIENCE FORUM </h3>

                                                                
                                                            <p>INSYNC the forum of IS&E regularly organizes Technical Talks, Guest lectures, Paper presentations, Seminars, Group Discussions, Debate, Quiz, Sports and Co-curricular activities for the students..</p>
                                                        <p> </p>
                                                        <br>
                                                            <h1 class="no-margin-top has-divider text-highlight">Short-term Courses</h1>

                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Organized a technical talk on “Randomized Algorithms” by Prof.G. Srinivasaragahavan, IIT, Bombay.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Conducted a workshop on “Cloud computing” in 2012.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Organized a technical seminar on “Secure Group Communications” by Dr. G Sivakumar, CS&E department, IIT Bombay..</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Organized a technical talk on “Image Processing and its Applications” by Dr. D. S Guru, Reader, Dept. of Studies in Computer Science, University of Mysore, Mysore..</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Organized a seminar on “Ill effect of Tobacco” by Prof. Rajeshwari, Bapuji Dental College, Davangere.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Organized a technical talk on “TEXT MINING” by Dr. S. R. Jayaram, Director, Jain Group of institutes, Bengaluru..</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Organized a technical talk on “BIOMETRICS” by Dr G. Hemanth kumar, Professor, Dept. of PG Studies in Computer Science, Manasagangothri, Mysore.</li>
                                                                <br>
                                                            </ul>


                                                        </article><!--//page-content-->
                                                
                                

                                                       
                                        <h1 class="no-margin-top has-divider text-highlight">Conference</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Organized a National Conference on “Recent Trends in Cryptography” in 2009.</li>
                                                                <br>
                                                                
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                                    
                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}