{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Computer Science and Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                    <div class='row'>
                        <div class='col-md-3'>
                        <aside class="page-sidebar affix-top">                    
                            <section class="widget">
                                 <ul class="nav">
                                    <li><a href="/department/UG/IS/home">Home</a></li>
                                    <li><a href="/department/UG/IS/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/IS/infrastructure">Infrastructure</a></li>
                                    <li class="active"><a href="/department/UG/IS/faculty">Faculty Profile</a></li>
                                    <li  ><a href="/department/UG/IS/activities">Activities</a></li>
                                    <li ><a href="/department/UG/IS/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/IS/gallery">Photo Gallery</a></li>
                                </ul>                     
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        </div>



                        <div class='col-md-9'>
                        <div class="row page-row">
                                {% for faculty_data in faculties_data %}
                            
                                    <div class="col-md-3 col-sm-3 text-center">
                                        <div class="album-cover">
                                            <!-- <a href="#"> -->
                                                <img class="img-thumbnail" src="{{faculty_data.image.url}}" alt="" height="180" width="200px">
                                            <!-- </a> -->
                                            <div class="desc">
                                                <h4>{{faculty_data.name}}</h4>
                                                <h4><small><a href="#">{{faculty_data.designation}}</a></small></h4>
                                                <br>
                                                <br>
                                                <!-- <p>Integer ornare nisl tortor, sed condimentum metus pulvinar ut. Etiam ac pretium nunc. Donec porttitor erat non nibh pellentesque vehicula. Vestibulum tincidunt</p> -->
                                                <!-- <button type="button" class="btn btn-theme">Theme Button</button> -->
                                                <a href="{{faculty_data.detail.url}}" class="btn btn-theme">Details</a>
                                            </div>
                                        </div>
                                    </div>

                            {% endfor %} 
                 
                        
                    </div>
                        </div>
                    </div>
                       
                        
                        
                  
                                         
                    </div><!--//page-row-->
                </div><!--//page-content-->

                



            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}