{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Information Science and Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li class="active"><a href="/department/UG/IS/home">Home</a></li>
                                    <li><a href="/department/UG/IS/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/IS/infrastructure">Infrastructure</a></li>
                                    <li ><a href="/department/UG/IS/faculty">Faculty Profile</a></li>
                                    <li  ><a href="/department/UG/IS/activities">Activities</a></li>
                                    <li ><a href="/department/UG/IS/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/IS/gallery">Photo Gallery</a></li>
                                </ul>                  
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">  
                              
                            <article class="welcome col-md-10 col-sm-8">                         
                                        <p><img class="img-responsive" src="assets/images/cse/cs.JPG" alt="" height="350px;" /></p>
                                        <div class="box">
                                                <p>The department was established in the year 2000 with an intake of 60 students. 
                                                    The present intake of the undergraduate program is 120.
                                                     The department has a total instructional area of 1703 Sqmts. 
                                                     The department has qualified and experienced faculty and technically competent supporting staff on its rolls. 
                                                     The department also interacts with the industries on a regular basis to develop the capabilities in latest technologies. 
                                                     The department has well equipped classrooms and computer laboratories with high-end systems. 
                                                     The department is accredited by National Board of Accreditation (NBA).The department is affiliated to Visvesvaraya Technological University (VTU).
                                                     The department also helps the students by facilitating them to train under the programs such as Campus Connect Program, which is initiated and supported by Infosys limited, Bangalore. 
                                                     The department also has EDUSAT facility to provide on line lectures , technical talks etc.,. The dept is recognized by the Govt of Karnataka to inspect different high schools under the MAHITHI SINDU program.

</p>
                                               
                                               
                                              <p>
                                        
                                        </div>
                                    </article>      
                        
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}