{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Information Science and Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                 <ul class="nav">
                                    <li><a href="/department/UG/IS/home">Home</a></li>
                                    <li><a href="/department/UG/IS/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/UG/IS/infrastructure">Infrastructure</a></li>
                                    <li ><a href="/department/UG/IS/faculty">Faculty Profile</a></li>
                                    <li  ><a href="/department/UG/IS/activities">Activities</a></li>
                                    <li ><a href="/department/UG/IS/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/IS/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">                               

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Laboratory facilities</h1>
                                   <p> The department has well furnished labs equipped with latest configuration systems to satisfy the computing requirements for various activities in the different academic disciplines. The systems are connected to high end servers with 8 Mbps internet connection toprovide internet fesility for students and staff. The laboratories are equiped with latest high end systmes and new software.
</p>                           
  </div>
                                    

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">The important laboratories include:</h1>
                                        <ul class="custom-list-style medical">
                                            <li><i class="fa fa-star"></i>Data Structures and Algorithms Laboratory</li>
                                            <br>
                                            <li><i class="fa fa-star"></i> File Structures Laboratory</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>OOP Laboratory with C++ and JAVA</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Database Applications Lab</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>System Programming Lab.</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Microprocessor Laboratory</li>
                                            <br>
                                            <li><i class="fa fa-star"></i> Networks Laboratory</li>
                                            <br>
                                            <li><i class="fa fa-star"></i> Project Work/ Research Lab</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Electronics and Logic design Laboratory</li>
                                            <br>
                                            <li><i class="fa fa-star"></i>Software Testing Lab</li>
                                        </ul>
                                        
                                    </article><!--//page-content-->    
                                </div>
                            <br>
                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Major Equipments:</h1>
                                        <ul class="custom-list-style medical">
                            <p>The department has 129 systems and 3 servers with latest configurations with UPS facility for all the systems, power Supplies of different voltage ranges, Function Generator, Digital IC trainer kit, Linear IC kit, Signal generator, Interfaces, Analog and Digital IC Tester, Decade Resistance Box, Decade Inductance Box, Decade Capacitance Box, Dual Trace Oscilloscope, Digital Multi-meters & Digital CROs in EC-LD Lab. HP LaserJet Printers, HP inkjet Printers Scanners, 8086 software package, LCD Projector, Turbo C/C++ compiler, Symantec antivirus, Windows XP, Windows 7, and Fedora 15 etc.</p>
</div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    
    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>

                                        {% endblock %}