{% extends 'base.html' %}

{% load static %}
{% block content %}


<div class="content container">
        <div class="page-wrapper">
            <div class="page-content">     
                <div class="row page-row">
                    {% for image in images %}
                        
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" title="" href="{{image.image.url}}"><img class="img-responsive img-thumbnail" src="{{image.image.url}}" alt="" /></a>
                    
                    {% endfor %} 
                   
                </div><!--//page-row-->
            </div><!--//page-content--> 
        </div><!--//page--> 
    </div>


{% endblock %}