{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!-- ******CONTENT****** --> 
    <div class="content container bgdata content-text">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <strong><h1 style="font-weight: 600">NAIN @ BIET:</h1></strong>
                    
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <article class="welcome col-md-12 col-sm-11">
                            <section class="widget has-divider ">
                                <img src="{% static 'assets/images/campus_life/NAIN-IMG.jpg' %}" alt="" srcset="" height="400px" width="80%">
                            </section>                         
                            <h3 class="has-divider text-highlight">Vision</h3>
                            <section class="widget has-divider">
                                <p>
                                    To provide Entrepreneurial Ecosystem and Technological advisory to 
                                    students in Institution to enhance Entrepreneurial opportunities.
                                </p>
                            </section>

                            <h3 class="has-divider text-highlight">About NAIN</h3>

                            <section class="widget has-divider">
                                
                                <p>
                                    NAIN is a scheme from Dept. of IT, BT and S & T (Govt. of Karnataka) to promote 
                                    innovation in Educational Institutions and support them to be Entrepreneurs. 
                                    The main objective is to encourage students with innovative ideas bearing impact 
                                    on Industry/Society and nurture them by providing a conducive Eco-system to become
                                    successful Entrepreneurs.
                                </p>
                                <br>
                                <p>
                                    BIET has established the NAIN center in the 1st floor of IS & E department. 
                                    Center will provide an Ecosystem to work with amicable team and execute the 
                                    ideas fluently. Basic infrastructural support such as lab space, computer access 
                                    and high speed internet access will be provided. It also facilitate in networking 
                                    with Industries for advises. Center will have Advisory committee for overseeing the 
                                    operations of Incubation Centre and Project Monitoring and Assessment Group (PMAG) 
                                    for evaluation and mentoring which is chaired by Principal and members constituting 
                                    of Senior Professors, Industrial people, Entrepreneurs and Expertise in field. To 
                                    foster required skills and to keep students motivated Ideathons, 
                                    Hackathons and Entrepreneurship boot camps will be conducted on a regular basis.
                                </p>

                            
                                
                            </section>

                            <section>
                            <h2 class="has-divider text-highlight">Process Flow</h2>
                            
                            <h3 class="has-divider text-highlight">Idea Generation</h3>
                            <div class="section-content">
                                <p><i class="fa fa-star"></i>   Team shall identify Regional and Local problems (unmet needs).</p>
                                <p><i class="fa fa-star"></i>   Members of team can be UG students, PG students, Research scholars or Alumni.</p>
                            </div>
                            </section>

                            <section>
                                <h3 class="has-divider text-highlight">Proposal and Approval</h3>
                                <div class="section-content">
                                    <p><i class="fa fa-star"></i>   After the identification of the problem, convert ideas to project proposals along with costing and other details.</p>
                                    <p><i class="fa fa-star"></i>   Submitted proposals will be reviewed by PMAG. 15 potential projects will be selected and submitted to steering committee (Govt. of    Karnataka).</p>
                                    <p><i class="fa fa-star"></i>   Project proposals are reviewed by steering committee and funding will be sanctioned for a maximum of 10 projects after the approval    from the committee.</p>
                                </div>
                            </section>

                            <section>
                                <h3 class="has-divider text-highlight">Execution</h3>
                                <div class="section-content">
                                    <p><i class="fa fa-star"></i>   Each team will be assigned a mentor to help and monitor the progress.</p>
                                    <p><i class="fa fa-star"></i>   The institute will facilitate/train the project team to execute project.</p>
                                    <p><i class="fa fa-star"></i>   Project Monitoring and Assessment group will help in continual evaluation of a project in relation to the agreed schedule. Provide    continual feedback as well assist in the identification of constraints and methods of overcoming those constraints.</p>
                                    <p><i class="fa fa-star"></i>   Steering committee will review the progress on a quarterly basis.</p>
                                </div>
                            </section>

                            <section>
                                <h3 class="has-divider text-highlight">Facilities to Project Team</h3>
                                <h4 class="has-divider text-highlight">Seed Funding</h4>
                                <div class="section-content">
                                    <p><i class="fa fa-star"></i>   Up to maximum 3 lakhs per team, depending on the nature of project.</p>
                                    
                                </div>
                                <h4 class="has-divider text-highlight">Networking</h4>
                                <div class="section-content">
                                    <p><i class="fa fa-star"></i>   With Industrial experts, mentors and advisors.</p>
                                    
                                </div>
                                <h4 class="has-divider text-highlight">Mentoring</h4>
                                <div class="section-content">
                                    <p><i class="fa fa-star"></i>   To facilitate Knowledge creation, execution and evaluation of the project.</p>
                                    
                                </div>
                            </section>
                                 
                            
                        </article><!--//page-content-->
                        
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

{% endblock %}