{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Post Graduate Admission</h1>
        </header>
        <div class="page-content">
            <div class="row page-row">
                <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
                    <section class="widget">
                        <ul class="nav ug">
                            <li><a href="/ug_addmission">Under graduate</a></li>
                            <li class="active"><a href="/pg_addmission">Post Graduate</a></li>
                            <li><a href="/reserach">Research</a></li>

                        </ul>
                    </section>
                    <!--//widget-->
                </aside>
                <!--//page-sidebar-->
                <div class="content-wrapper col-md-10 col-sm-8 content-text">
                    <div class="page-row">
                        <h1 class="no-margin-top has-divider text-highlight">Eligibility for Admission to M.Tech Courses
                            (2019-2020):</h1>
                        <p>
                            Admission is open to all candidates who have passed <b>B.E./B.Tech</b> examinations (in
                            relevant field)
                            of VTU or any other University recognised by this University or any other examinations
                            recognised by this
                            University as equivalent with not less than <b>50%</b> (<b>45%</b> in the case of candidates
                            belonging to <b>SC/ST</b> )
                            of the marks in the aggregate in the examinations of the semester considered for the
                            declaration of class.
                        </p>
                        <br>
                        <p>
                            The selection is based on the performance in the qualifying examination, written test and
                            personal interview.
                            Preference will be given to candidates qualified in <b>GATE</b>.
                        </p>
                    </div>
                    <!--//page-row-->

                    <div class="page-row">
                        <h1 class="no-margin-top has-divider text-highlight">Eligibility for Admission to M.C.A Course:
                            (2019-2020):</h1>
                        <p>
                            A pass in Bachelor's Degree of minimum of three years duration with not less than <b>50%</b>
                            of marks in the aggregate
                            of all the years (<b>45%</b> for <b>SC/ST</b> category) provided that 50% of marks in
                            Mathematics or statistics or Computer
                            Science or Computer Applications or
                            Business Mathematics or Business Statistics as one of the optional subjects at
                            <b>Degree/10+2</b> Level (<b>45%</b> for <b>SC/ST</b> ).
                        </p>
                        <br>
                        <p>
                            <b>Note:</b> <i>PGCET/K MAT/AIEEE/GATE Rank/</i> score is required for Management quota
                            admission also.
                        </p>
                    </div>
                    <!--//page-row-->


                    <div class="page-row">
                        <h1 class="no-margin-top has-divider text-highlight">Post Graduate Intake:</h1>
                        <div class="row">
                            <div class="col-md-12">
                                <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->
                                <div class="table-responsive">
                                    <table class="table table-boxed table-striped">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Name of the Course</th>
                                                <th>Year started</th>
                                                <th>Intake</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>1.</b></td>
                                                <td>M.C.A</td>
                                                <td>1992</td>
                                                <td>30</td>
                                            </tr>
                                            <tr>
                                                <td><b>2.</b></td>
                                                <td>M.B.A.</td>
                                                <td>1996</td>
                                                <td>120</td>
                                            </tr>
                                            <tr>
                                                <td><b>3.</b></td>
                                                <td>M.Tech in Computer Sc & Engineering</td>
                                                <td>1996</td>
                                                <td>24</td>
                                            </tr>
                                            <tr>
                                                <td><b>4.</b></td>
                                                <td>M.Tech in Machine Design</td>
                                                <td>2002</td>
                                                <td>18</td>
                                            </tr>
                                            <tr>
                                                <td><b>5.</b></td>
                                                <td>M.Tech In Textiles.</td>
                                                <td>2002</td>
                                                <td>18</td>
                                            </tr>
                                            <tr>
                                                <td><b>6.</b></td>
                                                <td>M.Tech in Thermal Power & Engineering</td>
                                                <td>2010</td>
                                                <td>18</td>
                                            </tr>
                                            <tr>
                                                <td><b>7.</b></td>
                                                <td>M.Tech in Environmental Engineering</td>
                                                <td>1982</td>
                                                <td>2010</td>
                                            </tr>
                                            <tr>
                                                <td><b>8.</b></td>
                                                <td>M.Tech in Structural Engineering</td>
                                                <td>2014</td>
                                                <td>24</td>
                                            </tr>
                                            <td><b></b></td>
                                            <td>Total</td>
                                            <td></td>
                                            <td>360</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--//table-->
                                </div>
                                <!--//table-responsive-->
                            </div>
                        </div>
                    </div>





                    <div class="page-row">
                        <h1 class="no-margin-top has-divider text-highlight">Details of Fee Structure for B.E
                            Course(2019-2020):</h1>
                        <div class="row">
                            <div class="col-md-12">
                                <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->
                                <div class="table-responsive">
                                    <table class="table table-boxed table-striped">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Courses</th>
                                                <th>CET Fee Tuition</th>
                                                <th>CET Fee Other</th>
                                                <th>CET Fee Total</th>
                                                <th>K Mat & Management Fee Tuition</th>
                                                <th>K Mat & Management Fee Other</th>
                                                <th>K Mat & Management Fee Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>1.</b></td>
                                                <td>Master of Computer Applications</td>
                                                <td>70000</td>
                                                <td>12500</td>
                                                <td>82500</td>
                                                <td>70000</td>
                                                <td>12500</td>
                                                <td>82500</td>
                                            </tr>
                                            <!-- <tr>
                                                        <td><b>2.</b></td>
                                                        <td>Jacob</td>
                                                        <td>Thornton</td>
                                                        <td>@fat</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>3.</b></td>
                                                        <td>Larry</td>
                                                        <td>the Bird</td>
                                                        <td>@twitter</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>4.</b></td>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>@mdo</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>5.</b></td>
                                                        <td>Jacob</td>
                                                        <td>Thornton</td>
                                                        <td>@fat</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>6.</b></td>
                                                        <td>Larry</td>
                                                        <td>the Bird</td>
                                                        <td>@twitter</td>
                                                    </tr> -->
                                        </tbody>
                                    </table>
                                    <!--//table-->
                                </div>
                                <!--//table-responsive-->
                            </div>
                        </div>
                    </div>



                    <div class="page-row">
                        <!--<h1 class="no-margin-top has-divider text-highlight">Descriptions</h1>-->
                        <div class="row">

                            {% for addmission in addmissions %}

                            <div class="col-md-6">
                                <h1 class="has-divider text-highlight">Course wise seat matrix</h1>
                                <dl class="dl-horizontal">
                                    <h3 class="title">Download Prospectus</h3>
                                    <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus,
                                        vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                                    <a class="btn btn-theme view-pdf" href="{{addmission.CourseWiseSeatMatrix.url}}"
                                        target="_blank"><i class="fa fa-download"></i>View PDF</a>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <h1 class="has-divider text-highlight">Notification 2019-2020</h1>
                                <dl class="dl-horizontal">
                                    <h3 class="title">Download Prospectus</h3>
                                    <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus,
                                        vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                                    <a class="btn btn-theme view-pdf" href="{{addmission.notification.url}}"
                                        target="_blank"><i class="fa fa-download"></i>View PDF</a>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <h1 class="has-divider text-highlight">Application Form</h1>
                                <dl class="dl-horizontal">
                                    <h3 class="title">Download Prospectus</h3>
                                    <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus,
                                        vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                                    <a class="btn btn-theme view-pdf" href="{{addmission.application_form.url}}"
                                        target="_blank"><i class="fa fa-download"></i>View PDF</a>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <h1 class="has-divider text-highlight">CET Cut off Rank 2019-2020</h1>
                                <dl class="dl-horizontal">
                                    <h3 class="title">Download Prospectus</h3>
                                    <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus,
                                        vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                                    <a class="btn btn-theme view-pdf" href="{{addmission.cut_off.url}}"
                                        target="_blank"><i class="fa fa-download"></i>View PDF</a>
                                </dl>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                    <!--//content-wrapper-->
                </div>
                <!--//page-row-->
            </div>
            <!--//page-content-->
        </div>
        <!--//page-->
    </div>
    <!--//content-->
</div>
<!--//wrapper-->

{% endblock %}