{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="content container">
  <div class="page-wrapper">
    <!-- <title>Alumni Association</title> -->
    <header class="page-heading clearfix">
      <h1 class="heading-title pull-left">Alumni Association of BIET - Alumni Login</h1>
    </header>

    <div class="container bgdata">
      <div class="row">
        <div class="col-md-4">
          <aside class="page-sidebar  affix-top">
            <section class="widget">
              <ul class="nav">
                <li><a href="/alumini/alumni_association">Alumni Association</a></li>
                <li><a href="/alumini/alumnilogin">Alumni Login</a></li>
                <li class="active"><a href="/alumini/associationmember">Association Members</a></li>
                <li><a href="#">Photo Gallery</a></li>

              </ul>
            </section>
            <!--//widget-->
          </aside>

        </div>
        <div class="col-md-8">
          <table class="table table-boxed table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>Dr.S.Subrahmanya Swamy</td>
                <td>President</td>

              </tr>
              <tr>
                <th scope="row"></th>
                <td>Sri. Kondajji Jayaprakash</td>
                <td>Vice President</td>

              </tr>
              <tr>
                <th scope="row"></th>
                <td>Sri. M.C.Patel</td>
                <td>Secretary</td>

              </tr>
              <tr>
                <th scope="row"></th>
                <td>Sri. Suresh Kumar. G.B</td>
                <td>Joint Secretary</td>

              </tr>
              <tr>
                <th scope="row"></th>
                <td>K.C.Devendrappa</td>
                <td>Treasurer</td>

              </tr>
            </tbody>
          </table>

          <table class="table table-boxed table-striped">
            <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Department</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>Sri. S.B. Patil</td>
                <td>Civil</td>

              </tr>
              <tr>
                <th scope="row"></th>
                <td>Dr. Manavendra</td>
                <td>Mechanical</td>

              </tr>
              <tr>
                <th scope="row"></th>
                <td>Sri. Basavarajappa</td>
                <td>E&E</td>

              </tr>
              <th scope="row"></th>
              <td>Sri. S.M.Chandrashekar</td>
              <td>Textile</td>

              </tr>
              <tr>
                <th scope="row"></th>
                <td>Dr. C.R. Nirmala </td>
                <td>Computer Science</td>

              </tr>
              <tr>
                <th scope="row"></th>
                <td>Mrs. Leela G.H</td>
                <td>E&C</td>

              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>


{% endblock %}