{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Bio Medical Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/BM/home">Home</a></li>
                                    <li><a href="/department/UG/BM/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/BM/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/BM/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/BM/activities">Activities</a></li>
                                    <li class="active"><a href="/department/UG/BM/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/BM/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Staff Achievements</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Ms.Deepa, Lecturer, has received Top Student Merit Award in the M.Tech. program in Digital Electronics from B.V.B.College of Engg & Technology, Hubli, for the year 2009-10.</li><br>
                                                                <li><i class="fa fa-star"></i>Dr. Mallikarjun S. Holi has received Travel Grant Award from IEEE-Engineering in Medicine and Biology Society & Drexel University, USA to present a paper in the 28th Annual Northeast Bioengineering Conference of the IEEE-Engineering in Medicine and Biology, Drexel University, Philadelphia, USA, April 2002.</li><br>
                                                                <li><i class="fa fa-star"></i>Dr. Mallikarjun S. Holi has received Travel Grant Award from International Bone and Mineral Society & Japanese Society for Bone and Mineral Research to present paper in the First Joint Meeting of IBMS-JSBMR 2003, Osaka, Japan, June 2003.</li><br>
                                                                <li><i class="fa fa-star"></i>Mallikarjun S. Holi has received Institute Merit Prize with a medal for the Best Academic record in M.Tech (Biomedical Engineering) program for the academic year 1995–1996, from Indian Institute of Technology, Madras.</li><br>
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>                            

                                <br>

                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Student Achievements</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>The Project titled "Development of Electronic Nose for Diagnosis of Lung Cancer" carried out by Glary Fernades, Abhilasha & Nithin Shekar under the guidance of Mr.Anjaneya LH and Shreya BN has been adjudged as "Project of the Year" Award (Seminar category) during 35th series KSCST Exhibition held at SDMIT, Ujire on 13th & 14th July 2012.</li><br>
                                                                <li><i class="fa fa-star"></i>The Project titled "Human Fall Detection using MEMS Accelerometer" carried out by Bhavana V, Lavanya L and Sirisha G, under the guidance of Mrs.Shubah V. Patel has been adjudged as "Project of the Year" Award (Exhibition category) during 35th series KSCST Exhibition held at SDMIT, Ujire on 13th & 14th July 2012.</li><br>
                                                                <li><i class="fa fa-star"></i>The project titled “Design and Development of Cost effective Electronic Alphanumeric Braille Code Learning System” has been awarded one among the Top 10 Innovative Projects at National level under Sushrutha Innovative Award 2011, funded by Department of Science and technology (DST), Ministry of Science and Technology, Government of India. The project was carried out by Ms.Mamatha A, Ms. Shradha N and Seema M.N and guided by Dr. Mallikarjun S.Holi and Smt Ayesha Sidiqa.</li><br>
                                                                <li><i class="fa fa-star"></i>Two students projects have been selected for the 35th series of KSCST Student Projects Programme-Seminar and Exhibition: 2011-2012 to be held on 13th and 14th July 2012 at Sri Dharmasthala Manjunatheshwara Institute of Technology, Ujire, Dharmasthala.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Yogananda C. H, VII Semester Biomedical Engineering has received BIET-ISTE Student Chapter “Best Student Award” in the 8th National Convention of ISTE Students Chapter held at Baba Banda Singh Bahadur Engineering College, Fatehgarh Sahib, Punjab, from October 21-23, 2005.</li><br>
                                                                <li><i class="fa fa-star"></i>Two Student projects were selected for exhibition at SRISHTI-2006, a South India Level Student Project Exhibition, organized by ABVP and GMIT, Davangere, from May 18-21, 2006. The project titled “Erythrocyte Shape Investigation under Normal Pathological Conditions using Image Processing” has received 3rd Prize in Instrumentation Technology category.</li><br>
                                                                <li><i class="fa fa-star"></i>Manjunath S. Nair, student of IV semester has received Champion Trophy in the Annual Sports conducted by the institute for the year 2012-13 and 2013-14.</li><br>
                                                                <li><i class="fa fa-star"></i>The project titled “Development of Electronic Nose for Diagnosis of Lung Cancer at Early Stage” carried out by Abhilasha M, Nithin Shekhar and Glary Placid Fernandes, under the guidance of Mr. Anjaneya L.H and Ms. Shreya B.N, was adjudged as one of the outstanding project of the year and selected for the “Project of the Year” award in the KSCST 35th Series Student Project Program (SSP) Seminar/ Exhibition held at SDMIT, Ujire on 13th-14th July 2012.</li><br>
                                                                <li><i class="fa fa-star"></i>The project titled “Human Fall Detection using MEMS Accelerometer” carried out by Bhavana V, Lavanya L and Sirisha G, under the guidance of Mrs. Shubha V. Patel, was adjudged as one of the outstanding project of the year and selected for the “Project of the Year” award in the KSCST 35th Series Student Project Program (SSP) Seminar/ Exhibition held at SDMIT, Ujire, 13th 14th July 2012.</li><br>
                                                                <li><i class="fa fa-star"></i>The project titled “An In-vehicle Driver Fatigue Detection and Alarm System” carried out by Vishal V. Kotemane, Keethishree B.M, Madhavi M. Devan and Naveenkumar S. M, under the guidance of Mr. Anjaneya LH and Mrs. Shubha V. Patel was adjudged as one of the outstanding project of the year and selected for the “Project of the Year” award in the KSCST 36th Series Student Project Program (SSP) Seminar/ Exhibition held at Angadi Institute of Technology, Belgaum, from 30th – 31st August 2013.</li><br>






                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}