{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Bio Medical Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/BM/home">Home</a></li>
                                    <li><a href="/department/UG/BM/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/BM/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/BM/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/UG/BM/activities">Activities</a></li>
                                    <li><a href="/department/UG/BM/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/BM/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Activities</h1>

                                        <h3 class="title"> FORUM ACTIVITIES</h3>
                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">  
                                                        <h5 class="title">Industry Institute Interaction and Research activity:</h5>  
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Institute has an MOU with Applied Cognition Systems Pvt. Ltd. (APCOG Systems), Bangalore - a company dealing with Biomedical Instrumentation and healthcare product development. R&D lab has been established in the Department of Biomedical Engineering to provide Technical Training to meet industry ambience and R&D needs. Project review meetings by APCOG Technical team are held every month to guide project batches.
                                                                <li><i class="fa fa-star"></i>Two batches of final year students from Biomedical Engineering have successfully completed project work in R&D lab of the Department during the academic year 2013 - 14.
                                                                <li><i class="fa fa-star"></i>Eight batches of final year students from Biomedical Engineering, Electronics & Instrumentation and Electronics & Communication Engineering have successfully completed project work in R&D lab of the Department during the academic year 2014 - 15.
                                                                <li><i class="fa fa-star"></i><b>BIOMEDICAL ENGINEERING FORUM:</b> The Biomedical Engineering forum provides a platform for the students to exhibit their talents in the co-curricular and extra-curricular activities. Forums conducts technical talks by inviting experts from industry and hospitals, organize hospital visits and conduct personality development programs which may help in the placement.
                                                                <li><i class="fa fa-star"></i><b>BM SHUTTLE BADMINTON CUP (BM CUP):</b> The department under the banner of Biomedical Engineering forum organize shuttle badminton tournament BM CUP every year. This is one of the most popular sport events for the students since from 2006.
                                                                <li><i class="fa fa-star"></i><b>BME EXPLORE-2012:</b> Department has organized 5th National Level Students Symposium "BME EXPLORE-2012" on 26th April 2012. The objective of this Symposium was to provide a common platform to UG & PG Students of Biomedical Engineering, Medical Electronics, Biotechnology, Instrumentation Technology, MBBS, BDS and related branches from all over India to come under one umbrella in this symposium to discuss the recent trends in Biomedical Engineering and Medical field. To provide a platform for students to actively participate in the various technical events and provide ample scope to exhibit their talent, which will help in their career development. There was an overwhelming response from student community for BME EXPLORE-2012 and the program was a grand success. Papers Received 70, papers selected 60, papers presented 58, Colleges participated 18, Total number of participants 160.
                                                                
                                                            </ul>


                                                        </article><!--//page-content-->   
                                                        <article class="welcome col-md-8 col-sm-7">  
                                                        <h5 class="title">Forum activities:</h5>  
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Dr. Chandrashekhar Gangangouda, Anterior Segment Surgeon, Cornea & Glucoma Service, Nayana Super Speciality Eye Hospital & Research Centre, Davangere, delivered a talk on “Computer Vision Syndrome”, on 15-09-2012.</li><br>
                                                                <li><i class="fa fa-star"></i>Dr. Kishan Bhagwath, Associate Professor, Dept. of Radiology, S. S. Institute of Medical Sciences & Research Centre, Davangere, delivered a talk on “Recent trends in Radiology & Radiodiagnostics” by, on 24th February 2012.</li><br>
                                                                <li><i class="fa fa-star"></i>Biomedical Engineering Forum organized two days workshop for students on the topic “Medical Image Processing Tools” from 24th – 25th February 2012.</li><br>
                                                                <li><i class="fa fa-star"></i>Students of 6th and 8th semester visited Dept. of Neonatology & Dept. of Radiology at Bapuji Child Health Institute & Research Centre on 7th, 14th, 21st and 28th March 2012.</li><br>
                                                                <li><i class="fa fa-star"></i>Students of 6th semester organized “BME CULT” on 27th March 2012. Students from different colleges participated in various events.</li><br>
                                                                <li><i class="fa fa-star"></i>Students of 6th semester visited Artificial Limb Centre and Kasturba Medical College, Hospital and Research Centre, Manipal on 20th and 21st April 2012. Faculty members Mr. Anjaneya L. H., Ms. Mubinabi F. D. and Ms. Shreya B. N. accompanied them.</li><br>
                                                                <li><i class="fa fa-star"></i>Organized the “Alumni Meet” on 5th Nov 2011. Dr.Guruprasad, Neonatologist & Consulting Pediatrician, Bapuji Child Health Institute & Research Centre, Davangere, inaugurated the programme and delivered a talk on “Importance of Biomedical Engineering”. More than 20 alumni have participated and interacted with students.</li><br>
                                                                <li><i class="fa fa-star"></i>Organized two days workshop on Robotics “BiginBOTICS” in association with Horizon-MBS Group, Pune at BIET, Davangere on 17th – 18th September 2011. Total of 45 students from different departments participated in the workshop.</li><br>
                                                                <li><i class="fa fa-star"></i>Students of 8th Semester visited All India Institute of Speech and Hearing (AIISH), Mysore, from 20th -22th March 2011, Staff member Mr.Vageesh V. Kantli and Mrs. Shubha V. Patel accompanied them.</li><br>
                                                                <li><i class="fa fa-star"></i>Organized 6th National Level Students’ Technical Symposium “BME Explore-2013” on 9th April 2013.</li><br>
                                                                <li><i class="fa fa-star"></i>Students of 6th semester visited Artificial Limb Centre and Kasturba Medical College, Hospital and Research Centre, Manipal on 2nd and 3rd May 2013.</li><br>
                                                                <li><i class="fa fa-star"></i>An invited talk was conducted in the Department on “Information Communication Technology for Elderly Care” by Dr. P.S Ramkumar, INAE Distinguished visiting Professor on 6th Dec 2013.</li><br>
                                                                <li><i class="fa fa-star"></i>Organized one day workshop on “New challenges & opportunities in Healthcare” conducted on 15th Feb 2014 by the following resource persons:<br>
1• Dr. Ramkumar, Director of Applied cognition systems Bangalore.<br>
2• Dr. S. Chandrashekar., Professor, Dept. of General Medicine J.J.M. Medical College, Davangere,<br>
3• Dr. P. S. Balu, Professor, Dept. of Community Medicine J.J.M. Medical College, Davangere,<br>
4• Dr. Shiva Prasad S Professor, Dept. of Oral Medicine & Radiology Bapuji Dental College, Davangere,<br>
5• Dr. Kishan Bhagwat Professor, Dept. of Radiology S.S.I.M.S.R.C, Davangere</li><br>
                                                                <li><i class="fa fa-star"></i>A Technical Talk on “Tomosynthesis on GPU” was delivered by Dr. U.C Niranjan, Director, Research & Training at Manipal Dot Net, Manipal on 19th Feb 2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Students of 8th Semester and 6th Semester visited the Speech and Hearing Center Mysore on 21st Mar 2014.</li><br>
                                                                <li><i class="fa fa-star"></i>Students of 6th & 8th Semester visited Kasturba Medical College, Manipal as a part of academics on 6th &7th Mar 2015.</li><br>
                                                                <li><i class="fa fa-star"></i>Dr. Somashekhar K.S, Cardiologist, Davangere Heart Hospital, Davangere was invited as a chief guest on the occasion of World Health Day-2015 organized by the Department of Biomedical Engineering in association with National Service Scheme, Youth Red Cross Wing and Indian Society for Technical Education on 23rd Apr 2015.</li><br>
                                                                <li><i class="fa fa-star"></i>Dr. B.P Rajesh professor, Department of Pulmonology, JJM-Medical College, Davangere delivered an invited talk on “Asthma Prevention and Management” organized jointly by the Department of Biomedical Engineering and Department of Biotechnology in association with Indian society for technical Education-BIET chapter on 24th Apr 2015.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr. Praveen Gowda, CEO and Co-founder, Arera Technology, Bengaluru, delivered a talk on “Scope and Opportunities of Biomedical Engineering” on 29th August 2016. He briefed about the importance of IOT, Big Data, Medical Image processing, Medical wearables, Augmented Reality, Artificial Intelligence and Mobile Technologies.</li><br>

                                                            </ul>


                                                        </article>

                                                        <article class="welcome col-md-8 col-sm-7">  
                                                        <h5 class="title">Extracurricular activities:</h5>  
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Organized Shuttle Badminton Tournament “BM CUP-2013” from 27th- 29th April 2013.</li><br>
                                                                <li><i class="fa fa-star"></i>Organized Shuttle Badminton Tournament “BM CUP-2015” from 24th- 27th April 2015.</li><br>
                                                            </ul>


                                                        </article><!--//page-content-->  

                                <div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>

                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h3 class="title">Short-term Courses</h3>
                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Organized the Two day Workshop on “Signals and Systems conducted by Dr. P.S Ramkumar Team from Applied Cognition Systems Pvt. Ltd, Bangalore on 20th & 21st Sep 2013.</li><br>
                                                                <li><i class="fa fa-star"></i>Organized two day Workshop on “Signal Processing” conducted by Dr. P.S Ramkumar Team from Applied Cognition Systems Pvt. Ltd Bangalore on 6th & 7th Dec 2013.</li><br>
                                                                <li><i class="fa fa-star"></i>One week Crash course on Product Development Life Cycle was held during the period 26th July -31st 2014 July in association with APCOG, Bangalore in the department.</li><br>
                                                                <li><i class="fa fa-star"></i>Organized Two-Day Workshop on “Smart Sensors”, in association with Department of E&IE, BIET, Davangere and Applied Cognition Systems Private Limited, Bengaluru on 17thand 18thFebruary 2016.</li><br>
                                                            </ul>


                                                        </article><!--//page-content-->   
                                  
                                
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}