{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Bio Medical Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                    <div class='row'>
                        <div class='col-md-3'>
                        <aside class="page-sidebar affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/BM/home">Home</a></li>
                                    <li ><a href="/department/UG/BM/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/BM/infrastructure">Infrastructure</a></li>
                                    <li class="active"><a href="/department/UG/BM/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/BM/activities">Activities</a></li>
                                    <li><a href="/department/UG/BM/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/BM/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        </div>



                        <div class='col-md-9'>
                        <div class="row page-row">
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-1.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4>Teacher Name</h4>
                                    <h4><small><a href="#">Accosiate Proferser</a></small></h4>
                                    <br>
                                    <br>
                                    <!-- <p>Integer ornare nisl tortor, sed condimentum metus pulvinar ut. Etiam ac pretium nunc. Donec porttitor erat non nibh pellentesque vehicula. Vestibulum tincidunt</p> -->
                                    <button type="button" class="btn btn-theme">Theme Button</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-2.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Ornare</a></small></h4>
                                    <p>Aenean dictum urna nec ligula consectetur, id ornare leo tincidunt. Praesent ut tempor nibh. Sed eleifend, elit at ornare pretium, lorem mauris convallis arcu</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-3.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-4.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-5.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-6.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-7.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-8.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-9.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-10.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-11.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-12.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                        </div>
                    </div>
                       
                        
                        
                        <div class="page-content">    
                    <div class="page-row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis, nisl eget venenatis ultricies, eros augue semper turpis, vitae euismod leo urna vitae nulla. Mauris sem urna, aliquet quis sodales et, convallis vel ante. Sed convallis id sem sed feugiat. Aenean eget tempus tortor.</p>    
                        <p class="page-row text-muted">Image credit: <a href="http://www.flickr.com/photos/francisco_osorio/" target="_blank">Francisco Osorio</a>, <a href="http://creativecommons.org/licenses/by/2.0/deed.en" target="_blank">Creative Commons 2.0 license</a></p>
                    </div>
                   <!--//page-row-->
                    
                </div>
                                         
                    </div><!--//page-row-->
                </div><!--//page-content-->

                



            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}