{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Bio Medical Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li class="active"><a href="/department/UG/BM/home">Home</a></li>
                                    <li><a href="/department/UG/BM/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/BM/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/BM/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/BM/activities">Activities</a></li>
                                    <li><a href="/department/UG/BM/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/BM/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">  
                              
                            <article class="welcome col-md-10 col-sm-8">                         
                                        <p><img class="img-responsive" src="assets/images/cse/cs.JPG" alt="" height="350px;" /></p>
                                        <div class="box">
                                                <p>Institute has an MOU with Applied Cognition Systems Pvt. Ltd., Bangalore - a company dealing with Biomedical Instrumentation and healthcare product development. R&D lab has been established in the Department of Biomedical Engineering to provide Technical Training to meet industry ambience and R&D needs.</p>
                                                <p>Biomedical Engineering is a discipline that advances knowledge in engineering, biology and medicine, and improves human health through cross-disciplinary activities that integrate engineering sciences with biomedical sciences and clinical practice.</p>
                                                <p>The challenges created by the diversity and complexity of living systems require creative, knowledgeable, and imaginative people working in teams of physicians, scientists and engineers to monitor, restore, and even enhance normal body function. The biomedical engineer is ideally trained to work at the intersection of science, medicine, and mathematics to solve biological and medical problems to make the world a healthier place.</p>
                                                <p>The Department of Biomedical Engineering is started in the academic year 2002-03 with clear vision to provide high quality education to the students with in-depth knowledge of fundamentals and latest technology in engineering to meet the challenges of current medical field. The department emphasizes on industry and medical oriented teaching and learning, and maintains high standards of technical education. To provide practical knowledge to the students, department has extremely good infrastructure with well equipped laboratories.</p>
                                                <p></p>
                                                <p></p>
                                        </div>
                                    </article>      
                        
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}