{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Bio Medical Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/BM/home">Home</a></li>
                                    <li><a href="/department/UG/BM/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/UG/BM/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/BM/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/BM/activities">Activities</a></li>
                                    <li><a href="/department/UG/BM/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/BM/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">                               

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Laboratory facilities</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <p>An excellent infrastructure is provided in the following laboratories. The total expenditure on Instruments, Equipments and Computers is more than Rs.40 Lakhs.</p>
                                            <p><b>Basic Electronics, Logic Design, HDL and Instrumentation Laboratory:</b> The curricular activities in this lab provide the basic knowledge to students in the field of analog and digital electronic components, device characteristics and circuits and fundaments of transducers and instrumentation. The students learn the basics of HDL programming.</p>
                                            <p><b>Clinical Instrumentation and Equipment Laboratory:</b> In this laboratory the students will conduct experiment related to physiological measurements and design and testing of biomedical instruments. Students will learn the technique of data acquisition and diagnostic procedure related biomedical signals such as ECG, EEG, and EMG. The lab is equipped with ECG, EEG and EMG, Spirometer machines with computer interfacing facility, BP measuring instruments, audiometer, pulse oximeter, heart-lung machine, ventilator and important clinical and diagnostic instruments.</p>
                                            <p><b>Biomedical Signal & Image Processing, Microprocessor, Microcontroller and C++ & Data Structures Laboratory:</b> In this lab students will learn the programming skills related to microprocessor, microcontroller, digital signal processing, medical image processing and data structures using C++.</p>
                                            <p><b>COMPUTING FACILITIES:</b> Thirty Five Pentium systems are connected on LAN with Internet facility. All the systems are loaded with latest operating systems and necessary software for conducting the experiments based on programming and interfacing.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Major Equipments & Software</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <p>Electrocardiograph, Electroencephalograph, Electromyograph, Spirometer, Brain Stem Auditory Evoked Potential recording system, Visual Evoked Potential recording system, Automatic BP measuring system, Audiometer, Ophthalmology instruments, Infusion Pump, Spectrophotometer, Flame Photometer, Digital Storage Oscilloscope, Multi-channel data acquisition system, etc.</p>
                                            <p><b>Basic Electronics, Logic Design, HDL and Instrumentation Laboratory:</b>The curricular activities in this lab provide the basic knowledge to students in the field of analog and digital electronic components, device characteristics and circuits and fundaments of transducers and instrumentation. The students learn the basics of HDL programming.</p>
                                            <p>Matlab 2011b with DSP, Signal processing and Image processing toolbox, National Instruments Lab View 2012, Xlinx ISE 10.1, Cross C Compiler (Keil), MASM, TC++, CardioWin, NeuroWin & SpiroWin, Data acquisition software.</p>
                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                <h1 class="no-margin-top has-divider text-highlight">Department Library</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <p>The library at department level is exclusively for the Students and Faculty of Biomedical Engineering, which houses good number of textbooks, reference books, GATE materials, project & seminar reports, journals and magazines. At present 480 books with 196 titles, 41 project reports, 145 seminar reports & 43 CD’s are available in the Department library. The National and International conference proceedings, workshop and seminar reports, product & textbook catalogues, Anatomy, physiology and other biomedical related CD’s are kept for student’s reference.</p>
                                            <p>Biomedical Engineering books available in the Central Library are 950 with 425 titles, and total cost of the books is approximately Rs.8 Lakhs. Twelve International Journals have been subscribed to Central Library. Online access for IEEE and Science Direct Journals.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}