{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Bio Medical Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/BM/home">Home</a></li>
                                    <li class="active"><a href="/department/UG/BM/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/BM/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/BM/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/BM/activities">Activities</a></li>
                                    <li><a href="/department/UG/BM/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/BM/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                        <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="content container">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Vision</h3>
                                                <p>To become a centre of excellence by promoting Biomedical Engineering Education and Research of high quality to make the Department a top choice for undergraduate and postgraduate education.                                               
                                                </p>
                                            
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>
                            <br><br>
                            <div class="content container">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Mission</h3>
                                                    <p>To prepare skilled graduates with social and ethical values to be immediately productive and adapt for rapidly changing technology, and to create and apply knowledge at the interface of Life Sciences and Engineering for the benefit of society and for the improvement of human health.</p>    
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}