{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of MCA:</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/PG/MCA/home">Home</a></li>
                                    <li><a href="/department/PG/MCA/profile">Vision and Mission</a></li>
                                    <li><a href="/department/PG/MCA/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/PG/MCA/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/PG/MCA/activities">Activities</a></li>
                                    <li><a href="/department/PG/MCA/achievements">Achievements</a></li>
                                    <li><a href="/department/PG/MCA/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Forum Activities</h1>

                                        <h3 class="title"> MCA FORUM </h3>

                                                                
                                                            <p> 


FORUM ACTIVITIES:

MCA Forum started in the year 2008 with the aim of providing a platform for the MCA students to become Industry-ready along with gaining the knowledge that helps them to become confident, ready to accept challenges and be competent enough to face the outside world. In this regard Forum is striving very hard by conducting department, Inter department and Intern colleges level activities like programming contests, quiz, group discussion, workshop and seminar etc.

The following Activities have been conducted since 2008..</p>
                                                       
<h1 class="no-margin-top has-divider text-highlight">Major Activities:</h1>
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <div class="table-responsive">                    
                                                <table class="table table-boxed">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No.</th>
                                                            <th>Date</th>
                                                            <th>Activity</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>1.</b></td>
                                                            <td>21-03-2012</td>
                                                            <td>Master in C language & Quiz.</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>2.</b></td>
                                                            <td>25-04- 2012</td>
                                                            <td>	“Emperor of the Kingdom” Inter department activit</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>3.</b></td>
                                                            <td>22-04- 2012</td>
                                                            <td>	“dZine on Spot” on PPT Presentation.</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>4.</b></td>
                                                            <td>28-05-2012 and 29-05-2012</td>
                                                            <td>AROHA-12 Inter College Fest.</td>
                                                           
                                                        </tr>
                                                        <tr>
                                                            <td><b>5.</b></td>
                                                            <td>26-03-2014</td>
                                                            <td>	“Android Application Development”</td>
                                                            
                                                        </tr>
                                                        <tr>                                                            
                                                            <td ><b>6.</b></td>
                                                            <td >	22-08-2014 and 23-08-2014</td>
                                                            <td>“Insight on Advanced Java with exposure to selenium and e-com”</td>
                                                            
                                                        </tr>
                                                        
                                                        
                                                        <tr>
                                                            <td><b>7.</b></td>
                                                            <td>17-09-2014</td>
                                                            <td>“Cloud Computing & ERP”</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>8</b></td>
                                                            <td>	07-03-2015</td>
                                                            <td>“Energy and Thermal Management and Computing Devices”</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>9.</b></td>
                                                            <td>	21-08-2015</td>
                                                            <td>“Professional Application development using .NET”</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>10.</b></td>
                                                            <td>	6-04-2016</td>
                                                            <td>“Java Crystals”</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>11.</b></td>
                                                            <td>		31-08-216</td>
                                                            <td>“Markov Chains and its Applications”</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>12.</b></td>
                                                            <td>	27-2-2017</td>
                                                            <td>“Open Source Intelligence Network, Application & Security”</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>13.</b></td>
                                                            <td>		30-8—2017 & 31-8-2018</td>
                                                            <td>	“Introduction to Angular JS”</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>14.</b></td>
                                                            <td>	09-05-2018</td>
                                                            <td>“Data Analytics using R-Tool”</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>15.</b></td>
                                                            <td>22-04-2016</td>
                                                            <td>“Comparing and Contrasting OOP with POP”</td>
                                                            
                                                    </tbody>
                                                </table><!--//table-->
                                            </div><!--//table-responsive-->
                                       


                                                        </article><!--//page-content-->
                                                
                                

                                                        <h1 class="no-margin-top has-divider text-highlight">Students Paper Presentation and Participation:</h1>
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <div class="table-responsive">                    
                                                <table class="table table-boxed">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No.</th>
                                                            <th>Date</th>
                                                            <th>Title</th>
                                                            <th>Conference and Venue</th>
                                                        <th>Student Name</th>                                                       </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>1.</b></td>
                                                            <td>04-01-20142</td>
                                                            <td>Cloud Embedder</td>
                                                            <td>TechPrints 2.0 National Level Technical Paper Presentation Competition organized by the Dept. of Computer Appplications, St Joseph Engineering College, Mangalore.</td>
                                                            <td>Shwetha M.Hegde
Shringashri</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>2.</b></td>
                                                            <td>04-01-2014</td>
                                                            <td>Satellite Internet Access	</td>
                                                            <td>TechPrints 2.0 National Level Technical Paper Presentation Competition organized by the Dept. of Computer Appplications, St Joseph Engineering College, Mangalore.</td>
                                                        <td>Radhika Gadaraddi
Vidya Patil</td></tr>
                                                        <tr>
                                                            <td><b>3.</b></td>
                                                            <td>04-01-2014</td>
                                                            <td>	Survey on: Hybrid Cloud Computing
                                                            <td>TechPrints 2.0 National Level Technical Paper Presentation Competition organized by the Dept. of Computer Appplications, St Joseph Engineering College, Mangalore.</td>
                                                    <td> Mukta Kayi
Nanda J</td>   </tr>
                                                        
                                                            
                                                    </tbody>
                                                </table><!--//table-->
                                            </div><!--//table-responsive-->
                                        </div>
                                    </div>
                                </div>
                            <br>
                            </div>
                                    </div>
                                </div>
                            <br>




                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                                    
                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}