{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of MCA</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                 <ul class="nav">
                                    <li><a href="/department/PG/MCA/home">Home</a></li>
                                    <li><a href="/department/PG/MCA/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/PG/MCA/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/PG/MCA/faculty">Faculty Profile</a></li>
                                    <li ><a href="/department/PG/MCA/activities">Activities</a></li>
                                    <li><a href="/department/PG/MCA/achievements">Achievements</a></li>
                                    <li><a href="/department/PG/MCA/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">                               

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Laboratory facilities</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p> The MCA department has well furnished laboratories equipped with latest configuration systems and software's to satisfy the computing requirements for academic work. The systems are connected to IBM server. MCA Department have internet facility for students and staff. Each Laboratory is on Local Area Network(LAN)

Windows NT Laboratory: HP Core i5 Desktop PC's with MS Windows 7, MS office 2007, MS .Net Studio2003 , Turbo C++, Oracle 9i,Adobe Reader 8.0,Network Simulator (NS2),Apache Tomcat and Active Pearl.

Novel Network Laboratory: HCL Core i3 Desktop PC's with MS Windows XP, MS Windows 7,MS Office 2007, Turbo C++, Adobe Reader 8.0,Borland Tool for software Development Using Object Oriented Techniques (UML),Oracle 9i, Apache Tomcat and Eclipse Europa.

Unix/Linux Laboratory: HP Core i5 and HCL Core i3Desktop PC's with Linux, Windows 7, MS Office 2007,Turbo C++,Python,Adobe Reader 8.0, MS Visual Studio 2005 and Android with SDK's.

Internet Laboratory: HCL Core i5 system with MS Windows 7, MS Office 2007, Turbo C++, and Adobe Reader 8.0.

</p>
<br>
<h1 class="no-margin-top has-divider text-highlight">Major Equipments</h1>
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <div class="table-responsive">                    
                                                <table class="table table-boxed">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No.</th>
                                                            <th>Major Equipments</th>
                                                            <th>Qty</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>1.</b></td>
                                                            <td>IBM Server</td>
                                                            <td>2</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>2.</b></td>
                                                            <td>IBM NoteBook</td>
                                                            <td>1</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>3.</b></td>
                                                            <td>HP Core2Duo</td>
                                                            <td>4</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>4.</b></td>
                                                            <td>HCL Corei3</td>
                                                            <td>25</td>
                                                           
                                                        </tr>
                                                        <tr>
                                                            <td><b>5.</b></td>
                                                            <td>HCL Corei5</td>
                                                            <td>20</td>
                                                            
                                                        </tr>
                                                        <tr>                                                            
                                                            <td ><b>6.</b></td>
                                                            <td >HP Corei5</td>
                                                            <td>30</td>
                                                            
                                                        </tr>
                                                        
                                                        
                                                        <tr>
                                                            <td><b>7.</b></td>
                                                            <td>HP LaserJet and InKJet Printers</td>
                                                            <td>5</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>8</b></td>
                                                            <td>Epson LCD Projector</td>
                                                            <td>1</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>9.</b></td>
                                                            <td>HP Scanners</td>
                                                            <td>1</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>10.</b></td>
                                                            <td>10 KVA UPS</td>
                                                            <td>1</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><b>11.</b></td>
                                                            <td>05 KVA UPS</td>
                                                            <td>3</td>
                                                            
                                                    </tbody>
                                                </table><!--//table-->
                                            </div><!--//table-responsive-->
                                        </div>
                                    </div>
                                </div>
                            <br>

                            
                            <div class="row page-row">
                                        <article class="welcome col-md-10 col-sm-8">                         
                                            <h1 class="no-margin-top has-divider text-highlight">Department Library</h1>
                                            <p>The library at department level is for the Students and Faculty of MCA  which houses good number of textbooks, reference books, and project & seminar reports. At present over 400 books with <b> project reports, seminar reports & CD'S</b> are available in the Department library. The National and International conference proceedings, workshop and seminar reports, product & textbook catalogues are kept for student's reference. Apart from the departmental library facility we have Central Library and Information Center. At Central Library, along with the standard books we have the facility of accessing various International & National Journals.</p>
                                   
                                        </article><!--//page-content-->
                                        
                                </div> </div>
                                    </div>
                                </div>
                            <br> 

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}