{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of MCA</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                 <ul class="nav">
                                    <li><a href="/department/PG/MCA/home">Home</a></li>
                                    <li class="active"><a href="/department/PG/MCA/profile">Vision and Mission</a></li>
                                    <li><a href="/department/PG/MCA/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/PG/MCA/faculty">Faculty Profile</a></li>
                                    <li ><a href="/department/PG/MCA/activities">Activities</a></li>
                                    <li><a href="/department/PG/MCA/achievements">Achievements</a></li>
                                    <li><a href="/department/PG/MCA/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                        <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="content container">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Vision</h3>
                                                    <p>The department envisions developing itself into academic excellence in the field of computer applications in order to develop competitive professionals having right knowledge, skill and attitude to serve the society and ever changing industry.

</p>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>
                            <br><br>
                            <div class="content container">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Mission</h3>
                                                    <p>To provide quality education to the students with a view to instilling confidence in them so that they can take up various challenges in the field of computer applications.



></p>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}