{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Electrical & Electronics Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="home.php">Home</a></li>
                                    <li><a href="profile.php">Vision and Mission</a></li>
                                    <li><a href="infrastructure.php">Infrastructure</a></li>
                                    <li><a href="faculty.php">Faculty Profile</a></li>
                                    <li><a href="activities.php">Activities</a></li>
                                    <li class="active"><a href="#">Achievements</a></li>
                                    <li><a href="gallery.php">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Results of the past 3 years</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <img src="img2.jpg" alt="">


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>                            

                                <br>
                               

                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Student Achievements</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i> Mr Jitendra Kumar of seventh semester student qualified in GATE-2012 with a percentile of 94..</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Mr Nishant Kumar and Ajay Kumar Hembram of seventh semester students bagged second prize in the paper presentation competition held on28.04.2012 at AIT, Chikkamagalur.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>Mr Darshan and Miss Soujanya of fifth semester bagged second prize in the paper presentation competition held on 17.10.2012 at STJIT, Ranebennur.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i> Mr Ajith Kumar Mishra was winner in VTU inter collegiate Chess tournament held from 19-22nd March 2012, HKBK college of Engineering, Banglore.</li>
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Staff Achievements</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <p>• Dr M S Nagaraj& T S Karibasavraju bagged first prize for the paper “Experimental Determination of THD for different Lighting Loads”, National Conference on Advances in Electrical Engineering(NACEE-09), 25-26thSeptember2009, NMAMIT, NITTE.<br><br>
                                                                • Dr M S Nagaraj published paper “ Optimum Generation Scheduling for Thermal Power Plants using Artificial Neural Network”, International Journal of Electrical and Computer Engineering (IJECE) , Vol.1, No.2, December 2011, pp 135-139.</p>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}