{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Electrical & Electronics Engineering
                    </h1>
                    <div class="breadcrumbs pull-right">
                    </div>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="home.php">Home</a></li>
                                    <li><a href="profile.php">Vision and Mission</a></li>
                                    <li><a href="infrastructure.php">Infrastructure</a></li>
                                    <li><a href="faculty.php">Faculty Profile</a></li>
                                    <li class="active"><a href="#">Activities</a></li>
                                    <li><a href="achievements.php">Achievements</a></li>
                                    <li><a href="gallery.php">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                        <div class="content-wrapper col-md-8 col-sm-8">

<div class="content container bgdata">
        <div class="page-wrapper"> 
            <div class="page-content">
                <div class="row page-row">
                    <article class="welcome col-md-10 col-sm-8">                         
                        <h1 class="no-margin-top has-divider text-highlight">Forum Activities</h1>
                        <h3 class="title" style="font-weight: 600">ELECTRICAL FORUM</h3>
                        <p>Department has ELECTRICAL FORUM with members of about 210 students. Objective of forum is to provide a platform to exhibits hidden talent of students & to expose recent trends in engineering &science. During last 3 years, students organized various technical & extra circular activities like state level Technical paper presentation & Trouble shooting "IMPULSE", Group Discussions, Debate, Technical Quiz, Aptitude Test, TechnicalTalks, Electrical Premier league Cricket Competition and interdepartmental volleyball Competition for girls. Along with the staff members, students organized and visited various industries for their exposure to practical aspects. A batch of sixth semester students attended training Programme conducted by Larsen & Toubro on "Introduction to Low Voltage Switchgear", at coonoor,ooty.<br>

                            <b>Forum Activities to be conducted for the Current Year:</b>
                            
                            We have planned to organize technical lectures by experts, Paper Presentation Competition, Trouble Shooting Competition, Interdepartmental technical competitions “VIDYUTH 2013”, Electrical Premier Cricket League.</p>
                        
                    </article><!--//page-content-->
                    
                </div><!--//page-row-->
<b></b>

                <div class="row page-row">
                        <article class="welcome col-md-10 col-sm-8">                         
                            <h1 class="no-margin-top has-divider text-highlight">Short-term Courses</h1>
                            <p>Two weeks short -term course is planned during July 2013 on Recent Trends in Electrical Engineering for teachers.</p>
                        </article><!--//page-content-->
                        
                    </div>
                    <div class="row page-row">
                        <article class="welcome col-md-10 col-sm-8">                         
                            <h1 class="no-margin-top has-divider text-highlight">Conference</h1>
                            <p>Two days national conference for teachers, research scholars & industrialist was conducted on Advanced Electrical Power Systems & Artificial Intelligent Techniques from 11-12 Feb 2011. We have planned to conduct similar type conference in the month of December 2013..</p>
                        </article><!--//page-content-->
                        
                    </div><!--//page-row-->



            </div><!--//page-content-->
        </div><!--//page--> 
</div>


                                     
</div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}