{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Electrical & Electronics Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="profile.php">Vision and Mission</a></li>
                                    <li><a href="infrastructure.php">Infrastructure</a></li>
                                    <li><a href="faculty.php">Faculty Profile</a></li>
                                    <li><a href="activities.php">Activities</a></li>
                                    <li><a href="achievements.php">Achievements</a></li>
                                    <li><a href="gallery.php">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">  
                              
                            <article class="welcome col-md-10 col-sm-8">                         
                                        <p><img class="img-responsive" src="img1.jpg" alt="" height="350px;" /></p>
                                        <div class="box">
                                        <p>The Department of Electrical & Electronics Engineering was <b>started in the year 1979</b> with an intake of 40 students. Now the department has academic programme with an intake of 60. <b>Department is duly recognized and accredited by National Board of Accreditation, AICTE, New Delhi and The Institution of Engineers (India), Kolkata.</b> The Department of Electrical Engineering, which has renowned as well as young and dynamic personalities as faculty, is involved in providing quality education to undergraduate (UG) level. It offers quality research inthe Phd programs. The department has testing facilities for carrying out industry sponsored research and consultancy projects..</p>
                                        </div>
                                    </article>      
                        
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}