{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Textile Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/TX/home">Home</a></li>
                                    <li><a href="/department/UG/TX/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/TX/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/TX/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/TX/activities">Activities</a></li>
                                    <li class="active"><a href="/department/UG/TX/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/TX/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Staff Achievements</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                    <h5 class="no-margin-top has-divider text-highlight">Dr.J.S.Muralidhara</h5>
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Nominated as Editorial Board Member for a reputed magazine “Spinning Textiles” for his contribution spinning technology.</li><br>
                                                                <li><i class="fa fa-star"></i>Nominated as member of advisory committee by Govt. of Karnataka for Karnataka handloom and textiles.</li><br>
                                                                <li><i class="fa fa-star"></i>Won ‘Best Teacher’ Award from BIET Management for getting 100% results in the subjects taught for more than FIFTEEN times.</li><br>
                                                                <li><i class="fa fa-star"></i>“Best Guide” award from Karnataka state council for science and technology, Bangalore, India.</li><br>
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->

                                                    <div class="row page-row">
                                                    <h5 class="no-margin-top has-divider text-highlight">Dr.K.Murugesh Babu</h5>
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Special Recognition Biography published in Marquis Who's Who 2010, 27th Edition</li><br>
                                                                <li><i class="fa fa-star"></i>2011: “Best Guide” award from Karnataka State Council for Science and Technology, Bangalore, India (Project Title: Design & Development of Continuous Transfer Printing Machine for Natural Fibre Fabrics using Eco-friendly Natural Dyes).</li><br>
                                                                <li><i class="fa fa-star"></i>Won ‘Best Teacher’ Award from BIET Management for getting 100% results in the subjects taught for more than TEN times.</li><br>
                                                                <li><i class="fa fa-star"></i>1989: “Best Guide” award from Karnataka state council for science and technology, Bangalore, India.</li><br>
                                                                <li><i class="fa fa-star"></i>1997-2001: Research Fellowship from IIT Delhi.</li><br>
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>                            

                                <div>
                                </div>

                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Student Achievements</h1>
         
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Miss. Pavitra.O, B.Tech. student got admission for M.Phil at Hongkong Polytechnic University and finished her PG Degree in flying colours.</li><br>
                                                                <li><i class="fa fa-star"></i>Mr.Selvadass Research scholar as published four research papers in reputed refereed International Journals.</li><br>
                                                                <li><i class="fa fa-star"></i>Around 15 student of our department have qualified in GATE Exam and pursuing their higher studies in IITs and other reputed institutes in India and abroad.</li><br>
                                                                <li><i class="fa fa-star"></i>Department has bagged “Best Project of the Year” award from KSCST SPP programme, Bangalore for more than 10 times.</li><br>
                                                                <li><i class="fa fa-star"></i>Project Titled " Design and Development of Natural Fibre Extracting Machine" got BEST PROJECT of the year, awarded by KSCST<br>

Guide: Dr. K Murugesh Babu, M Tech, PhD<br>
             HOD, Dept. Of Textile Technology<br>
             BIET, Davangere<br>
Students: Ganesh R, Lavanya, Shubha<br></li>
                                                                
                                                            </ul>


                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}