{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Textile Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/TX/home">Home</a></li>
                                    <li><a href="/department/UG/TX/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/TX/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/TX/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/UG/TX/activities">Activities</a></li>
                                    <li><a href="/department/UG/TX/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/TX/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Forum Activities</h1>
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">                         
                                                            
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>As an annual feature Textile forum organizes two days national level students Technical Symposium. Students from all over the country participate in this symposium from textile & fashion technology institutes.</li><br>
                                                                <li><i class="fa fa-star"></i>Special Lecture programme are organized every year for the students. Experts from industry & R& D will deliver the lectures on exclusive topics.</li><br>
                                                                <li><i class="fa fa-star"></i>Forum organizes “Personality development programmes every year to final & pre-final year students jointly with placement cell of our institute.</li><br>
                                                                <li><i class="fa fa-star"></i>Entrepreneurship development programmes are organized every year in association with textile & handloom sectors.</li><br>
                                                                <li><i class="fa fa-star"></i>In addition Forum organizes TEX Quiz, Sports, Rangoli & Cultural activates to the students.</li><br>
                                                                <li><i class="fa fa-star"></i>Texcreative - 17" A National Level Students' Symposium on 24th and 25th of March 2017. All are Cordially Welcome</li><br>

                                                            </ul>


                                                        </article><!--//page-content-->

                                                        <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a><br><br>
                                </div>

                                <article class="welcome col-md-12 col-sm-10">                         
                                        
                                        <h3 class="title">Conference</h3>
                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Department organizes a national level student symposium “Texcreative” every year as an annual feature.</li><br>
                                                                
                                                            </ul>


                                                        </article><!--//page-content--> 
                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                               

                                
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}