{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Textile Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/TX/home">Home</a></li>
                                    <li><a href="/department/UG/TX/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/UG/TX/infrasture">Infrastructure</a></li>
                                    <li><a href="/department/UG/TX/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/TX/activities">Activities</a></li>
                                    <li><a href="/department/UG/TX/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/TX/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">                               

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Laboratory facilities</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <ul class="custom-list-style medical">
                                                <li><i class="fa fa-star"></i>Spinning lab.</li><br>
                                                <li><i class="fa fa-star"></i>Weaving lab.</li><br>
                                                <li><i class="fa fa-star"></i>Textile testing lab.</li><br>
                                                <li><i class="fa fa-star"></i>Chemical Processing lab.</li><br>
                                                <li><i class="fa fa-star"></i>Garment Technology lab.</li><br>
                                                <li><i class="fa fa-star"></i>CAD/CAM lab.</li><br>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                      

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Major Equipments</h1>
                                        <ul class="custom-list-style medical">
                                            <li><i class="fa fa-star"></i><b>Spinning lab :</b> MIXING BALE OPENER, ERM CLEANER, HOPPER FEEDER, MONO CYLINDER CLEANER, TWO BLADED BEATER, KRISCHNER BEATER, SCUTCHER, etc...</li><br>
                                            <li><i class="fa fa-star"></i><b>Weaving lab :</b> KNITTING MACHINE, PLAIN POWER LOOM, AUTOMATIC LOOM, HAND LOOM, DOUBLE FLANGED BOBBIN WINDER, NON-AUTOMATIC PIRN WINDER, etc...</li><br>
                                            <li><i class="fa fa-star"></i><b>Textile testing lab :</b> TORSION BALANCE, BALLISTIC TESTER, NEP COUNTING TEMPLATE, DRAPE TESTER, BURSTING STRENGTH TESTER, PILLING TESTER, MINIATURE DRAW BOX, CLOTH TENSILE STRENGTH TESTER, WRAP REEL, etc...</li><br>
                                            <li><i class="fa fa-star"></i><b>Chemical Processing lab :</b> MANGLE WITH COMPRESSOR, LABORATORY WINCH D.C.DRIVE, PRINTING TABLE, TUMBLE DRYER, WOOD GASSIFIER FOR SILK REELING M/C, WATER BATHS, OPEN BATH DYEING M/C, etc...</li><br>
                                            <li><i class="fa fa-star"></i><b>Garment Technology lab :</b> COMPLETE SET, CUTTING M/C, MACHINE COMPLETE SET, GARMENT CUTTING TABLE, PORTABLE STEAM IRONING SYSTEM, etc...</li><br>
                                            <li><i class="fa fa-star"></i><b>CAD/CAM lab :</b> COMPUTERS, ,WONDER WEAVES TEXTILE DESIGN SOFTWARE, HP SCAN JET SCANNER, HP LASER JET COLOUR PRINTER, COLOUR MATCHING, etc...</li><br>


                                        </ul>
                                        
                                    </article><!--//page-content-->    
                                </div>
                        

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}