{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Mechanical Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                 <ul class="nav">
                                    <li><a href="/department/UG/ME/home">Home</a></li>
                                    <li><a href="/department/UG/ME/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/ME/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/ME/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/ME/activities">Activities</a></li>
                                    <li class="active"><a href="/department/UG/ME/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/ME/gallery">Photo Gallery</a></li>
                                </ul>                   
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            

                                <section>
                                <div class="content-wrapper col-md-12 col-sm-12">      
                                <div class="page-row">
                                

                    
                                    <h1 class="no-margin-top has-divider text-highlight">Student Achievements</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <div class="table-responsive">        
                                                <table class="table table-boxed">
                                                    <thead>
                                                        <tr>
                                                            <th>Sl.No.</th>
                                                            <th>Name of student</th>
                                                            <th>Name of the Award</th>
                                                            <th>Awarding Authority</th>
                                                            <th>Year</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>1.</b></td>
                                                            <td>Rajath Kumar M H</td>
                                                            <td>1st Rank</td>
                                                            <td>VTU</td>
                                                            <td>2011-12</td>
                                                        </tr>

                                                        <tr>
                                                            <td><b>2.</b></td>
                                                            <td>Vinayak Talugeri</td>
                                                            <td>2nd Rank</td>
                                                            <td>VTU</td>
                                                            <td>2012-13</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>3.</b></td>
                                                            <td>Sachidaand Toli</td>
                                                            <td>3rd Rank</td>
                                                            <td>VTU</td>
                                                            <td>2012-13</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>4.</b></td>
                                                            <td>Shivayogi B H</td>
                                                            <td>1st Rank</td>
                                                            <td>VTU</td>
                                                            <td>2013-14</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>5.</b></td>
                                                            <td>Guruchethan A M	</td>
                                                            <td>3rd Rank</td>
                                                            <td>VTU</td>
                                                            <td>2014-15</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>6.</b></td>
                                                            <td>Noushad ali B</td>
                                                            <td>ISTE Student Chapter President</td>
                                                            <td>ISTE, New Delhi.</td>
                                                            <td>2015</td>
                                                        </tr>
                                                        
                                                        
                                                    </tbody>
                                                </table><!--//table-->
                                            </div><!--//table-responsive-->
                                        </div>
                                    </div>
                                </div>
                                

                                </section>


                                    <section>
                                <div class="content-wrapper col-md-12 col-sm-12">      
                                <div class="page-row">
                                

                    
                                    <h1 class="no-margin-top has-divider text-highlight">Staff Achievements</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <div class="table-responsive">        
                                            <p>Awards/Recognition's received by faculty:</p>            
                                                <table class="table table-boxed">
                                                    <thead>
                                                        <tr>
                                                            <th>Sl.No.</th>
                                                            <th>Name of faculty</th>
                                                            <th>Name of the Award</th>
                                                            <th>Awarding Authority</th>
                                                            <th>Year</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>1.</b></td>
                                                            <td>Dr. S. Kumarappa</td>
                                                            <td>Best Project</td>
                                                            <td>Agastya International foundation</td>
                                                            <td>2016</td>
                                                        </tr>

                                                        <tr>
                                                            <td><b>2.</b></td>
                                                            <td>Dr. S. Kumarappa</td>
                                                            <td>Best Project</td>
                                                            <td>Agastya International foundation</td>
                                                            <td>2015</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>3.</b></td>
                                                            <td>Dr. Sharan A S</td>
                                                            <td>Best Project</td>
                                                            <td>KSCST</td>
                                                            <td>2015</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>4.</b></td>
                                                            <td>Dr. S. Kumarappa</td>
                                                            <td>Best Project</td>
                                                            <td>KSCST</td>
                                                            <td>2014</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>5.</b></td>
                                                            <td>Mr. S. Rajesh</td>
                                                            <td>Best Project</td>
                                                            <td>KSCST</td>
                                                            <td>2014</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>6.</b></td>
                                                            <td>Mr. S. Rajesh</td>
                                                            <td>Best Project</td>
                                                            <td>KSCST</td>
                                                            <td>2013</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>7.</b></td>
                                                            <td>Dr. K. Sadashivappa</td>
                                                            <td>SRF</td>
                                                            <td>CSIR, New Delhli</td>
                                                            <td>1992</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>8.</b></td>
                                                            <td>Dr. S. Subrahmanya Swamy</td>
                                                            <td>Served as a member of interview committee in UPSC</td>
                                                            <td></td>
                                                            <td>2014</td>
                                                        </tr><tr>
                                                            <td><b>9.</b></td>
                                                            <td>Dr. S. Subrahmanya Swamy</td>
                                                            <td>Served as a member of interview committee in UPSC</td>
                                                            <td></td>
                                                            <td>2016</td>
                                                        </tr>
                                                        </tr><tr>
                                                            <td><b>10.</b></td>
                                                            <td>Dr. S. Subrahmanya Swamy</td>
                                                            <td>Served as a member of interview committee in UPSC</td>
                                                            <td></td>
                                                            <td>2016</td>
                                                        </tr>
                                                        
                                                        
                                                    </tbody>
                                                </table><!--//table-->
                                            </div><!--//table-responsive-->
                                        </div>
                                    </div>
                                </div>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>

                                </section>

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}