{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Mechanical Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/ME/home">Home</a></li>
                                    <li><a href="/department/UG/ME/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/ME/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/ME/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/UG/ME/activities">Activities</a></li>
                                    <li ><a href="/department/UG/ME/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/ME/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Activities</h1>

                                        <h3 class="title"> FORUM ACTIVITIES</h3>
                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Prod-Mech Forum Organized a National Level student symposium “ MECH-I-Prix-10” in the month of March 2010, in which more than 60 papers were presented.
                                                                <li><i class="fa fa-star"></i>Prod-Mech Forum Organized a National Level student symposium “ MECH-I-Prix-11” in the month of March 2011, in which more than 60 papers were presented.
                                                                <li><i class="fa fa-star"></i>Prod-Mech Forum Organized a National Level student symposium “ MECH-I-Prix-12” in the month of March 2012, in which more than 60 papers were presented.
                                                                <li><i class="fa fa-star"></i>Prod-Mech Forum Organized a seminar on a road map to project work in mechanical engineering by Dr. S. Subrahmanya swamy, Prof. and PG Coordinator Machine Design, on 29th august 2012.
                                                                <li><i class="fa fa-star"></i>Prod-Mech Forum was inaugurated in the month of September 2012 by C. Jyothrlingappa, Managing Director, Fine Plastics Bangalore(Alumini of mechanical engg. Dept. BIET) Director Prof. Y. Vrushabhendrappa presented a talk on TIME MANAGEMENT on same occasion.
                                                                <li><i class="fa fa-star"></i>Prod-Mech Forum in association with ISTE Student chapter organized WORKSHOP ON MANUAL ROBOT AND ROBO RACE COMPETITION” Was held Date-26th -28th Sept 2012.
                                                                <li><i class="fa fa-star"></i>Prod-Mech Forum Organized different events in MECHANIZE-12 such as, Virtual Treasure Hunt, Vak-Samara, G-Quiz, Crack The Code, Gear Down, Man V/S Food, Sketching, Mock Placements, Sudoku.
                                                                                                                </ul>


                                                        </article><!--//page-content-->   
                                                        
                                                        <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a><br><br>
                                </div>
                        
<div>
</div>
                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h3 class="title">Short-term Courses</h3>
                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>One day workshop on “Combustion and CFD Modeling of IC Engines”. 15th April 2009.</li><br>
                                                                <li><i class="fa fa-star"></i>One day workshop on Mechatronics and Microprocessor applications 7th march 2009.</li><br>
                                                                <li><i class="fa fa-star"></i>One day workshop on Mechatronics an innovative approach was organized 10 th of March 2012.</li><br>
                                                                                                                            </ul>


                                                        </article><!--//page-content-->   
                                  
                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        
                                        <h3 class="title">Conference</h3>
                                <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        
                                        <div class="content container">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">        
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>“Hydrogen an alternate fuels to IC Engines on 13th February 2009.</li><br>

                                                                <li><i class="fa fa-star"></i>National Level student symposium “ MECH-I-Prix-09”. on 31st Mrach 2009.</li><br>
                                                                <li><i class="fa fa-star"></i>In-house project exhibition has organized by Industry Institute Partnership cell BIET on.1st June 2009.
</li><br>                                                                <li><i class="fa fa-star"></i>One day work shop on Fracture Mechanics on 31st October 2009.
</li><br>                                                       <li><i class="fa fa-star"></i>Prod-Mech Forum Organized a National Level student symposium “ MECH-I-Prix-10” on 25th Mrach 2010. in which more than 60 papers were presented.
</li><br>                                                       <li><i class="fa fa-star"></i>IIPC has conducted a one day workshop on “Intellectual property rights” was organized on 30th march 2010 in association with Karnataka council for Technology upgrading, Bangalore. About 300 final year and prefinal year students of all branches attended the workshop.
</li><br>                                                       <li><i class="fa fa-star"></i>Mechanical Engineering Department conducted three day national conference on “21st I C Engines and Combustion NCICEC-2009” on 10th -12th Dec 2009 The Coordinator for the programme was Dr A M Nagaraj, Prof, Dept. of Mechanical Engineering, sponsored by The combustion institute – Indian section.
</li><br>                                                       <li><i class="fa fa-star"></i>Prod Mech Forum organized Mech – I Prix, a National Symponium on students technical paper presentation on 8th April 2011. 80 papers were received from all over the Karnataka.
</li><br>                                                       <li><i class="fa fa-star"></i>Dr. D. Ramesh Rao, Prof & HOD, Mechanical Engg Dept, has accepted to delivered a lecturer on “Finite Element Method” held in the month of 14th to 16th April at bahubali College of Engineering and Technology, Shravanabelogola, Karnataka, India.
</li><br>                                              <li><i class="fa fa-star"></i>Technical talk on Innovation in Engineering by Dr.Ashok N. Prabhu from U S A is arranged in the month of February 2012.
</li><br>                                                       <li><i class="fa fa-star"></i>Three day programme on Entrepreneurship awareness camp was organised from 16th to 18th of February 2012.
</li><br>                                                       
                                                            </ul>


                                                        </article><!--//page-content-->   
                                                    
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}