{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Mechanical Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                 <ul class="nav">
                                    <li><a href="/department/UG/ME/home">Home</a></li>
                                    <li><a href="/department/UG/ME/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/UG/ME/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/ME/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/ME/activities">Activities</a></li>
                                    <li ><a href="/department/UG/ME/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/ME/gallery">Photo Gallery</a></li>
                                </ul>                   
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">                               

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Laboratory Facilities</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <div class="table-responsive">                    
                                                <table class="table table-boxed">
                                                    <thead>
                                                        <tr>
                                                            <th>Name of the LAB</th>
                                                            <th>Equipments in the LAB as per Scheme and Syllabus</th>
                                                
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            
                                                            <td>FUEL LAB</td>
                                                            <td>1.Saybolt Viscometer<br>
2.Redwood Viscometer<br>
3.Planimeter<br>
4.Junkers gas calorimeter<br>
5.Pensky Martin’s apparatus for flash and fire point<br>
6.Cleveland’s apparatus for flash and fire point</td>
                                                             </tr>
                                                        <tr>
                                                            
                                                            <td>DYNAMICS LAB</td>
                                                            <td>1. Computerized Universal Testing Machine (Cap 200 kN)<br>
2. PC based FFT signal analyzer (AIMIL Ltd, NewDelhi)<br>
3. Whirling of shaft<br>
4. Static & Dynamic balancing apparatus<br>
5. Universal Governor apparatus<br>
6. Vibration exciter<br>
7. Digital load indictor<br>
8. Digital displacement indicator<br>
9. Rotary vane type vacuum pump<br>
10. Systronics make strip chart recorder<br>
11. L & T make oscilloscope</td>
                                                               </tr>
                                                        <tr>
                                                            <td>FOUNDRY LAB</td>
                                                            <td>1.Sieve Analyser<br>
2.Universal Sand Testing machine<br>
3.Permeability meter<br>
4.Drying cabinet<br>
5.Green compression strength testing machine<br>
6.Mody lab sand muller with reduction gear<br>
7.Jominy end quench test apparatus<br>
8.Electric muffle furnace</td>
                                                              </tr>
                                                        <tr>
                                                            <td>HEAT TRANFER LAB</td>
                                                            <td>1. Thermal conductivity<br>
2. Composite wall<br>
3. Refrigeration test rig unit<br>
4. Heat exchanger<br>
5. Air condition unit<br>
6. Emissivity of surface<br>
7. Heat Transfer in Free convection<br>
8. Heat Transfer in forced convection<br>
9. Stefan Boltzmann apparatus<br>
10. Guarded plate set up to find thermal conductivity of liquid.</td>
                                                           </tr>
                                                        <tr>
                                                            <td>HEAT ENGINES LAB</td>
                                                            <td>1.Single cylinder, four stroke, water cooled horizontal diesel engine<br>
2. Single cylinder, four stroke, water cooled vertical diesel engine<br>
3.Computerised IC engine test setup<br>
4.Four cylinder, four stroke, water cooled petrol engine<br>
5.Single cylinder, four stroke, air cooled petrol engine.<br>
6.Computerised VCR engine test set up</td>
                                                            </tr>
                                                        <tr>                                                            
                                                            
                                                            <td>CAD/CAM ,CAED &PG COMPUTER LABS</td>
                                                            <td>1.Solid edge<br>
2.Solid works 2001<br>
3.NISA analysis software<br>
4.CATIA V5R10<br>
5.ANSYS 11<br>
6.Swansoft CNC simulator<br>
7.Capsturn Manufacturing software<br>
8.CSM software bundle (Nastron)<br>
9.Flow Vision teaching and research edition<br>
10.Flow Ware research edition</td>
                                                        </tr>
                                                        <tr>                                                            
                                                            <td>METROLOGY LAB</td>
                                                            <td>1. Auto Collimeter<br>
2. Profile projecter<br>
3. Gear roll tester<br>
4. Pertho meter<br>
5. Lathe tool dynamometer<br>
6. Drill tool dynamometer<br>
7. Measure scope with accessories (Nikon, Japan)<br>
8. Ultrasonic flaw detector<br>
9. Laser auto collimator with CCD camera<br>
10. Horizontal UTM</td>
                                                        </tr>


                                                        <tr>                                                            
                                                            <td>CNC. LAB</td>
                                                            <td>1. VMC-1000 Kirloskar Make, SINUMERIC 810D CNC System<br>
2. CNC X-Y Table with Siemens 802S 2 axis controller<br>
3. CNC lathe model - Spinmaster<br>
4.Six-axis articulated educational robot<br>
5.Internal grinding machine ZETTO-30 with granite epoxy base and high frequency spindle</td>
                                                        </tr>
                                                        <tr>                                                            
                                                            <td>CARPENTRY & FITTING SHOP</td>
                                                            <td>1. Planing machine<br>
2. Citewar saw machine<br>
3. Wood turning lathe<br>
4. Drilling machine<br>
5. Power hack saw<br>
6. Grinding machine</td>
                                                        </tr>
                                                        <tr>                                                            
                                                            <td>SMITHY SHOP</td>
                                                            <td>1. Power Blower<br>
2. Hand blower</td>
                                                        </tr>
                                                        <tr>                                                            
                                                            <td>WELDING & SHEET METAL</td>
                                                            <td>1. Arc Welding<br>
2. Drilling machine<br>
3. Gas welding<br>
4. Air compressor<br>
5. Sheet bending machine<br>
6. Pipe bending machine</td>
                                                        </tr>
                                                        <tr>                                                            
                                                            <td>MACHINE SHOP</td>
                                                            <td>1. Lathe<br>
2. Milling<br>
3. Tool & cutter grinding machine<br>
4. Cylindrical grinding<br>
5. Shaping machine<br>
6. Slotting machine<br>
7. Capstan and turret lathe<br>
8. Planning machine<br>
9. Drilling machine</td>
                                                        </tr>
                                                        <tr>                                                            
                                                            <td>Fluid Mechanics Lab</td>
                                                            <td>1.Orifice Meter<br>
2.Venturimeter<br>
3.Pelton wheel<br>
4.Kaplan turbine<br>
5.Francis turbine<br>
6.Single stage centrifugal pump<br>
7.Multi stage centrifugal pump<br>
8.Reciprocating pump<br>
9.Notches<br>
10.Major and minor losses in pipes</td>
                                                        </tr>
                                                    
                                                        
                                                    </tbody>
                                                </table><!--//table-->
                                            </div><!--//table-responsive-->
                                        </div>
                                    </div>
                                </div>
                            <br>

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Major Equipments</h1>
                                        <p>Following major machines and equipments are available in the laboratories. Machining Center VMC 1000, CNC Retrofit Lathe, Ultrasonic and Magnetic Flaw Detectors, CNC X-Y Table , Measuroscope , Autocollimator, Perthometer , Profile Projector, FFT Analyzer, Computerized Engine Test Setup, Engine Test Setup with PV-Pq indicator, Hydraulic Hot Press 20T,Computerized Universal Testing Machine, Steam Boiler, Laser- gas, solid state, Horizontal Universal Testing machine, CNC Turning Centre, Creep Testing Machine, Hydraulic testing Bench, 6-Axis ROBOT.</p>
                                        <p>Software available in the computer lab: ANSYS, SOLID EDGE, SOLID WORKS, SWAN SOFT.</p>
                                        
                                    </article><!--//page-content-->    
                                </div>
                            <br>

                            <div class="row page-row">
                                        <article class="welcome col-md-10 col-sm-8">                         
                                            <h1 class="no-margin-top has-divider text-highlight">Department Library</h1>
                                            <p>Prod-Mech forum library having around 800 books which involves all streams like Production, Design, Thermal engg. and Management.</p>
                                        </article><!--//page-content-->
                                        
                                </div>  

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}