{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container bgdata">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Mathematics</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/MAT/home">Home</a></li>
                                    <li><a href="/department/UG/MAT/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/MAT/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/MAT/faculty">Faculty Profile</a></li>
                                    <li class="active"><a href="/department/UG/MAT/activities">Activities</a></li>
                            
                                    <li><a href="/department/UG/MAT/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                            <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-11">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Forum Activities</h1>

                                        <h3 class="title">Department of Mathematics</h3>

                                        <div class="content container bgdata">
                                            <div class="page-wrapper"> 
                                                <div class="page-content">
                                                    <div class="row page-row">
                                                        <article class="welcome col-md-8 col-sm-7">                         
                                                            
                                                            <ul class="custom-list-style medical">
                                                                <li><i class="fa fa-star"></i>Science Forum activities since from 2007.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>National science day celebration 28-02-2013 followed by Quiz competitions between 18-02-2013 to 28-02-2013.</li>
                                                                <br>
                                                                <li><i class="fa fa-star"></i>ISTE Sponsered One Day Programme On Ramanujan Mathematics Awareness Programme (RMAP) Entitled “Importance of Mathematics and Its Applications in Engineering and Technology” is arranged on 1st March 2013.</li>
                                                               
                                                            </ul>


                                                        </article><!--//page-content-->
                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                <br>

                                
                                                        </article><!--//page-content-->                                                
                                                    </div><!--//page-row-->
                                                </div><!--//page-content-->
                                            </div><!--//page--> 
                                        </div>
                                    </div>
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}