{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Mathematics</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li class="active"><a href="/department/UG/MAT/home">Home</a></li>
                                    <li><a href="/department/UG/MAT/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/MAT/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/MAT/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/MAT/activities">Activities</a></li>
                            
                                    <li><a href="/department/UG/MAT/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">  
                              
                            <article class="welcome col-md-10 col-sm-8">                         
                                        <p><img class="img-responsive" src="assets/images/cse/cs.JPG" alt="" height="350px;" /></p>
                                        <div class="box">
                                        <p>Department of Mathematics started in the year 1979 in order to cater the needs of mathematical applications for the students pertaining to the Engineering skills.
                                                 Department of Mathematics has been recognized as Research Centre by Kuvempu University on 08-04-2005.
                                                  Two candidates have been awarded Ph.D in the research Area : Mathematical Modeling under the supervision of Dr. K.S Basavarajappa Prof. and Head. 
                                                  Later the department of mathematics is recognized as Research Centre by Visvesvaraya Technological university “Jnana Sangama”,(VTU) Belgaum on 25-03- 2008 as Research Centre Five candidates are persuing for Ph.D programme under VTU, Belgaum.
                                                   Sixteen research papers are published in National and international Journals.
                                               </p>
                                        </div>
                                    </article>      
                        
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}