{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Mathematics</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/MAT/home">Home</a></li>
                                    <li><a href="/department/UG/MAT/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/UG/MAT/infrastucture">Infrastructure</a></li>
                                    <li><a href="/department/UG/MAT/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/MAT/activities">Activities</a></li>
                                
                                    <li><a href="/department/UG/MAT/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">                               

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Laboratory facilities</h1>
                                   <p> Computers with softwares (Softwares from central facilities from the institute).</p>
                                   <h1 class="no-margin-top has-divider text-highlight">Equipments/Software</h1>
                                   <p> MS office, Turbo C, C++ , Mat Lab version - 7.0 and FEM</p>
                                        
                                    </article><!--//page-content-->    
                                </div>
                            <br>

                            
                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}