{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Mathematics</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/MAT/home">Home</a></li>
                                    <li class="active"><a href="/department/UG/MAT/profile">Vision and Mission</a></li>
                                    <li><a href="/department/UG/MAT/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/MAT/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/MAT/activities">Activities</a></li>
                                    
                                    <li><a href="/department/UG/MAT/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                         
                        <div class="content-wrapper col-md-10 col-sm-8">

                            <div class="content container">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Vision</h3>
                                                    <p>Our vision is to expand our role as a center for quality graduate and Postgraduate education programs and research in spatial information science and engineering and in information systems generally to help fulfill the needs of engineering education.
</p>

                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>
                            <br><br>
                            <div class="content container">
                                    <div class="page-wrapper"> 
                                        <div class="page-content">
                                            <div class="row page-row">
                                                <article class="welcome col-md-8 col-sm-7">                         
                                                    <h3 class="title" style="font-weight: 600">Mission</h3>
                                                    <p>The mission of the Mathematics Department is to have a positive and lasting impact on the quality of mathematics education and assist educators of mathematics in meeting the challenges of today’s dynamic educational landscape.It strives to provide excellent teaching, research, and service to the university community and to the world in the application of mathematics to other disciplines.

</p>
                                                </article><!--//page-content-->
                                                
                                            </div><!--//page-row-->
                                        </div><!--//page-content-->
                                    </div><!--//page--> 
                            </div>

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}