{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- ******CONTENT****** -->
<div class="content container bgdata">
  <div class="page-wrapper">
    <header class="page-heading clearfix">
      <strong>
        <h1 class="textColorCustom" style="font-weight: 600">Canteen</h1>
      </strong>

    </header>
    <div class="page-content">
      <div class="row page-row">
        <article class="welcome col-md-12 col-sm-11">

          <!-- <p><img class="img-responsive" src="assets/images/750x300-about.jpg" alt="" /></p> -->
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="{% static 'assets/images/facilitles/canteen_1.jpg' %}" alt="Los Angeles" style="width:100%;">
              </div>

              <div class="item">
                <img src="{% static 'assets/images/facilitles/canteen_2.jpg' %}" alt="Los Angeles" style="width:100%;">
              </div>

            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <br><br>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. </p> -->
          <ul class="custom-list-style canteen">
            <li><i class="fa fa-check"></i>Designed to cater to <b>1000</b> students & staff</li>
            <li><i class="fa fa-check"></i>Modern Kitchen</li>
            <li><i class="fa fa-check"></i>Steam Cooked Food</li>
            <li><i class="fa fa-check"></i>Bakery Shop</li>
            <li><i class="fa fa-check"></i>Hygienic Serving</li>
          </ul>

          <blockquote class="custom-quote">
            <p><i class="fa fa-quote-left"></i>1000 students & staff not only eat but exchange views food is <b>steam
                cooked</b> and <b>hygienic</b> serving &nbsp; <i class="fa fa-quote-right"></i></p>
            <!-- <p class="people"><span class="name">Adam Windsor</span><br><span class="title">Principle, College Green Online</span></p> -->
          </blockquote>
          <p>
            The college canteen is designed to cater to 1000 students & staff. The college canteen is a place where
            students congregate to not only eat but exchange views.
          </p>
          <br>
          <p>
            Our canteen has a modern kitchen where food is steam cooked. The washed dishes are sterilized for hygienic
            serving. On campus in Canteen we also have a <b>Bakery shop</b>.
          </p>


        </article>
        <!--//page-content-->

      </div>
      <!--//page-row-->
    </div>
    <!--//page-content-->
  </div>
  <!--//page-->
</div>
<!--//content-->
</div>
<!--//wrapper-->

{% endblock %}