{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="content container bgdata content-text">
    <div class="page-wrapper w3-card">
        <header class="page-heading clearfix">
            <strong>
                <h1 class="textColorCustom" style="font-weight: 600">E - Learning</h1>
            </strong>
        </header>
        <div class="page-content" style="width: 90%;">
            <div class="row page-row">
                <article class="welcome col-md-12 col-sm-11">
                    <!-- <p><img class="img-responsive" src="assets/images/750x300-about.jpg" alt="" /></p> -->


                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. </p> -->
                    <ul class="custom-list-style">
                        <p>
                            Edusat is a satellite based distance learning programme. Our institution is having this
                            facility in Information Science Dept seminar hall. In this programme the students can listen
                            to lecturers from experts related to their subjects. It is one way video and two way audio
                            supported technology. In this students can interact with experts to enhance their knowledge
                            related to the subject. The main purpose of this project is to provide new techniques using
                            multimedia supports to students. Edusat provides a schedule of programme events for every
                            semester which will be available in respective departments or the students can also get the
                            event calendar from <b>http://elearning.vtu.ac.in</b> website. Along with regular academic
                            subjects the Edusat also offers different technical trainings such as ,
                            <b>communication skills</b>,<b>.NET technologies</b>.The Edusat also conducts different
                            workshops on faculty development programme. Totally we can tell that Edusat very well
                            organized and knowledgeable programme to the students.The students can use this facility to
                            enhance their skills and academic ability.</p>
                        </p>
                        <br>


                        <ul class="custom-list-style medical">
                            <h2>Features :</h2>
                            <li><i class="fa fa-check"></i> Satellite based distance education system.</li>
                            <li><i class="fa fa-check"></i>Student can interact with subject experts.</li>
                            <li><i class="fa fa-check"></i>Other than academic curriculum the students can enhance their
                                skills by listening to technology oriented lectures such as <b>.NET</b> technologies.
                            </li>
                        </ul>
                </article>
            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
</div>
<!--//content-->
<br><br><br>
{% endblock %}