{% extends 'base.html' %}

{% load static %}
{% block content %}
        <div class="content container bgdata">
            <div class="page-wrapper">
                <div class="page-content">
                    <div class="row page-row">
                            <header class="page-heading clearfix">
                                <strong><h1 style="font-size:4rem">Internet</h1></strong>
                            </header> 
                        
                        <div class="content-wrapper col-md-12 col-sm-11">  
                            <!-- <div class="page-row"> -->
                               
                               
                                <div class="table-responsive">                      
                                    <table class="table table-boxed table-striped">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Type of Connectivity</th>
                                                <th>Particulars</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>8 Mbps RailTel Corp(Control at Secundarabad).</td>
                                                <td>Leased line with OFC backbone, Static IP addressing</td>
                                                <!-- <td><span class="label label-success">Approved</span></td> -->
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>2-8 Mbps broadband(Control at Bangalore).</td>
                                                <td>Limited Static IP addressing</td>
                                                <!-- <td><span class="label label-warning">Pending</span></td> -->
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>10 Mbps VPN(VTU project).</td>
                                                <td>2Mbps X 5 Lines Dynamic IP addressing.</td>
                                                <!-- <td><span class="label label-danger">Rejected</span></td> -->
                                            </tr>
                                            <tr>
                                           
                                        </tbody>
                                    </table><!--//table-->
                                </div><!--//table-responsive-->                            
                            <!-- </div> -->
                            <!-- page-row                                                                     -->
                        </div><!--//content-wrapper-->  
                        
                        
                        <br><br>
                        <div class="content-wrapper col-md-12 col-sm-11">  
                                <!-- <div class="page-row"> -->
                                   
                                            <br><br><br><br>
                                            <p>1. Around 300 computer systems out of 900 systems available in     the campus, are connected to the Internet, through the fiber     optics backbone.</p>
                                            <p>2. Every department caters to the needs of the students and staff     with their respective Internet laboratory.</p>
                                            <p>3. Internet facility is provided to the 1st year students at the Bio-     Technology Computer Centre (With 30 systems connectivity) and     in Library (With 18 systems connectivity).</p>
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    {% endblock %}
      