{% extends 'base.html' %}

{% load static %}
{% block content %}

 <div class="content container content-text">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <strong><h1 style="font-weight: 600">English Language Lab</h1></strong>

          </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <article class="welcome col-md-12 col-sm-11">                         
                           
                            <!-- <p><img class="img-responsive" src="assets/images/750x300-about.jpg" alt="" /></p> -->
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. </p> -->
                            <ul class="custom-list-style">
                              <h1></h1>
                            <p>
                                    Our Institution provides Language lab facility to enhance the communication skills of the students. Today’s world requires a student who is in good in English. It is the communication media which is needed for our students to advance their careers. The language laboratory plays an important role in learning language. It has a number of facilities to help the student to learn the language and to communicate proficiently. In the language lab the text, video and audio are integrated. The teacher will help to use the features of the language lab. The students can record their voice, playback their recording and can interact with each other and also with the teacher. The purpose or the language lab is to actively involve the students in the learning process of English. The language plays an important role in assessing the student’s speech.
                            </p>
                            <br>
                           
                                    
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. </p> -->
                            <ul class="custom-list-style medical">
                            <h2>Features</h2>
                                <li><i class="fa fa-check"></i> Reflection on the organization of sentence components.</li>
                                <li><i class="fa fa-check"></i>The use of vocabulary and grammar in fill-in-the-blanks exercises.</li>
                                <li><i class="fa fa-check"></i>Vocabulary practice with association exercises, which consist of matching a word with its synonym.</li>
                                <li><i class="fa fa-check"></i>Reflection on vocabulary or grammar using texts, in which students must identify words belonging to a specific grammatical or lexical group.</li>
                                <li><i class="fa fa-check"></i>The language lab helps the student to become proficient in using the language.</li>
                            </ul>
                            
                            
                            
                        </article><!--//page-content-->
                        
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    
    {% endblock %}





