{% extends 'base.html' %}

{% load static %}
{% block content %}
        <!-- ******CONTENT****** --> 
        <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                   <strong><h1 style="font-size:4rem; font-weight: 400;">Medical Facility</h1></strong> 
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <div class="news-wrapper col-md-12 col-sm-11">                         
                            <article class="news-item">

                            <ul class='medical'>
                            <li>Institute Health Centre</li>
                                <br>
                                <li>Bapuji Hospital</li>
                                <br>
                                <li>SS Hospital</li>
                                <br>
                                <li>Bapuji Dental College & Hospital</li>
                                <br>
                                <li>College of Dental Sciences</li>
                                <br>
                                <li>All the department laboratories have first-aid kits</li>
                                <br>
                                <li>Biomedical Engineering department has facility to measure the blood pressure, body temperature, heart rate, oxygen saturation, ECG, eye & ear testing, etc.</li>
                            </ul>
                                <!-- <p class="meta text-muted">By: <a href="#">Admin</a> | Posted on: 26 Jan 2014</p> -->
                                <!-- <p class="featured-image"><img class="img-responsive" src="assets/images/news/news-1.jpg" alt="" /></p> -->
                                
                               
        
        
        <br>

       <p class="featured-image"><img class="img-responsive" src="{% static 'assets/images/medical/img1.jpg' %}" alt="" /></p>
       <p class="box col-md-7">
        Blood pressure measurement in the Health Centre.
       </p>


        <p class="featured-image"><img class="img-responsive" src="{% static 'assets/images/medical/img2.jpg' %}" alt="" /></p>
        <p class="box col-md-7">
            Eye testing in Biomedical Engineering Department.
        </p>
        


        <p class="featured-image"><img class="img-responsive" src="{% static 'assets/images/medical/img3.jpg' %}" alt="" /></p>
        <p class="box col-md-7">
            Ear testing in Biomedical Engineering Department.
        </p>
        


        <p class="featured-image"><img class="img-responsive" src="{% static 'assets/images/medical/img4.jpg' %}" alt="" /></p>
        <p class="box col-md-7">
            Blood pressure and pulse rate measurement at Biomedical Engineering Dept.
        </p>
                              
                            </article><!--//news-item-->
                        </div><!--//news-wrapper-->
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}