{% extends 'base.html' %}

{% load static %}
{% block content %}
    
        <!-- ******CONTENT****** --> 
        <div class="content container">
            <div class="page-wrapper">
                <div class="page-content">
                    <div class="row page-row">
                            <header class="page-heading clearfix">
                                <strong><h1 style="font-size:4rem">Scholarship</h1></strong>
                            </header> 
                        
                        <div class="content-wrapper col-md-12 col-sm-11">  
                            <!-- <div class="page-row"> -->
                               
                                <!-- <h3 class="has-divider text-highlight">Boxed Table</h3> -->
                                <p>The following Scholarship are available for needy and deserving students:</p>
                                <div class="table-responsive">                      
                                    <table class="table table-boxed">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Particulars of Scholarship</th>
                                                <th>Sanctioning Authority</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> <b>1.</b> </td>
                                                <td>SC/ST Scholarship [Below 2 Lakh Income]</td>
                                                <td>Social Welfare Office</td>
                                                <!-- <td><span class="label label-success">Approved</span></td> -->
                                            </tr>
                                            <tr>
                                                <td><b>2.</b></td>
                                                <td>SC/ST Scholarship [Above 2 Lakh Income]</td>
                                                <td>DTE Office</td>
                                                <!-- <td><span class="label label-warning">Pending</span></td> -->
                                            </tr>
                                            <tr>
                                                <td><b>3.</b></td>
                                                <td>Catagary I,II,III Scholarship</td>
                                                <td>BCM Office</td>
                                                <!-- <td><span class="label label-danger">Rejected</span></td> -->
                                            </tr>
                                            <tr>
                                                <td><b>4.</b></td>
                                                <td>Minority Scholarship [Loan]</td>
                                                <td>Karnataka Minority Development, Bangalore</td>
                                                <!-- <td><span class="label label-danger">Rejected</span></td> -->
                                            </tr>
                                            <tr>
                                                <td><b>5.</b></td>
                                                <td>Minority Merit students Scholarship</td>
                                                <td>Karnataka Minority Development, Bangalore</td>
                                                <!-- <td><span class="label label-danger">Rejected</span></td> -->
                                            </tr>
                                            <tr>
                                                <td><b>6.</b></td>
                                                <td>Handicapped Scholarship</td>
                                                <td>Handicap& Senior Citizen Welfare Department</td>
                                                <!-- <td><span class="label label-danger">Rejected</span></td> -->
                                            </tr>
                                            <tr>
                                                <td><b>7.</b></td>
                                                <td>Kittur Rani Channamma Scholarship [Merit Girl Students]</td>
                                                <td>Director of Collegiate Education</td>
                                                <!-- <td><span class="label label-danger">Rejected</span></td> -->
                                            </tr>
                                            <tr>
                                                <td><b>8.</b></td>
                                                <td>Above 80% Merks in PUC [Merit Scholarship]</td>
                                                <td>PUC Education Board Bangalore [MHRD]</td>
                                                <!-- <td><span class="label label-danger">Rejected</span></td> -->
                                            </tr>
                                            <tr>
                                                <td><b>9.</b></td>
                                                <td>Merit Scholarships</td>
                                                <td>Other Minority Societies.</td>
                                                <!-- <td><span class="label label-danger">Rejected</span></td> -->
                                            </tr>
                                        </tbody>
                                    </table><!--//table-->
                                </div><!--//table-responsive-->                            
                            <!-- </div> -->
                            <!-- page-row                                                                     -->
                        </div><!--//content-wrapper-->  
                        
                        
                        <br><br>
                        <div class="content-wrapper col-md-12 col-sm-11">  
                                <!-- <div class="page-row"> -->
                                   
                                    <!-- <h3 class="has-divider text-highlight">Boxed Table</h3> -->
                                    <p>Government of India:</p>
                                    <div class="table-responsive">                      
                                        <table class="table table-boxed">
                                            <thead>
                                                <tr>
                                                    <th>S.No.</th>
                                                    <th>Particulars of Scholarship</th>  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><b>1.</b></td>
                                                    <td>Ministry of Labour Employment Office</td>
                                                </tr>
                                               
                                            </tbody>
                                        </table><!--//table-->
                                    </div><!--//table-responsive-->                            
                                <!-- </div> -->
                                <!-- page-row                                                                     -->
                            </div>
                            <br><br>
                            <div class="content-wrapper col-md-12 col-sm-11">  
                                    <!-- <div class="page-row"> -->
                                       
                                        <!-- <h3 class="has-divider text-highlight">Boxed Table</h3> -->
                                        <p>Defence:</p>
                                        <div class="table-responsive">                      
                                            <table class="table table-boxed">
                                                <thead>
                                                    <tr>
                                                        <th>S.No.</th>
                                                        <th>Particulars of Scholarship</th>  
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><b>1.</b></td>
                                                        <td>Asst Director,Sainik Welfare Office</td>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table><!--//table-->
                                        </div><!--//table-responsive-->                            
                                    <!-- </div> -->
                                    <!-- page-row                                                                     -->
                                </div>

                                <br><br>

                                <div class="content-wrapper col-md-12 col-sm-11">  
                                        <!-- <div class="page-row"> -->
                                           
                                            <!-- <h3 class="has-divider text-highlight">Boxed Table</h3> -->
                                            <p>Local Bodies:</p>
                                            <div class="table-responsive">                      
                                                <table class="table table-boxed">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No.</th>
                                                            <th>Particulars of Scholarship</th>  
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>1.</b></td>
                                                            <td>City Corporation/Municipal Offices</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>2.</b></td>
                                                            <td>Taluk/Grama Panchayat</td>
                                                        </tr>
                                                       
                                                    </tbody>
                                                </table><!--//table-->
                                            </div><!--//table-responsive-->                            
                                        <!-- </div> -->
                                        <!-- page-row                                                                     -->
                                    </div>

                                    <br><br>

                                    <div class="content-wrapper col-md-12 col-sm-11">  
                                            <!-- <div class="page-row"> -->
                                               
                                                <!-- <h3 class="has-divider text-highlight">Boxed Table</h3> -->
                                                <p>Out of State:</p>
                                                <div class="table-responsive">                      
                                                    <table class="table table-boxed">
                                                        <thead>
                                                            <tr>
                                                                <th>S.No.</th>
                                                                <th>Particulars of Scholarship</th>  
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><b>1.</b></td>
                                                                <td>D.T.E(Nagaland)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>2.</b></td>
                                                                <td>District Welfare Office(Bihar)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>2.</b></td>
                                                                <td>Chief Executive Officer(Bihar)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>4.</b></td>
                                                                <td>Social Welfare Office [Districtwise](Bihar)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>5.</b></td>
                                                                <td>Social welfare Office(Uttar Pradesh)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>6.</b></td>
                                                                <td>Directorate of Higher & Technical Education(Arunachal Pradesh)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>7.</b></td>
                                                                <td>Social welfare Office(Jharkhand)</td>
                                                            </tr>
                                                        </tbody>
                                                    </table><!--//table-->
                                                </div><!--//table-responsive-->                            
                                            <!-- </div> -->
                                            <!-- page-row -->
                                        </div>
                                        <br><br>

                                        <div class="content-wrapper col-md-12 col-sm-11">  
                                                <!-- <div class="page-row"> -->
                                                   
                                                    <!-- <h3 class="has-divider text-highlight">Boxed Table</h3> -->
                                                    <!-- <p>Defence:</p> -->
                                                    <div class="table-responsive">                      
                                                        <table class="table table-boxed">
                                                            <thead>
                                                                <tr>
                                                                    <th>S.No.</th>
                                                                    <th>Particulars of Scholarship</th>  
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><b>7.</b></td>
                                                                    <td>Merit Scholarship</td>
                                                                </tr>
                                                               
                                                            </tbody>
                                                        </table><!--//table-->
                                                    </div><!--//table-responsive-->                            
                                                <!-- </div> -->
                                                <!-- page-row -->
                                            </div>

                                            <br><br><br><br>
                                            <p><b>1.</b> Dr.Shamanur Shivashankarappa Trust–Poor and Merit Scholarship.</p>
                                            <p><b>2.</b> Dr S Manjappa HOD of Chemistry Department of our Institute has deposited the
                                                 amount of Rs 200000.00 The scholarship will be given to the poor students on 
                                                 the basis of merit only out of the Interest every year.</p>

                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}